[2016-09-11 15:19] rclark commented on #1018
Thanks for tracking that down @mantoni -- I would have to agree that either there was a regression or the commit you've indicated solved something other than this specific issue. It looks to me (having never worked on sinon before) like the issue is entirely in the `wrap-method.js` script.

In master, the problems starts here https://github.com/sinonjs/sinon/blob/1e0b2373219668a9676fd11506117cb824

[2016-09-12 07:29] mantoni commented on #1018
Thanks for tracking it down. Your research tells me that this is different issue than the one reported here, however with the same outcome. Reopening the issue.

Can you send a pull request adding the failing test? Or even have a stab at fixing it?

[2016-09-13 09:14] roc commented on #458
@fearphage didn't have any free time to reproduce this until now. Here's an example with `proxyquire`, which I feel maybe muddies the waters of what's happening here, but I'd hoped it might be useful nonetheless:

https://github.com/roc/sinon-filesync

[2016-09-13 10:10] fearphage commented on #458
@roc Your test case is a no go. It's broken. No passing tests at all.

[code]

[2016-09-13 16:07] fearphage commented on #458
[code]

The way your code is written you'll never be able to mock it out without something like `proxyquire`. You're calling functions at import-time which is generally a bad idea. To rephrase, as soon as someone require's your file, you start executing code. That's suboptimal. If you altered your code a bit, it would make it much easier to test and much more friendly for other people to use.

[co

[2016-09-13 19:14] GeoffreyPlitt commented on #1051
+1

[2016-09-13 19:48] fatso83 commented on #1051
@GeoffreyPlitt that +1 serves no purpose. this issue is closed. there is no way of knowing if you meant to imply that you have been bitten by this bug, the #1143 bug or you wish to express a concurring opinion for something else. The "+😄" button is there for this reason, and it is also a way of doing the same with less noise ;-)

[2016-09-14 01:11] andpor commented on #1143
@fatso83 Carl from initial glance it looks like the setTimeout from lolex-src from line 32: var timeoutResult = setTimeout(NOOP, 0); somehow is resolving into a RN setTimeout...

[2016-09-14 01:18] andpor commented on #1143
@simonsmith can you try with latest RN 0.34-rc0. I see JSTimers.js heavily refactored - maybe the issue is resolved in RN?

[2016-09-14 21:25] evan-king commented on #638
I can't tell if this level of generator stubbing actually works (particularly in coroutine-oriented scenarios) - it seems some emulation of async behavior might be in order.  But I do think there's a way around the parsing issue.

**Suggestion**:

Extract the generator code into a separate file and `require()` that file only on demand when wrapping a generator function, i.e.:

?/es6-support.js:
[c

[2016-09-15 10:14] fatso83 commented on #638
@evan-king That conditional require is not a solution, as it will break in our browser builds. As conditional requires defeats static analysis of the dependency graph tools such as WebPack and Browserify will be unable to deal with it. It's either totally in or totally out.

And yes, ES5 compatibility is a thing. [ES6 generator support](http://kangax.github.io/compat-table/es6/#test-generators) is

[2016-09-15 13:08] vellotis commented on #1119
Ping?

[2016-09-15 23:30] tomitrescak opened #1146 "sinon.test removed from 2.0"
According to your changelog for 2.0.0

* Remove `sinon.test()` and `sinon.testCase` and `sinon.assert`

What is the replacement strategy now?

[EDIT]
I have found the sinon-test repo

But what about the sinon assert?

Thanks

[2016-09-16 01:03] tomitrescak commented on #1146
Nevermind, all solved.

[2016-09-16 01:03] #1146 closed

[2016-09-16 11:28] robertknight opened #1147 "sinon.assert.match documentation missing"
sinon has a useful `match()` assertion method to test whether a value matches another using `sinon.match()`. This was added in https://github.com/sinonjs/sinon/pull/410 but is not documented in http://sinonjs.org/docs/#assertions-api

@ropez I assume this was intended to be a public API?

A secondary issue is that when sinon's assertions are exposed on the same `assert` object as chai's assertions

[2016-09-16 12:51] Chintanvpatel opened #1148 "Test event emitter in HTTP with sinon"
Hello,

I have this function to download file
[code]

Now how can I test events like "finish" and "error" of http.get object.

Thanks & Regards,
Chintan Patel

[2016-09-16 14:37] fatso83 commented on #1147
@robertknight : the state of documentation is less than optimal at the moment, but hopefully we will push a new site soon. Documentation is kept up-to-date in the `docs` directory in this repo. You can find [plenty of docs on matchers](https://github.com/sinonjs/sinon/blob/master/docs/current/matchers.md) there.

As to what other people/libraries are doing with sinon's assertions, that is up to th

[2016-09-16 15:47] mantoni commented on #1148
We are trying to keep the GitHub issues list tidy and focused on bugs and feature discussions. This ticket looks like a usage question, please post it to the [Sinon.JS mailinglist](http://groups.google.com/group/sinonjs), so the bigger community can help answer your questions.

If you feel that your topic is an issue with Sinon.JS, please open a new ticket and follow the [guidelines for reporting

[2016-09-16 15:47] #1148 closed

[2016-09-16 16:49] robertknight commented on #1147
Thanks @fatso83 . Although there is decent documentation for matchers themselves, `sinon.assert.match` is not mentioned on https://github.com/sinonjs/sinon/blob/master/docs/current/assertions.md

[2016-09-17 21:08] TheSavior opened #1149 "sandbox.restore with args should throw"
* Sinon version: 1.17.5
* Environment: node / browser
* Example URL: https://runkit.com/5701d7f537a13d1200a55a1b/57ddaf833ffa1f1400543e75
* Other libraries you are using: none

I expected this code to throw since `sandbox.restore` doesn't take any arguments.

[code]

I've found that in a couple places in our code base, engineers think they can restore an individual stub by calling:
[code]
Which ac

[2016-09-19 04:37] Chintanvpatel commented on #1148
Ok I posted it in [Mailing list](https://groups.google.com/forum/#!topic/sinonjs/5q5xkwElsvM).

[2016-09-19 07:31] fatso83 commented on #1149
Sure, that seems like an obvious bug that's easy to fix. Could you perhaps create a PR to address this and I'll see to it that it gets merged?

[2016-09-19 08:44] #1149 closed

[2016-09-19 08:49] fatso83 commented on #1149
FYI: Do note that the fix in #1150 goes into `#master`, which is the upcoming Sinon 2.0, not the 1.17.x maintenance release. If you want it both places the patch needs to be reapplied against the 1.17 branch.

To get the working pre-release, just change version by `npm install --save-dev sinon@next`.

[2016-09-19 14:44] motanelu opened #1152 "Feature request - window events"
Hi,

Currently sinon does not offer the possibility to trigger fake window events, while there are several use cases that would justify the need for such calls:

[code]

My suggestion is to provide an interface to trigger programatically these events in order to make sure that applications are testable.

[code]

Thank you

t.

[2016-09-19 15:16] mantoni commented on #1152
We are currently in the process of making the Sinon core environment independent. This means that the XHR stuff is moved out of the Sinon core into a separate project. Therefore I think that fake events should also be implemented in a separate library.

Having said that, there is a way to trigger events in [bean](https://github.com/fat/bean), which I used successfully for that use case before.

Yo

[2016-09-19 15:16] #1152 closed

[2016-09-19 21:13] grandtiger opened #1153 "Does Sinon.js support mocking native node.js modules, such as ZMQ?"
This is a general question. Does Sinon.js support mocking of native node.js modules, such as ZMQ? https://www.npmjs.com/package/zmq

I tried to mock it and got the following error. If native module is supported by design, I'll provide a simple project for you to replicate the issue. Thanks a lot for your help!

[code]

[2016-09-19 21:19] mantoni commented on #1153
We are trying to keep the GitHub issues list tidy and focused on bugs and feature discussions. This ticket looks like a usage question, please post it to the [Sinon.JS mailinglist](http://groups.google.com/group/sinonjs), so the bigger community can help answer your questions.

If you feel that your topic is an issue with Sinon.JS, please open a new ticket and follow the [guidelines for reporting

[2016-09-19 21:19] #1153 closed

[2016-09-19 21:38] grandtiger commented on #1153
Thanks for the message! I just posted a new topic to the mailing list.

Sent from my iPhone

[2016-09-20 02:36] fearphage commented on #1146
In case anyone else ends up here:

https://github.com/sinonjs/sinon-test

[2016-09-21 01:07] DullReferenceException opened #1154 "Matcher being called when setting up stub behavior"
- Sinon version : 1.17.6
- Environment   : Node
- Other libraries you are using: `chai`, `sinon-chai`

I am setting up two behaviors for a stub using a custom matcher:

[code]

For some reason, when that second `.withArgs` is called, that first matcher's function is invoked and is passed the matcher object. This is before the stub itself is ever called.

[2016-09-21 12:56] monolithed opened #1155 "global: TypeError: Cannot read property 'call' of undefined"
#### 1

[code]

[code]
#### 2

[code]

[code]

Details

[code]

How to stab global object?

[2016-09-21 15:17] fatso83 commented on #1155
Which version of Sinon are you using? We have an issue template for a reason :-)

[2016-09-21 15:51] monolithed commented on #1155
@fatso83, the last 1.17.6

[2016-09-21 22:36] daprahamian commented on #1121
👍

[2016-09-23 20:43] droarty commented on #1130
I had a similarly weird issue when updating to 1.17.5.  Rolling back to 1.17.4 fixed it.

I couldn't pin point sinon as the issue though.  My specs fail due to `then` never being called  in `$.ajax({..}).then()`.  Where I used the ajax `success:` callback I didn't have problems.   My problem in isolating this is in that I am also migrating React from 15.2.1 to 15.3.1.   If I only update one of the

[2016-09-25 19:44] marthinus-engelbrecht opened #1156 "my-test-component"
* Sinon version : _please verify that the bug exists in the latest Sinon release_
* Environment   :
* Example URL   :
* Other libraries you are using:

**What did you expect to happen?**

**What actually happens**

**How to reproduce**

<details>
    <summary>Really long code sample or stacktrace</summary>

    If you need to provide a dump of a stack trace or
    other lengthy material, such as 8

[2016-09-25 19:45] #1156 closed

[2016-09-27 15:31] laumair opened #1157 "returnValue throws undefined."
* Sinon version : 1.17.5
* Environment   : Mocha
* Other libraries you are using: Enzyme, sinon-chai, chai

**Method under test**
[code]
**Test**
[code]
I get undefined on the return value. I've tried this with spies as well. Still the same. The method is a class method that simply returns a transform json array. It works fine otherwise, but I am not sure what I am missing in the tests. Am I missi

[2016-09-28 14:10] fatso83 commented on #1157
We are trying to keep the GitHub issues list tidy and focused on bugs and feature discussions. This ticket looks like a usage question, please post it to the [Sinon.JS mailinglist](http://groups.google.com/group/sinonjs), so the bigger community can help answer your questions.

If you feel that your topic is an issue with Sinon.JS, please open a new ticket and follow the [guidelines for reporting

[2016-09-28 14:10] #1157 closed

[2016-09-28 14:37] davidtzoor commented on #878
@fatso83 I didn't understand if there is a way to stub an ES6 class method, and still having the same issue (BTW, I can't seem to find sinon v2 anywhere...)

[2016-09-28 15:15] fatso83 commented on #878
@davidtzoor There is nothing special about an ES6 class compared to an ES5 class. It's just syntactic sugar. You still have the prototype _object_. Stub instance methods any way you would with an ES5 class.

[code]

is nothing but this
[code]

So if you want to stub class methods just stub methods on the class object and not on the instances:
[code]

[2016-09-29 05:36] apmeena opened #1158 "how to use sinon js with Express js unit testing"
[http://stackoverflow.com/questions/39747397/how-to-use-sinon-js-with-express-js-unit-testing/](http://stackoverflow.com/questions/39747397/how-to-use-sinon-js-with-express-js-unit-testing/)

[2016-09-29 07:44] fatso83 commented on #1158
We are trying to keep the GitHub issues list tidy and focused on bugs and feature discussions. This ticket looks like a usage question, please post it to the [Sinon.JS mailinglist](http://groups.google.com/group/sinonjs), so the bigger community can help answer your questions.

If you feel that your topic is an issue with Sinon.JS, please open a new ticket and follow the [guidelines for reporting

[2016-09-29 07:44] #1158 closed

[2016-09-29 11:27] SVasilev opened #1159 "Spy on built-in Node constructors"
Hello,
I am trying to spy on built-in constructor function, for example ArrayBuffer in Node.js. Is there a way to do that with sinon, because I've read the docs and didn't find such functionallity.
Best regards,
Stefan

[2016-09-29 16:31] fatso83 commented on #1159
We are trying to keep the GitHub issues list tidy and focused on bugs and feature discussions. This ticket looks like a usage question, please post it to the [Sinon.JS mailinglist](http://groups.google.com/group/sinonjs), so the bigger community can help answer your questions.

If you feel that your topic is an issue with Sinon.JS, please open a new ticket and follow the [guidelines for reporting

[2016-09-29 16:31] #1159 closed

[2016-09-29 19:26] marcelpanse opened #1160 "TypeError: sinon.assert is not a function"
* Sinon version : sinon@1.17.6
* Environment   :  osx
* Other libraries you are using:

Somehow sinon.assert doesn't work for me:

    const sinon = require('sinon')
    describe('Testing AddUser.js', () => {
      describe('#handle()', () => {
        it('success flow', () => {
          sinon.assert(true)
        })
      })
    })

output:

    TypeError: sinon.assert is not a function

[2016-09-29 20:00] mantoni commented on #1160
`sinon.assert` is not a function. It is an object with a collection of functions that help assert all sorts of things around fakes. Read all about them in the docs: http://sinonjs.org/docs/#assertions

[2016-09-29 20:00] #1160 closed

[2016-09-29 20:05] mantoni commented on #1117
What we could do already is protect master against force-pushes. I managed to screw up history once and it was a real pain to get straight again.

[2016-10-04 23:16] stevenmusumeche opened #1161 "Stubbing method in same file doesn't work"
I'm trying to unit test a function in a file while stubbing another function in the SAME file, but the mock is not being applied and the real method is being called. Here's an example:

[code]
And my test:

[code]

[2016-10-05 06:17] fatso83 commented on #1161
Think about how this would look in standard ES5. Each function is exported with a certain name on the exports object, but it is also internally referenceable using the function name. We are talking about two different references. When stubbing you are changing the external reference. The internal reference is kept the same. You cannot change it, except if you create an explicit dependency injector

[2016-10-05 06:17] #1161 closed

[2016-10-06 06:31] giedrius-timinskis commented on #1131
@fatso83 Still running into this issue.
Using Node v6.3.1, Jest v15.1.1, sinon v2.0.0-pre.3, enzyme ^2.4.1.

Getting
`TypeError: Cannot read property 'now' of undefined` whenever I try to `import sinon from 'sinon'`.

[2016-10-06 06:35] fatso83 commented on #1131
@giedrius-timinskis then you are running into a different issue. Please file a new issue and include sufficient info on how to reproduce this. Best: a public test repo with just enough code to trigger the error.

[2016-10-06 15:52] JoeChapman commented on #878
I couldn't get that to work

[2016-10-06 17:19] fatso83 commented on #878
Closed by mistake, sorry.

[2016-10-06 18:45] lucasfcosta commented on #878
I just tested this at the `master` branch with the exact same example described on the first post and the test passed. I'm not sure if I'm doing this on the wrong branch but this is the code I ran:

[code]

And it seems to be running without problems.

[2016-10-06 21:10] fatso83 commented on #878
@lucasfcosta, thank you for taking the time to check that out! Closing this as fixed.

[2016-10-06 21:11] fatso83 commented on #878
@JoeChapman, try the mailing list or the Gitter chat room.

[2016-10-06 21:14] davidtzoor commented on #878
@lucasfcosta did you also test stubbing a method of an existing class instance?

[2016-10-06 21:22] fatso83 commented on #878
@davidtzoor I know you asked how to do that earlier, so are the steps outlined failing to work somehow?

[2016-10-06 21:24] davidtzoor commented on #878
I am actually on a vacation, so can't check right now :) was wondering if
you already checked that. Will do next week, thanks
On Fri, 7 Oct 2016 at 00:23 Carl-Erik Kopseng <notifications@github.com>
wrote:

[2016-10-07 04:46] fatso83 commented on #878
It's working. Stubbing a function property is the most basic use case for Sinon. Calling it a staric class

[2016-10-07 12:54] fatso83 commented on #1131
@giedrius-timinskis: your test case is incomplete and not reproducible. Node 6 does not support the syntax `import sinon from 'sinon'`, so you are doing something else. Please file an issue with enough information to reproduce it, preferably with a link to a minimal repo.

[2016-10-08 08:43] zincli commented on #732
https://github.com/sinonjs/sinon/blob/master/lib/sinon/util/fake_server.js#L87

Why not make this an option to us the user? I use a lib for xhr, it's using XMLHttpRequest in IE9 nor XDomainRequest.

[2016-10-08 08:52] zincli commented on #732
[code]

For now, I use this to fix the test case in IE9. It would be great to have a choice while create the server.

May looks like this:

[code]

Will try to make a PR lately

[2016-10-08 14:25] thormartin91 commented on #1143
I am experiencing the same issue, with RN 0.34.1 as well.
Also, when using ES6 import: `import sinon from 'sinon';`, I get a slightly different error:

[code]

[2016-10-08 17:10] fatso83 commented on #1143
@thormartin91 could you create a repo that makes it possible to reproduce this easily? I am not likely to debug unsupported platforms I am not using just for fun, especially if it's a hassle to reproduce the error :-)

[2016-10-08 18:31] andpor commented on #1143
@thormartin91 if you create this simple repo I will take a look at the issue.

[2016-10-08 21:21] thormartin91 commented on #1143
This might actually be a problem with mocking of a component, hence the native constructor being called. I will continue to investigate and report back :)

[2016-10-10 02:03] dcousens commented on #613
I'm probably never going to have time to fix this,  @mroderick up to you to keep open

[2016-10-10 04:08] berniegp opened #1163 "fakeServer uses FakeXDomainRequest instead of FakeXMLHttpRequest in node"
- Sinon version : 1.17.6
- Environment   : node v6.7.0

Using `sinon.fakeServer.create()` does not produce the same result as using `sinon.useFakeXMLHttpRequest()` when mocking `XMLHttpRequest`. The latter replaces `XMLHttpRequest` with `FakeXMLHttpRequest` whereas the former uses `FakeXDomainRequest`.

This is a problem because `FakeXMLHttpRequest` has an `upload` property of type `UploadProgress

[2016-10-10 04:12] berniegp commented on #1163
https://github.com/sinonjs/sinon/issues/732#issuecomment-252412559 provides a workaround:

[code]

[2016-10-10 05:55] fatso83 commented on #613
I'll run this through a [custom git bisect script](https://github.com/fatso83/git-bisect-scripts/blob/master/sinon-passes-custom-test) to try and find the regression. Has worked in the past.

[2016-10-11 00:34] Munksey commented on #550
I think this issue has been open for a while, but I have a situation in which setTimeout is not restored.

[code]

I'm wondering what the correct behavior here is. Normally, sinon doesn't let you wrap something that is already wrapped. Should this produce an error or should it restore the timer?

[2016-10-11 07:18] thormartin91 commented on #1143
I have not managed to solve this issue, so I created a repository to reproduce it: [sinon-issue-1143](https://github.com/thormartin91/sinon-issue-1143). The exception occurs if you import **both** `sinon` and a `AppComponent` in the same test-file. Importing only one works fine. You'll find an example within the repo, in the file [Component.test.js](https://github.com/thormartin91/sinon-issue-1143

[2016-10-11 12:38] andpor commented on #1143
Just FYI, RN is not officially supported by sinon. Here you are talking about JEST + SINON on RN. So it is double not supported. I had not had an issue using sinon by itself with RN so far with the PR that was merged several months ago. I will take a look at your repo to see if there is anything obvious but I would not expect miracle - just to set expectations...

[2016-10-11 21:57] launchcg-ztonia commented on #993
Whoa whoa, behavior is going away? I needed that for handling stuff like the AWS sdk, where the invocation (for some reason) returns another method, which returns a promise.

[2016-10-12 06:02] thormartin91 commented on #1143
No problem, @andpor.
I intended to use `sinon` to spy on functions, but have solved it with `jest` by using:
[code]

[2016-10-13 06:44] srudchandran opened #1164 "No tag for 1.17.6"
There is no tag for 1.17.6 version. Please create.

[2016-10-13 19:46] fatso83 commented on #1164
It really is too easy to forget `git push --tags` step. Fixed.

Thanks!

[2016-10-13 19:46] #1164 closed

[2016-10-16 00:35] MatthewKosloski commented on #1057
doesn't work with Mocha:

	Error: Expected false to exist
	at assert (node_modules/expect/lib/assert.js:29:9)
	at Expectation.toExist (node_modules/expect/lib/Expectation.js:52:28)
	at Context.<anonymous> (test/components/Foo.spec.js:39:35)

[2016-10-18 14:30] jrgleason opened #1165 "Not loading via Webpack"
* Sinon version : 1.17.6
* Environment   : OSX > Webpack > Karma

**What did you expect to happen?**

`window["sinon"] = require('../dependencies/sinon-1.17.6');` (typescript) should work. The js file described here was the published full js file at the site per AMD requirements and not the NPM one.

**What actually happens**
[code]

seems like it should be similar to this... https://github.com/si

[2016-10-18 16:39] mroderick commented on #1165
This is a known issue with Sinon 1.x branch, see https://github.com/sinonjs/sinon#important-sinon-v1x-does-not-work-with-amdcommonjs-bundlers

Instead, either download a single file version from http://sinonjs.org, or use one of the pre-release versions like `2.0.0-pre.3`.

[2016-10-18 16:39] #1165 closed

[2016-10-19 09:53] micheleDiSalvatoreLoveholidays commented on #897
I have the same issue on the version 1.17.6 how is it possible?

[2016-10-19 12:15] fatso83 commented on #897
@micheleDiSalvatoreLoveholidays : you are not having the same issue. Whatever is happening it is something else, as the test case provided by @vitalets is running fine. I just tested:

[code]

If you want us to take a look at this you need to open an issue with a _reproducible test case_.

[2016-10-19 15:24] DanReyLop opened #1166 "Mock expectation errors should be re-thrown when calling mock.verify()"
* Sinon version : 2.0.0-pre.3 (`master` HEAD)
* Environment   : node 6.9.0
* Example URL   : N/A
* Other libraries you are using: N/A

**What did you expect to happen?**
A mock expectation error is thrown inside the code under test. Even if the exception is caight and silenced, I would expect that when calling `mock.verify()` the exception would be thrown again and make the test fail.

**What actu

[2016-10-19 15:44] fogine opened #1167 "Feature proposal: spy.calledWithValueOfType()"
Hello,

Thank you for your work, it's been very useful!

As the title says, it would be really cool if I could check that a spy has been called with value of given type.

Eg.:

[code]

Maybe `calledWithTypeOf` would be better name for the method.

What do you think about this feature?

[2016-10-19 19:43] mantoni commented on #1167
You can do this with a matcher like so:

[code]

There are a few built in matchers and you can also create your own. Check the docs and look for "matchers" to lern more.

[2016-10-19 19:43] #1167 closed

[2016-10-20 08:29] #1061 closed

[2016-10-20 21:53] tomitrescak opened #1169 "sinon.getConfig is deprecated and will be removed from the public API in a future version of sinon."
- Sinon version : 2.0.0-pre.2
- Environment   : MAC + Mocha
- Other libraries you are using:

"@kadira/storybook": "^2.24.0",
    "apollo-connector-mongodb": ">=0.0.1",
    "apollo-module-authentication": ">=1.0.0",
    "apollo-module-date": ">=1.0.1",
    "apollo-modules": ">=0.0.1",
    "apollo-server": ">=0.2.4",
    "bcrypt-nodejs": ">=0.0.3",
    "body-parser": ">=1.15.2",
    "connect-histor

[2016-10-21 02:06] coolnalu commented on #878
Encountered this issue today. The exact code works for all tests except in one file. driving me nuts. lol. will try to create a test case to reproduce.

[2016-10-21 05:40] #878 closed

[2016-10-21 05:45] fatso83 commented on #878
Think I mistakenly reopened this without noticing when commenting  a few weeks ago.

[2016-10-22 01:49] MatthewKosloski opened #1171 "fakeServer not working"
I have the following code for a simple fake server.  I'm testing with Mocha:

[code]

I get the following error:

[code]

Obviously the spy isn't getting called, any idea why?  I followed this [Gist](https://gist.github.com/cjohansen/739589) and the Fakeserver documentation on Sinon's website.

[2016-10-23 15:26] rodoabad opened #1172 "[QUESTION] Stubbing `function returns 'false'`"
This is more of a question than a bug report. I was wondering how do you stub a `function returns 'false'` I've tried doing `sandbox.stub(someObject, 'method').returns(() => false)` but it still says `function() {}`. Thanks!

[2016-10-24 13:13] hosing-lee opened #1174 "defake in sinon not working correctly"
- Sinon version : 1.17.1
- Environment   : OSX El Capitan 10.11.16, Chrome 53.0.2758
- Example URL   : NA
- Other libraries you are using: Polymer 1.7.0, iron-ajax 1.4.3

In our code we are using sinon.fakeServer with filters turned on. The filtering works with the provided filter pattern, but the response of the filtered endpoints are returned as String instead of Objects. When we disable sinon a

[2016-10-25 01:04] dcousens commented on #613
I don't know if this even happens any more.

[2016-10-25 15:28] fatso83 commented on #613
[sinon-test is nowadays a separate project](https://github.com/sinonjs/sinon-test), so the test cannot be run on normal sinon anymore. Closing until I can get a reproducible test case.

[2016-10-25 15:28] #613 closed

[2016-10-28 19:26] rpavlovs commented on #638
+1

[2016-11-01 16:34] montogeek commented on #1169
This is not an issue, it is a deprecation warning published to npm.
You don't need to use `getConfig` to get the warning, deprecation warnings are _general_ for the package

[2016-11-01 18:41] fatso83 commented on #1169
It is due to you using sinon-test and [probably not configuring it per the README](https://github.com/sinonjs/sinon-test/blob/master/README.md#usage).

See sinonjs/sinon-test#33

[2016-11-01 18:41] #1169 closed

[2016-11-03 10:29] micheleDiSalvatoreLoveholidays opened #1177 "Stubbed getter called on restoring"
Hi guys, I'm having an issue when I stub a getter. As I've seen [here](https://github.com/sinonjs/sinon/issues/897), it should work, but it could be that I'm not stubbing in the right way.

Sinon version:
[code]

This is the code to test
[code]

this is the test
[code]

[code]

[2016-11-03 15:21] PascalSenn commented on #830
try to use it as a webpack plugin
[code]

[2016-11-03 22:38] BigPrimeNumbers commented on #1139
So what was the solution? It's not clear to me here, and I'm running into the same issue.

[2016-11-04 02:00] tomitrescak commented on #1139
Use Sinon 2.0

[2016-11-04 13:58] jasonkuhrt commented on #738
This might be related but I'm not sure. Why does the third test below fail?

[code]

[2016-11-04 16:49] osmanpontes commented on #1171
I guess sinon hasn't support for node.js for a while. At the issue https://github.com/sinonjs/sinon/issues/319, @mantoni say sinon 2.0 will support fake server in node.js.

[2016-11-04 22:36] BigPrimeNumbers commented on #1139
That worked. Thanks!

[2016-11-07 23:24] jcrben commented on #773
You can draw some inspiration from a similar example with mocha. I found https://github.com/litixsoft/karma-mocha-reporter/issues/32 which helped get mocha's colored diffing into the karma-mocha-reporter.

You can see what it looks like over at https://github.com/litixsoft/karma-mocha-reporter#showdiff

[2016-11-08 02:33] jcrben commented on #773
fyi, just posted a $15 bounty for this https://www.bountysource.com/issues/23366130-producing-diff-in-calledwith

[2016-11-08 20:04] jdgreenberger opened #1179 "Expected arguments to be called with diff"
Using sinon 1.17.6 in Node.JS with sinon-chai. When expecting function arguments (i.e. expect(stub).to.have.been.calledWith) if a test fails, the thrown error contains the entire set of function arguments. If these arguments are big, it can be difficult to trace down the diff. Would be happy to submit my own PR, but was wondering if there is intention to improve this error by iterating through fun

[2016-11-08 23:36] machineghost commented on #88
+1

[2016-11-09 11:18] mroderick commented on #1177
What did you expect to happen? What is "should work" to you?

What actually happens? How can I see this failing for myself?

[2016-11-09 11:34] mroderick commented on #1155
I've created a little demo to show that this works as expected: https://github.com/mroderick/sinon-issue-1155-demo

I am closing this.

[2016-11-09 11:34] #1155 closed

[2016-11-09 11:35] mroderick commented on #1179
In to help reviewers to better understand what you're asking, could you add a few examples to this issue?

[2016-11-09 11:40] mroderick commented on #1154
Could you provide a code example that shows how this fails?

We have an issue template for good reasons.

[2016-11-09 11:42] mroderick commented on #1174
Does it still fail with latest release version of Sinon.JS, v.1.17.6?

Could you provide code samples that shows how this fails?

[2016-11-09 11:43] mroderick commented on #1172
We are trying to keep the GitHub issues list tidy and focused on bugs and feature discussions. This ticket looks like a usage question, please post it to the [Sinon.JS mailinglist](http://groups.google.com/group/sinonjs), so the bigger community can help answer your questions.

If you feel that your topic is an issue with Sinon.JS, please open a new ticket and follow the [guidelines for reporting

[2016-11-09 11:43] #1172 closed

[2016-11-09 11:46] mroderick commented on #1171
That is misquoting @mantoni, what he said in the linked issue was (emphasis mine):

[2016-11-09 12:02] mroderick commented on #1171
This was never intended to work in node, as stated here: https://github.com/sinonjs/sinon/issues/319#issuecomment-23244535

There are better ways to test your ajax code, than stubbing things at the very bottom of the stack. I would suggest stubbing out things as close to the source under test as possible.

Please post usage questions to the [Sinon.JS mailinglist](https://groups.google.com/forum/#!

[2016-11-09 12:02] #1171 closed

[2016-11-09 12:26] mroderick commented on #1147
@robertknight I've created a PR to add the missing documentation: https://github.com/sinonjs/sinon/pull/1180

[2016-11-09 12:45] mroderick commented on #88
Does https://github.com/mroderick/wrapple plug that gap for you?

[2016-11-09 13:05] qubyte commented on #88
Nowadays I use wrapple quite extensively, and I'd forgotten about commenting on this issue. That probably means that wrapple has plugged the gap as you say.

[2016-11-09 13:16] mroderick commented on #1166
I agree with your analysis that `mock.verify()` should cause the test to fail, even when errors caused by calling `this.object.method()` are suppressed.

I would welcome a pull request that addresses this issue.

Here is a question to consider: what should happen if there are multiple failures suppressed? What would be the error thrown when calling `mock.verify()`?

[code]

Would there be details

[2016-11-09 13:21] mroderick commented on #1163
How did you get this far in node, considering that there is no native XMLHttpRequest API?

Can we see some code and test that fails?

Keeping in mind that FakeXMLHttpRequest and FakeServer were never intended to work in Node.JS, how do you propose we solve this issue?

[2016-11-09 14:25] berniegp commented on #1163
My code is not executed in node in the end. It is destined for client-side (browser) use which I test in node and pack with Browserify. I find it easier to test my js code in node.

Eventually, I gathered as much while hacking on FakeServer and co that they were not really meant for use in node. I actually ended up rolling my own [XMLHttpRequest mock](https://github.com/berniegp/mock-xmlhttpreques

[2016-11-09 14:51] robertknight commented on #1147
Thanks @mroderick , much appreciated.

[2016-11-09 16:27] mroderick commented on #1143
Based on @thormartin91's test case, I was able to create a much reduced test case that shows the error in effect.

https://github.com/mroderick/sinon-issue-1143

I have created https://github.com/sinonjs/lolex/pull/87 to fix the issue.

Once that has been merged and a new version has been published, I think we should publish a new version of Sinon 2.x.

Sinon.JS 1.x is locked to `lolex@1.3.2`. Sha

[2016-11-09 16:30] mroderick commented on #1143
Related: https://github.com/tmpvar/jsdom/issues/1631

[2016-11-09 18:10] DullReferenceException commented on #1154
That was my code example that fails. Here it is slightly reworded with some blanks filled in:

[code]

Error:

[code]

Again, what's happening is the matcher function is being called during setup, even though the stub itself wasn't actually called.

[2016-11-09 18:12] DullReferenceException commented on #1154
Just reproduced with that code using the reported version and the latest, `1.17.6`, as well.

[2016-11-09 19:54] jdgreenberger commented on #1179
Updated @mroderick

[2016-11-09 21:07] mroderick commented on #1154
Right, that is confusing indeed!

I think you've uncovered a bug that we introduced when we merged https://github.com/sinonjs/sinon/pull/873

@fearphage you worked on this a while back, do you think we need a case in `deepEqual.use`, that examines if both `a` and `b` are matchers, and compares them, instead of trying to execute one to match the other?

https://github.com/sinonjs/sinon/blob/master/

[2016-11-09 21:28] mroderick commented on #1179
I think I better understand what you're after now.

Check out http://unexpected.js.org, they have really excellent diffs.

If I read their `package.json` correctly, then they're using https://github.com/kpdecker/jsdiff#readme

A contribution that uses a stable module like that would be most welcome.

[2016-11-09 22:17] fearphage commented on #1154
@DullReferenceException What is `str` in this instance? Can you provide a failing test case? I'm looking at the code and I don't see why it's failing, but I'll look into it.

[2016-11-09 22:31] DullReferenceException commented on #1154
I'm not 100% sure; str resembles a matcher object to me, but I don't know for sure, only that it's not a string and it's not expected that that `withArgs` is even calling the matcher function.

[2016-11-09 22:33] mroderick commented on #1154
It's a matcher, the second call to `withArgs` passes it along, and it ends up in `deepEqual.use` at https://github.com/sinonjs/sinon/blob/master/lib/sinon/util/core/deep-equal.js#L97-L99

[2016-11-09 22:35] mroderick commented on #1154
I've restructured the example a bit, to try and reduce it further.

Here's my version

[code]

Running that, gives the same error

[code]

[2016-11-09 22:37] mroderick commented on #1154
Anyway, it is near midnight here, I should go to bed

[2016-11-10 07:44] mroderick commented on #1107
Great suggestion! I'd love to see a PR for this

[2016-11-10 08:51] #1143 closed

[2016-11-10 09:06] mroderick commented on #1143
It won't be necessary to publish a new 2.x pre-release, as the `package.json` specifies `^1.4.0`

I'll focus on some more urgent tasks than this. We can re-visit it if there are requests for it, or pull requests that implements it.

[2016-11-10 09:15] mroderick commented on #1027
Hey @tarjei, would you mind setting up a runable example to show the broken behaviour?

[2016-11-10 09:21] mroderick commented on #1119
Hey @joelmukuthu, any chance of getting a PR for this?

[2016-11-10 09:25] mroderick commented on #1117
I've disabled force-pushes to `master` and `v.1.17` branches, and have left the other options as they were. We can re-visit this in the future if we need to.

![2016-11-10 at 10 24](https://cloud.githubusercontent.com/assets/20321/20171234/084d1c92-a730-11e6-9f9b-cb90889af8ed.png)

[2016-11-10 09:26] mroderick commented on #1117
Is this enough, or do we need more protections? Can we close this issue?

[2016-11-10 09:34] mroderick commented on #1113
To make it easier for people wanting to contribute to figure out what to put into a PR, let me try to summarise this thread.

There's a feature request to implement more matchers, with the following names and meanings:

- `match.array.equals()`: matches when the arrays are equal (unstrict)
- `match.array.startWith()`: matches sequence against start of array
- `match.array.endsWith()`: matches sequ

[2016-11-10 09:36] mroderick commented on #1053
Hey @jishi, any chance of getting a PR for this issue?

[2016-11-10 10:16] joelmukuthu commented on #1119
@mroderick, this was already fixed by @fearphage in [sinon-test](https://github.com/sinonjs/sinon-test) via https://github.com/sinonjs/sinon-test/pull/20. What remains to be done here is porting that code over but as I understood there were issues with getting the tests to pass with the buster setup. Is this correct @fearphage?

// cc @fatso83

[2016-11-10 10:29] jishi commented on #1053
I haven't had time to look at it, but I'll free up some time before end of the week.

[2016-11-10 12:35] jishi commented on #1053
Seemed easier than anticipated, made a pull request for review

[2016-11-10 14:16] #1053 closed

[2016-11-10 15:26] billyjanitsch opened #1185 "2.0.0-pre.4 mistakenly published as latest"
**What did you expect to happen?**

2.0.0-pre.4, being a prerelease, should be tagged on npm as `sinon@next`.

**What actually happens**

2.0.0-pre.4 was mistakenly tagged as `latest`. `npm view sinon` yields:

[code]

As a result, `npm install sinon` installs the prerelease.

This can be fixed by someone with npm privs running:
[code]

[2016-11-10 15:55] mroderick commented on #1185
@billyjanitsch that was me, being a doofus with npm.

I have verified the problem, and using your very clear instructions fixed the issue.

Thanks! 💐

[2016-11-10 15:55] #1185 closed

[2016-11-10 16:19] mroderick commented on #1018
I've created a repository of demos with the following branches:

* `master` using `sinon@v2.0.0-pre.3`
* `fail-in-1.17` using `sinon@1.17.6`

With `sinon@v2.0.0-pre.3` both `spy()` and `stub()` works for accessor methods
With `sinon@1.17.6`, only `stub()` works for acessor methods. `spy()` fails with the following error message:

[code]

You can try it out yourself in this branch: https://github.c

[2016-11-10 16:22] mroderick commented on #1025
@svlungade could you update this with a runable example that shows the problem?

[2016-11-10 23:46] Elberet commented on #1113
Looks good. More expressive predicates are possible (`containsSequence` instead of `contains` above, `containsAll` where array contains given elements in any order, `containsInOrder` where array contains given elements in order but optionally interspersed with other elements), but might not be necessary.

[2016-11-10 23:54] fearphage commented on #1113
I'd vote `match.array.deepEquals()` as being more explicit than `match.array.equals()`.

[2016-11-11 17:25] mroderick opened #1187 "Document XHR.setStatus method"
We need to document the newly exposed `XHR.setStatus` method, see https://github.com/sinonjs/sinon/pull/1178

The pull request should be for https://github.com/sinonjs/sinon/blob/master/docs/current/fake-xhr-and-server.md

[2016-11-11 18:07] mroderick commented on #1187
This was already implemented in #1178, I got this mixed up with another issue

[2016-11-11 18:07] #1187 closed

[2016-11-14 11:30] micheleDiSalvatoreLoveholidays commented on #1177
I'm expecting that these logs are not showed
[code]

[2016-11-14 14:32] DanReyLop commented on #1166
I would say that re-throwing the first error is enough. Storing all the errors is technically easy, what I'm worried about is how to present them. In an example like yours, having it throw 10 stacktraces would be way too much. Maybe adding ` (and 9 more)` to the error message would be a good compromise?

[2016-11-14 14:54] mroderick commented on #1177
This is a duplicate of https://github.com/sinonjs/sinon/issues/1124, which has a thorough explanation of the root cause and a suggestion for a solution.

I am closing this issue, please contribute to https://github.com/sinonjs/sinon/issues/1124.

[2016-11-14 14:54] #1177 closed

[2016-11-14 14:56] mroderick commented on #1124
While investigating #1177, I created a runnable example for this issue: https://github.com/mroderick/sinon-issue-1177

This still fails in `master`.

[2016-11-14 14:57] mroderick commented on #1124
I have created a PR to add documentation for working with accessor methods, and have added a note saying this feature is current unstable.

https://github.com/sinonjs/sinon/pull/1182

[2016-11-14 14:59] mroderick commented on #1166
I like this idea 👍

[2016-11-14 15:00] micheleDiSalvatoreLoveholidays commented on #1124
Thanks @mroderick

[2016-11-14 15:10] mroderick commented on #1009
Legacy IE doesn't like it when you mess with globals (nor does legacy Firefox).

If you need to stub out globals, I'd recommend using a thin wrapper around them, and then make the wrapper the target of your stubbing.

Shameless self-promotion: I've created a [generic wrapper named `wrapple`][wrapple] for exactly this purpose.

[wrapple]: https://github.com/mroderick/wrapple

This doesn't solve thi

[2016-11-14 16:23] fatso83 commented on #1117
No objections.

[2016-11-17 14:04] LostArchives opened #1190 "Add link to LICENSE in README"
Hello,
I checked your project and it is very interesting. I was thinking to add a link to your LICENCE file in your README as more and more projects proceed like that :)

[2016-11-17 14:58] sensorhound-nan opened #1192 "Trying to test setInterval function in javascript and get this error: Attempted to wrap undefined property function updateViz() {"
I am using QUnit to do unit test for the javascript. I need to use sinon spy to test the setInterval function. I want to make sure that the function is called once after some time interval.

Things I need to test:
function bigVizInit() {
	...
	setInterval(updateViz, 5000);
        ...
}

And updateViz is a function like this:
function updateViz() {
	...
}

The code I wrote for testing is like this

[2016-11-17 15:31] mroderick commented on #1192
Fill in the issue template, so we can determine if this is a bug in Sinon

[2016-11-18 10:28] micheleDiSalvatoreLoveholidays commented on #1124
@mroderick I followed your new documentation, but the problem doesn't look solved.

Here a new code case:
[code]

Here the output error
[code]

[2016-11-18 14:50] supoved commented on #118
Without this feature use of fake timers is a pain.
I have a method witch is called inside **black box** multiple amount of times with a timeout, to test black box I need to be able to control clock.
So I want to call `clock.tick` every time specific stub is hit, also I have defined behavior for this stub through `withArgs` and `yields`.

I would like to see something like:
[code]

It's achievable

[2016-11-18 18:14] #1190 closed

[2016-11-18 22:14] fatso83 commented on #1163
Not seeing anything to act upon here, closing

[2016-11-18 22:14] #1163 closed

[2016-11-18 22:18] fatso83 commented on #773
http://unexpected.js.org might be worth a look.

[2016-11-19 15:38] mir3z opened #1193 "Consecutive calls with expectation about args"
I want to create a mock with the following expectations:

* it is called twice
* on first call it is called with args \<X\> and returns \<R1\>
* on second call it is called with args \<Y\> and returns \<R2\>

When I'm trying to do:
[code]

I see error `Defining a stub by invoking "stub.onCall(...).withArgs(...)" is not supported. Use "stub.withArgs(...).onCall(...)" to define sequential behavior f

[2016-11-19 21:06] alistairjcbrown commented on #657
I bumped into this exact issue - the key was loading sinon after the globals have been set up (ie. `XMLHttpRequest`) so that XHR support check works as expected.
That means you won't be able to use ES6 `import` at the top of the file, as sinon will be loaded before the globals - so resorting to CommonJS `require` as in the example above.

[code]

[2016-11-20 05:15] jamesaspence commented on #1051
Hi all - seeing this issue again on RN version 0.35. I'm currently using sinon@next (2.0.0-pre.4). Protocol is undefined, despite us having the default set on the ternary statement (`var wloc = typeof window !== "undefined" ? window.location : { "host": "localhost", "protocol": "http"};`).

If this matters, using jest for testing, version 16.0.1 (`jest-react-native` 16.0.0).

[2016-11-20 08:53] fatso83 commented on #1051
@jamesaspence: please fill out a separate issue report and include some _reproducible_ code, preferably the luxury version that includes a minimal repo that recreates the issue (`git clone ...; npm test`) 😃  As the work @andpor put into #1052 is supposed to cover this, I suspect you are seeing something slightly different, but I don't mind being proven wrong.

[2016-11-20 20:20] jamesaspence commented on #1051
Will do this when I get a chance. Thank you!

[2016-11-20 21:40] fatso83 commented on #657
@alistairjcbrown : have you tried Sinon 2? That version works with module bundlers and I think it should prove less bothersome.

[2016-11-22 20:56] lgdexter commented on #1155
Hate to necro this, but I'm having this problem with the latest version of Sinon using Node 6.9.0. I'm running in a jsdom context using Karma.

[2016-11-23 07:18] fatso83 commented on #1155
@lgdexter that's still not enough information to resurrect this issue. what problem are you seeing? details, bitte.

[2016-11-23 22:56] lidel opened #1195 "Not allowed to define a non-configurable property on the WindowProxy object"
* Sinon version : 1.17.6
* Environment   :  Firefox 51.0.0
* Example URL   : https://travis-ci.org/lidel/ipfs-firefox-addon/builds/178423059
* Other libraries you are using: [package.json](https://github.com/lidel/ipfs-firefox-addon/blob/37eade0eb2c116c4aaf3ca561a7394d26faaede2/package.json#L35-L64)

**What did you expect to happen?**

I should be able to stub global functions via `stub` method un

[2016-11-24 15:58] gautaz commented on #738
@jasonkuhrt The third test fails because [clock.tick][1] processes executors synchronously and thus the `.then(...)` is not executed within due to [its asynchronous nature][2]:

@fatso83 I do not know the position of [lolex][0] developers regarding chained promises that add timers. The current limitation should at least be detailed in the documentation.

Depending on whether this should be support

[2016-11-24 19:03] jasonkuhrt commented on #738
@gautaz Ah makes sense now. Thanks for explaining!

[2016-11-25 02:17] kevinjsuh commented on #1119
i am running into this issue as well -- is there an update?

[2016-11-25 04:42] jeznag opened #1196 "Docs for .onCall may be inaccurate"
* Sinon version : v1.17
* Environment   : OSX
* Example URL   :
* Other libraries you are using:

**What did you expect to happen?**
Docs say you can do this:
[code]
**What actually happens**
This doesn't work - the third call just returns a stubbed function rather than the return value for me.

What works is if I do
[code]

**How to reproduce**

<details>
    <summary>Output below shows the resul

[2016-11-25 17:21] martynsmall opened #1197 "Wrong value returned when configuring multiple withArgs using matchers"
* Sinon version : 1.17.6
* Environment   : Browser

Running the function stubbed in the below example should return `1` as this satisfies the first `withArgs` setup.  However, with the introduction of the second `withArgs` setup the return value becomes `2`.

[code]

[2016-11-27 11:53] fatso83 commented on #738
`lolex` is a sync library, and I am not totally sure how to solve @jasonkuhrt's issue anyhow. Feel free to supply a PR, but modifying `clock.tick` is not very attractive. I'd rather see an additional async method.

I never had much issues with promises and clock ticking, but that was probably because I had seen that they were synchronous, and added extra clock ticks inbetween.

[2016-11-27 12:06] gautaz commented on #738
@fatso83 You're right, adding an asynchronous `tick` would be less disrupting (in fact not disrupting at all).
So something like `asyncTick` might be the right fit. I'll look into it if I can make time.

[2016-11-29 19:26] grossmail1 opened #1198 "Stubbed promise with callback"
This may be more of a question but I currently not able to accurately test that when my stubbed promise is resolved that my callback is called with the correct parameters.

here is my test
[code]

here is the method to be tested
[code]

I can see that the stub is getting called with the correct data but when I put the assertion of the callback into the `.then()` of my call It passes regardless of

[2016-11-30 12:10] fatso83 commented on #1198
You are mixing sync thinking with async logic. You async `axios.get` call is not guaranteed to have been finished by the time you call your asserts. You need to wait for them both to be finished with `Promise.all(promise1, promise2).then(...`

[2016-11-30 12:10] #1198 closed

[2016-12-01 16:29] caiogondim commented on #562
I made this module to more easily stub modules https://github.com/caiogondim/stubbable-decorator.js

[2016-12-01 17:45] llwt opened #1199 "How to test calledAfter(<nth call of another spy/stub>)?"
We have some logic in our code where we would like to test that a method is called in between multiple calls to another stub.

[code]

If `this.app.use` and `this.configurationHookThatWeWantToTest` are stubs, is there a way with the current api to test that `this.configurationHookThatWeWantToTest` is called after the second call to `this.app.use`? Additionally, is there a way to test in the other

[2016-12-01 19:07] llwt commented on #1199
Here is where we landed as a temporary work around, using the `callIds` array of the spies.
[code]

[2016-12-01 20:34] piotr-s-brainhub opened #1200 "called once with"
I would like something like that:
[code]
It should pass only when the function is called exactly once and with specified arguments.
Is it possible?
If not it would nice to create such a feature.

[2016-12-01 21:17] saifelse opened #1201 "sandbox.restore() restores to the wrong value when sandbox.stub()ing twice."
* Sinon version : 1.17.6, 2.0.0-pre.4
* Environment   : node
* Other libraries you are using: none

**How to reproduce**
http://jsfiddle.net/totfnww7/1/

[code]

**What did you expect to happen?**
Expected last output to be: "After restore: 1, correct: true" -- expecting sinon to restore to the original value

**What actually happens**
But it outputted "After restore: 2, correct: false" -- sinon r

[2016-12-01 22:44] mantoni commented on #1200
This has been suggested before. The issue that is not resolved is the ambiguity in the naming. Does it mean "Called exactly once and also with these args" as if it was two checks, one for "once" and one for "withArgs", or is it "called once with these args but might have been called with other args".

Hope the message come across. One can really see both meanings in there.

[2016-12-05 19:24] robertfwest opened #1202 "Get deprecation warnings in Chrome when examining a stubbed window function"
* Sinon version : 1.17.3 (but verified it happens with 1.17.6 also)
* Environment   : Chrome on OSX
* Example URL   :
* Other libraries you are using:
  - jasmine
  - jasmine-sinon

**What did you expect to happen?**
No warnings

**What actually happens**
When window.addEventListener is stubbed, it gets called, and then expect(window.addEventListener).toHaveBeenCalled() is called, I get these warn

[2016-12-05 19:35] robertfwest commented on #1202
This is happening because toString is iterating over all of window's properties and when the deprecated properties are read, the warnings are output.

[2016-12-07 13:30] gunar commented on #953
For anyone looking, [here](https://groups.google.com/forum/#!msg/sinonjs/7MBB7EPdNzw/6uzhE9FxAgAJ;context-place=forum/sinonjs) is the answer by @mroderick himself.

[code]

[2016-12-08 06:14] arogachev commented on #657
I faced the same problem in https://github.com/yiisoft/yii2/pull/13160.

@fatso83 I tried the latest version (2.0.0-pre.4), the error persists. Used @alistairjcbrown solution as a workaround. Thanks for him for discovering this.

[2016-12-08 06:58] arogachev commented on #657
I use [mocha-jsdom](https://github.com/rstacruz/mocha-jsdom) wrapper. In my case I predefined `sinon` variable without assigning value to it at the very top of test file:

[code]

Then I imported sinon to it after registering jsdom and testable code:

jsdom({src: fs.readFileSync('vendor/bower/jquery/dist/jquery.js', 'utf-8')});

[code]

Then in specific test suite where fake server is needed I wro

[2016-12-08 10:26] dmitriyilin commented on #1174
I experience the same issue.

As sample code you can take iron-ajax element [](https://github.com/PolymerElements/iron-ajax)
Add following snippet to the demo/index.html
[code]
And run demo of the element.

I use Sinon.JS, v.1.17.6 (built from sources), Polymer 1.17.0, iron-ajax 1.4.3

[2016-12-14 00:16] ELLIOTTCABLE commented on #1002
Are we sure this is fixed by #1014 / in `2.0.0-pre.4`? Because I've installed that, and I'm still seeing test failures attributable to `Symbol`s-in-objects.

[code]

Here's [a failing example](https://runkit.com/elliottcable/58508aefc58c3e00143d05fd/branches/master).

[2016-12-14 11:59] fatso83 commented on #1002
@ELLIOTTCABLE There is nothing in that code that seems to apply to Symbols specifically, AFAI can see. The id attribute with the Symbol is not being used when passing in arguments, so Sinon is not touching it. I suspect you would get the same result using anything else. That is not to say that you are not looking at a Sinon bug, btw ;-) I wonder if this is an issue regarding `withArgs` that I have

[2016-12-14 13:31] lucasfcosta commented on #804
Hello everyone, first of all, thanks for the excellent work you guys have been doing on Sinon.
If you'd like to have this implemented I'd also love to give it a shot, just let me know and I'll start working at a PR for that.

[2016-12-14 14:29] fatso83 commented on #804
@lucasfcosta, thanks for that. I think @mroderick talked long ago about just integrating `sinon-as-promised` into Sinon, wasn't that so? That would be the easiest solution, and I have no objections.

[2016-12-14 16:16] mroderick commented on #804
@lucasfcosta I would love to see a PR to integrate `sinon-as-promised` into Sinon's `master` branch

[2016-12-15 11:38] mroderick commented on #1202
Thank you for reporting this issue, I've observed it myself when running tests in Chrome, and wanted to spend some time looking into it. Your analysis is correct, it is indeed `functionToString` that triggers the warning.

The source of that function is unchanged in Sinon 2.x, so the warning will also be triggered there.

The fact that Sinon.JS is triggering a deprecation warning in Chrome, is an

[2016-12-16 08:24] jehon commented on #720
Hello
To my point of vue, I only use fetch. Thus the reply to your questions would be: anyway are good for me.
But since not all the browser support fetch, some people use polyfill for fetch, based on XmlHttpRequest.
I would thus suggest more of fake response for both toguether to ease testing all browser the same way...

Did you start working on this?
Have a nice day!

[2016-12-17 10:21] fatso83 commented on #720
@ibash I think your first proposal is the soundest. One server to rule them all. It is just HTTP after all.

[2016-12-17 14:18] fatso83 commented on #1202
I think this should be closed if we are not to do anything about it.

[2016-12-17 15:06] #1034 closed

[2016-12-17 16:05] #1124 closed

[2016-12-17 16:05] fatso83 commented on #1124
Should be fixed by #1194

[2016-12-17 16:18] fatso83 commented on #1201
Hi, while it's great to have this fixed, I'm not sure we should support this use case. Multiple stubbings of the same property seems like an anti-pattern IMHO, as it leads to hard to read/complex tests.

So I'd rather have Sinon throw an explicit error on encountering this than trying to fix it, but ... there's more than one way to view things, so I'd be interested to hear what the others say befo

[2016-12-18 22:18] #1018 closed

[2016-12-18 22:32] #1202 closed

[2016-12-18 22:33] #1147 closed

[2016-12-19 11:42] lucasfcosta commented on #1107
Hello, friends, so, you'd expect this PR to be made using the `path-to-regexp` module or would you like to reimplement the whole feature?

[2016-12-19 14:34] fatso83 commented on #1107
Just reuse the existing `path-to-regexp` module. More lines in a project only means it gets harder to manage.

[2016-12-19 17:42] mvcds commented on #1100
But I'm sure it has worked in the past, I've use it in another project.

[2016-12-19 19:03] fatso83 commented on #1100
If either @zuzusik or @mvcds can report a version of Sinon where a stub was being returned we have something to work with, as that means we have a regression on our hands. I'll keep it closed until so.

[2016-12-19 19:06] fatso83 commented on #1100
This might be related to #817 and the PR in #1209.

[2016-12-19 19:47] zuzusik commented on #1100
@fatso83 just investigated a bit, seems like this behavior exists from the very beginning of the implementation of `.onCall()` (v 1.8)

Also I noticed that this code works as expected:

[code]

this means that probably `returns` (and other behavior methods) should  return not `this`, but `this.stub || this` - as far as I see this will guarantee consistency of this methods when being called either

[2016-12-19 23:00] mvcds commented on #1100
@fatso83 I am using `sinon@1.17.6` where it behaved as @zuzusik reported.

Separating the code into two lines did the trick though I personally think it does not make as much sense as chaining.

Let me know if I can help you guys with something, I'm new to open source and I'm kind of lost on what or how I can do.

[2016-12-20 07:06] fatso83 commented on #1100
@mvcds, we can ALWAYS need a hand in fixing stuff. There are more issues than spare time ;-) The biggest obstacle is often getting to the next step, because getting stuck in discussions on finer technical points is easy. So if you want to take a look at the mentioned issues and see if you can see where to go from here that could help in this specific case.

Other than that, just take a gander at t

[2016-12-21 16:24] fatso83 commented on #1200
Closing due to lack of response

[2016-12-21 16:24] #1200 closed

[2016-12-21 16:31] #1179 closed

[2016-12-21 16:45] piotr-s-brainhub commented on #1200
`expect(create.withArgs(4)).to.be.calledOnce();` - checks if it was called once with these args

I need an assertion which should check if the stub was called exactly once and with the specified arguments.

Maybe it should have a better name.
`expect(create).to.be.calledOnceAndWith(4);`

Moreover I need an assertion to check exact arguments:
`expect(create).to.be.calledOnceAndWithExactly(4);`

[2016-12-21 18:22] fatso83 commented on #1200
I think the new names are less ambigious. Moreover I think it would demand very little to implement, given all tge existing code. Would you like to take a stab at it, Piotr? Pull requests are always welcome. The maintainers are mostly concerned with fixing bugs amd integrating features.

[2016-12-22 13:41] lucasfcosta commented on #1107
Hi everyone, sorry to bother you but I was starting to work on this early this morning and I noticed that you do not run the `fake-server` tests neither in the local environment nor on Travis due to [this line](https://github.com/sinonjs/sinon/blob/master/test/util/fake-server-test.js#L21) which makes it run on browsers only.

I can easily set up Karma and start testing this on multiple browsers,

[2016-12-22 13:55] fatso83 commented on #1107
@lucasfcosta, start at the top, not at the bottom, when digging in 😄 The script you found should never have been there. It was what we were using before Maximillian changed the test setup to just use Mochify. If you start looking at what will run when you run `npm test` I think you would quickly find [what you are looking for](https://github.com/sinonjs/sinon/blob/master/package.json#L19) :-)

[2016-12-22 15:06] lucasfcosta commented on #1107
@fatso83 thanks for your help! I should've done that indeed. I think maybe my brain is so used to reading `mocha` everywhere I just went through this without noticing.
Sorry for that 😅

[2016-12-23 07:41] #1107 closed

[2016-12-23 15:51] #804 closed

[2016-12-27 16:14] mroderick commented on #1026
I have merged a fix for this into `v1.17` branch. We will need to make a fix for `master` before this can be closed.

I propose that we cut a new `1.17.x` release now. Do you want to do that @fatso83?

[2016-12-27 19:29] #1026 closed

[2016-12-27 19:30] mroderick commented on #1026
This has now been closed. We can cut new `1.17.x` and `2.0.0-pre-x` releases. Will you do the honours @fatso83 (considering that I screwed it up with the `pre` version last time)

[2016-12-27 19:44] mroderick commented on #1095
@fatso83 do you think that #1182 adequately solved this issue? Can we close it?

[2016-12-28 09:45] mroderick commented on #1201
I would also prefer that `sandbox` throws an error when trying to stub the same property twice, just like we do in `wrap-method.js` when user tries to wrap the same method twice.

[2016-12-28 16:46] mroderick opened #1218 "Task: Create download page for packaged releases"
We need to have a place on the new website where user's can download all previously packaged versions.

Perhaps the url should be `/releases/download` or `releases/all/`

#### Tasks

- [x] Create a folder with all previous releases
- [x] Update `postversion.sh` to copy newly packaged releases into that folder
- [x] Create a page `/releases/all/` that offers links to all packaged releases
- [x] Upd

[2016-12-28 16:51] mroderick opened #1219 "Task: Copy changelog to new website"
The new website should display the `Changelog.txt` file somewhere, perhaps at `/releases/changes/`

#### Tasks

- [ ] In `postversion.sh` copy `Changelog.txt` into `docs/`
- [ ] Create a new page to display the `Changelog.txt` file, perhaps at `/releases/changes/` or `/releases/changelog/`

[2016-12-28 17:08] mroderick opened #1220 "Task: Publish new website"
In order to publish the new website to https://sinon.js.org, the tasks listed below need to be completed

**Note: this issue will be used as an umbrella for tracking all the remaining tasks. As such, it is not complete and will be modified as new tasks emerge**

I have enabled GitHub Pages for the `master/docs` and have fixed a couple of minor issues. You can preview the new site at https://sinonj

[2016-12-28 17:14] mroderick commented on #1199
See http://sinonjs.org/docs/#assertions-api

---

We are trying to keep the GitHub issues list tidy and focused on bugs and feature discussions. This ticket looks like a usage question, please post it to the [Sinon.JS mailinglist](http://groups.google.com/group/sinonjs), so the bigger community can help answer your questions.

If you feel that your topic is an issue with Sinon.JS, please open a ne

[2016-12-28 17:14] #1199 closed

[2016-12-28 17:26] mroderick commented on #1220
Ping @fatso83 @mantoni @fearphage @jonnyreeves @cjno

It would be great if you would look over the site and point out any mistakes or omissions that are essential to publishing the new site.

Any ideas that are not essential for publishing the new site should be captured in separate issues and marked as ideas.

[2016-12-28 17:33] mroderick commented on #1119
Since this has been implemented in the standalone `sinon-test` module and stable `sinon@2.x` is on the horizon, I don't think it would be wise to risk destabilising `sinon@1.x`.

@joelmukuthu have you tried `sinon-test` with `sinon@next`? Does it solve the use case for you?

[2016-12-28 17:34] #1117 closed

[2016-12-28 20:11] mantoni commented on #1220
I think it looks really good. If the plan is to release the site before Sinon 2, the big "FIXME: Out of date" in the API Documentation page could be removed.
👍🍾✨

[2016-12-28 20:41] lucasfcosta commented on #1220
Hi everyone!

First of all, thanks for the awesome job you have been doing with Sinon.

Regarding the website, I'd like to point a few improvements that me, as a user, would expect:

* The menu items on the top right corner are to close to each other, which makes it difficult to read them. I think that increasing their margins would make it look much better.
  * The `API Documentation` item, for e

[2016-12-28 23:24] thebarty commented on #989
I'd also love to have this feature. It is important that original call-parameters are passed thru to the original function when using ``passedThru``

[2016-12-29 09:01] thebarty commented on #956
PLUS one for that feature

[2016-12-29 10:31] fatso83 commented on #956
@thebarty, if you want it you can just have a go at it 😎I think it's easier than it looks, but it's not happening until someone does it and supplies a PR.

[2016-12-29 12:55] #614 closed

[2016-12-29 12:58] mroderick commented on #1220
@lucasfcosta thank you for your feedback.

I would love to have contributions to the documentation, especially contributions that makes the site read better.

[2016-12-29 13:01] fearphage commented on #956
[code]

Where is `doSomething` coming from? This feels like a code organization issue. In the above snippet, if you just pass `doSomething` to `initialize()` from the constructor (dependency injection). It's easy to stub.

[2016-12-29 13:03] mroderick commented on #1220
I think we should launch it with Sinon 2, which will then become the active version linked by the "API Documentation" link in the header.

I haven't been tracking Sinon 2 completeness much, so I don't know if it is ready to ship. In any case, I think we should work on bringing the new site to an acceptable state so we can launch it whenever we decide that Sinon 2 is ready.

[2016-12-29 14:21] mroderick opened #1221 "Discussion: improve guidelines with JS engine support and target ES version"
Hello folks!

Disclaimer: I think that the topics discussed in this issue are closely related and it makes sense to discuss them together. If it turns out to be too confusing, then we can split this into several issues and discuss topics separately.

Solid guidelines makes it much easier to contribute to projects.

As we are gaining traction with more contributors, it is becoming even more importa

[2016-12-29 14:22] mroderick commented on #1221
Ping @fatso83 @mantoni @fearphage @jonnyreeves @cjno

[2016-12-29 14:35] mantoni commented on #1221
👍 ES5. I don't think its worth the effort of a compatibility page. Maybe just a short note that Sinon 2 requires ES5. If anyone needs old IE support, they can stick with Sinon 1.17.x. Let's move on.

I didn't follow browser market share developments lately, because I'm mainly doing backend work. However, given that we want ES5 as the baseline, we can still support "old" Node versions without addit

[2016-12-29 22:36] fatso83 commented on #1220
I feel there is something missing that could answer all the most common questions and misunderstandings. Simply a FAQ with a list of Q&As. I think it could be on the same page as the Howto's, and the answers would of course link to relevant howtos.

Like:
- How do I stub the `constructor` in an ES2015 class?
- Why does not ES2015 feature work?
etc

Of course, creating a section without content mak

[2016-12-30 13:26] mroderick commented on #1220
We have a couple of issues for new documentation, I think we should add that to the how-to / faq section.

#1120, #1121

Considering that we don't have documentation for that currently, I don't think that should hold us back from releasing a new site. However, if we can write some content for that section in a few weeks, then we might as well.

[2016-12-30 15:04] fatso83 commented on #1220
@mroderick, I can try to write those two, but I don't think that should hold us back. Go the MVP route and just get the bare essentials out and we can build upon it. I am not totally sure about #1218 and #1219 : did you intend to take on these yourself, or could anyone contribute on those?

[2016-12-30 15:33] fatso83 commented on #1221
I agree we should target ES5 _runtimes_, but I am not sure about the need to commit to ES5 _in source_. To elaborate, we have already committed to using a build step, and I don't see why we cannot utilise Babel to do ES2015=>ES5 transforms in this build step. We would still target ES5, while increasing developer satisfaction due to not having to reimplement all the goodies included with ES6. Axel

[2017-01-02 22:54] saifelse commented on #1201
From briefly looking through the code, it looks like this would be a somewhat involved refactor, since the existing wrap for properties just overwrites the property and has a closured method to restore the property; whereas for methods, sinon stores extra data on the function itself (which we are afforded by Functions being non-primitives)... however, the bookkeeping for properties would have to b

[2017-01-04 14:20] tejpowar opened #1231 "Stubbing a call for a http request using fakeServer in karma tests for reactjs"
* Sinon version : 2.0.0-pre.2
* Environment   : Chrome / MAC OS X
* Example URL   :
* Other libraries you are using:

**What did you expect to happen?**
When a fakeServer is created pointing to a production server we need a way of mocking the response. I would expect that when the endpoint is run within the karma test it should intercept the call and then return the mocked json.

**What actually h

[2017-01-05 22:00] lucasfcosta commented on #1113
Hey friends, I think this one can be closed already.

[2017-01-05 22:26] #1113 closed

[2017-01-06 23:55] brunolm commented on #885
Looks like it still doesn't work with axios.

http://stackoverflow.com/q/41516044/340760

[2017-01-07 10:38] lucasfcosta commented on #747
By seeing the merged PR I think this one can be closed. Right?

[2017-01-07 10:52] papandreou commented on #747
Oh yes, thanks for the reminder!

[2017-01-07 10:52] #747 closed

[2017-01-07 16:52] #989 closed

[2017-01-07 17:36] fatso83 commented on #885
@brunolm : I still haven't seen a test running in a browser that fails, so there won't be any looking into this until that happens. The details on getting a test library's XHR stub working in a HTTP lib for Node and the browser when running on Node is definitively out of scope for us 😄If you are doing something like that I would try creating an axios equivalent of `supertest` (for SuperAgent).

[2017-01-08 00:00] srph commented on #885
xxios already has its own stubbing library, [moxios](https://github.com/mzabriskie/moxios).

[2017-01-08 11:03] mroderick commented on #1221
So far, I have not had the privilege to work on a project where I would consider a transpiler to be a net benefit. My experience has been that they mostly get in the way, and create more work, especially debugging weird mismatch between its dependencies.

I did a quick test, adding `babel` and `babel-cli` to an empty project added 190 packages in `node_modules`.

It has been my experience that peo

[2017-01-08 11:29] mantoni commented on #1221
I couldn't have expressed my thoughts better than @mroderick. I have similar experiences, and even some bad experiences with export/import in combination with Sinon stubs. It would make sense for a pure browser project, but with Node, I'd rather stick with the platform language support. Anyway, I'm not really contributing to the Sinon codebase at the moment, so I don't want to stand in the way eit

[2017-01-08 11:33] jonnyreeves commented on #1221
I echo the sentiments of @mroderick (and like @mantoni am not terribly active on this project) - the only thing I might add is that TypeScript may offer some benefits (although, sinonjs, by nature, is highly dynamic :D)

[2017-01-08 17:46] jasonzyl opened #1236 "Problem with createStubInstance on a subclass with getter referencing property from superclass"
* Sinon version : 1.17.7
* Environment   : nodejs v7.3.0
* Example:
[code]

**What did you expect to happen?**
A stub should be returned

**What actually happens**
Error with stack trace:

    at F.get c [as c] (repl:3:14)
    at <mydir>/node_modules/sinon/lib/sinon/walk.js:28:50
    at Array.forEach (native)
    at walkInternal (<mydir>/node_modules/sinon/lib/sinon/walk.js:23:45)
    at walkInter

[2017-01-08 23:00] #1154 closed

[2017-01-08 23:36] fatso83 commented on #1236
Can you please check if this works using Sinon 2 and report back? Just try `npm install sinon@next`. I hope this is fixed in `master`, but not sure. A

[2017-01-09 00:38] jasonzhu1991 commented on #1236
@fatso83 Thanks for your reply! It works on 2.0.0-pre.5

[2017-01-09 08:20] tarjei opened #1237 "Wishlist: Have fakeServer record requests"
It would be great if Sinon fakeServer stored incoming so that it would be possible to do assertions against them.

* Sinon version : 0.17.6
* Environment   : Browsers
* Example URL   : n.a.
* Other libraries you are using: n.a.

**What did you expect to happen?**
// run test

expect(server.requests).to.have.length(0)

expect(server.requests[0].url).to.eql("xxx")

**What actually happens**

There i

[2017-01-09 11:05] fatso83 commented on #1237
It looks like [this should already be happening](https://github.com/sinonjs/sinon/blob/master/test/util/fake-server-test.js#L128). Will consider this a non-issue until you can supply us with some code that proves this is not the case, or that can clear up whatever misunderstanding I have created in my head 😃

[2017-01-09 11:05] #1237 closed

[2017-01-09 11:11] fatso83 commented on #1221
I really have _no strong feelings on this subject_, it was more like a suggestion that was up for discussion.  I agree on the complications, and I am fine with ES5.1, so it seem this will form the basis for development in Sinon 2. We can revisit this discussion on major EcmaScript increments to see if things change.

[2017-01-09 11:21] tarjei commented on #1237
I think you are correct. I was planning to close this issue but you beat me to it.

It is still a documentation issue, isn't it? I tried to find out which file I should file a PR against, but failed to find out. If you can point me towards it I'll cook up a PR.

Regards,
Tarjei

[2017-01-09 11:37] fatso83 commented on #1237
Improvements are welcome. We are in the process of building a new site for the Sinon, so the online docs and the source docs might differ. Relevant file [here](https://github.com/sinonjs/sinon/blob/master/docs/release-source/release/fake-xhr-and-server.md).

[2017-01-09 22:27] fatso83 commented on #1231
The attached code is hardly a unit test: it has lots of quite opaque bits where it isbhard to know what is going on, and therefore I'll just have to do a few educated guesses 😉 My guess is that your event is triggering a normal submit using some form. That is not something fakeServer will help you with:

So, unless your event is triggering some callback, which in turn is creating an XHR, this is n

[2017-01-09 22:27] #1231 closed

[2017-01-09 22:47] fatso83 commented on #1197
Hi, this does seem wrong. Mind seeing if this bug is present in Sinon 2 (npm i sinon@next)?

[2017-01-11 09:43] Floby opened #1240 "How to donate?"
Hello,

I've been using sinon for years and it's always be one of my best friends when writing code. This year I'm trying to get my employer to donate money to several open source projects.
Sinon.js doesn't seem to have any sort of donation system set up. Is this intentional?

[2017-01-11 12:37] mroderick commented on #1240
We do not currently have any way of receiving donations.

It is something that I have been thinking about, but I haven't found any good solutions that would justify the increase in workload.

Perhaps we can join https://js.foundation or jQuery Foundation, I don't know how that works yet.

If there's sufficient traction for this idea, I'll put effort into looking into this.

Please use the emoji re

[2017-01-11 13:00] mroderick commented on #1221
OK, ES5.1 for source, I'll create a PR to update guidelines.

What about the question of JavaScript engine support?

Does anyone have any opinions on this?

[2017-01-11 13:02] mroderick commented on #1220
Anyone is welcome to contribute to those!
I was thinking that if I was to do them, I would try to do them with bash/node and tie it in with the preversion and postversion scripts.

[2017-01-11 18:43] lucasfcosta commented on #1240
Hi Friends, I just wanted to share my personal experience on this matter. I think it might help you.

A while ago in Chai we started receiving donations by using OpenCollective. You can see [our discussion here](https://github.com/chaijs/chai/pull/732). In that PR many of our doubts were answered and there's useful information there. If you're interested maybe you could get in touch with @piamanci

[2017-01-11 19:04] piamancini commented on #1240
Thanks @lucasfcosta <3
Hi @mroderick more info about Open Collective [here](https://opencollective.com), [here](https:medium.com/open-collective) and other [open source projects](https://opencollective.com/opensource) on the platform. Happy to chat.

[2017-01-12 07:16] sprzybylski commented on #1218
@mroderick what do you mean by _packaged versions_?
- zipped pkg directory?
- just pkg/sinon.js
- or the whole repo (we could link to gh release in that case https://github.com/sinonjs/sinon/archive/v2.0.0-pre.5.zip)

[2017-01-12 11:49] fatso83 commented on #1218
I am quite sure Morgan refers to the browser bundles; basically [the Download page on the old page](http://sinonjs.org/download/)

[2017-01-12 14:18] mroderick commented on #1218
Exactly

[2017-01-13 09:13] eternalsky opened #1244 "__defineGetter__ is not supported in IE9 & IE10"
sinon 2.x is used in my project tests, and the tests fail in IE9 & IE10 because __defineGetter__ is used. So does sinon 2.x just support IE >= 11 ?

[2017-01-13 12:17] fatso83 commented on #1244
@eternalsky, you can follow the discussion in #1221, but Sinon 2 does focus on newer browsers than Sinon 1. If you need support for older browsers then just use that. That being said, I don't think we have landet on a minimum version of IE to support.

As to your problem, `defineGetter` is not used at all in the _source_, but I see now that it is part of the packaged builds:

[code]

As can be see

[2017-01-13 12:17] #1244 closed

[2017-01-14 14:47] martynsmall commented on #1197
Just tried it in Sinon 2 and the bug is still present.

[2017-01-14 21:35] lucasfcosta commented on #1197
Hi friends, I have just tested this against `master` and it seems to be working.

Here is the code I've written to test it:

[code]

As you can see, the stubbed function returns `1` as expected due to its matcher always returning true.

[2017-01-14 21:38] lucasfcosta commented on #988
Hi friends!

I think we can close this one since we've got `callThrough` due to #1234 and now the `wrappedMethod` is exposed, as you can see [in this line](https://github.com/sinonjs/sinon/pull/1234/files#diff-a43c7fdb0aa0638b500e1c608d8c2831R144).

[2017-01-14 23:05] martynsmall commented on #1197
Hi, I've just retested it myself on a build from `master` and it is indeed fixed now.  The version I installed earlier is dated 31/12/2016 so this bug was obviously fixed very recently!  Thanks.

[2017-01-15 11:30] #988 closed

[2017-01-16 17:44] madtrick opened #1245 "Typerror thrown when trying to match on objects without `hasOwnProperty` method"
* Sinon version : 1.17.0
* Environment   : node
* Example URL   :
* Other libraries you are using: sinon-chai

**What did you expect to happen?**
Using the `calledWithMatch` to work also with objects which don't have a `hasOwnProperty` function.

**What actually happens**
The error `TypeError: expectation.hasOwnProperty is not a function` is thrown

**How to reproduce**

[code]

<details>
    Type

[2017-01-16 17:44] madtrick commented on #1245
This seems to be similar in nature to this other issue https://github.com/sinonjs/sinon/issues/887

[2017-01-17 08:29] zephinzer opened #1246 "Behaviour of twice() not the same as atLeast(2)?"
* Sinon version : 1.17.6
* Environment   : OS X El Capitan 10.11.6, Node v6.9.2
* Example URL  : N/A
* Other libraries you are using: karma-chai-sinon@0.1.5, karma-sinon@1.0.5, sinon-chai@2.8.0

**What did you expect to happen?**
Using a sandbox, we expect a function to be called two times (it's the `dispatch` of a Redux store):
[code]

The above expectation causes the following error message:
[co

[2017-01-19 19:54] netpoetica commented on #250
As far as I can see, it's always "proxy" as a function name. Are you sure this comment is true?

[2017-01-20 09:02] mroderick commented on #250
Would you mind posting a runnable example?

[2017-01-21 08:01] ELLIOTTCABLE commented on #966
Curious what the status on this is? Doesn't look like there's been much progress since ~6mo ago; I'm currently depending on a pre-release for various reasons (functioning Symbol support being a huge one) — I don't mean to push, but a simple ‘there is a <N months> timeline’ / ‘there is no timeline as of yet’ would be great! `<3`

[2017-01-21 08:49] #991 closed

[2017-01-21 08:50] fatso83 commented on #991
Closing this as we have both this, #1189 and #1220 for tracking remaining work. It is hard to get an overview this way. I'm updating #966 as well.

[2017-01-21 09:02] fatso83 commented on #966
@ELLIOTTCABLE as we don't have funding, there is no set time line. It progresses as we in the maintainer group - or other volunteers such as yourself - have time to work on the list above. That being said, I think you could have answered the "status" bit yourself if you bothered to poke around a bit more 😉:

1. Even though you see "... referenced on 8 Jul 2016" above, that only means that the firs

[2017-01-21 09:28] fatso83 commented on #966
@sinonjs/sinon-core: the previous comment made me aware that we have some issues above that we are not likely to complete based on the discussion in #1221:
1. Remove Legacy IE support / workarounds?
2. Fixing xdomain

Care if I create a PR to just remove the legacy IE bits if we won't touch them anyhow? I would assume `xdomain` can end up in the historical land fill as well, as that was mostly an

[2017-01-21 09:36] ELLIOTTCABLE commented on #966
@fatso83 Ahhhh, k. I missed the updated comments on the referenced Issues. I hope reviewing this for me was of use to you!

Unrelatedly: Looks like part of this is abandoning support for IE6. That's unfortunate. Ah well, c'est la marche du progrès! /=

[2017-01-21 18:43] andys8 opened #1247 "Request: Syntactic sugar for combining calledOnce and calledWithExactly"
Hi guys, great library. I'd like to request a feature regarding spies. If using them, we most likely want to make sure that the spy is called exactly as expected by using `calledWithExactly`. We also want to make sure this happens only a single time by using `calledOnce`. Of course, this is possible right now. But I think it should be the default assertion (compared to partial matching) and theref

[2017-01-25 14:00] Vanuan commented on #621
I think it happens somewhere here:

[code]

When compiled with Webpack it goes to branch 3, hence it thinks that lolex is available in global scope. But it isn't. So both `lolex` and `lol` are undefined:

[code]

So to fix this it needs to detect whether it's using webpack and load lolex appropriately.

The relevelant webpack config part I'm using it the following:

[code]

[2017-01-25 14:02] fatso83 commented on #621
@Vanuan, which version of Sinon are you using? Version 1 is explicitly non-compatible with bundlers like Webpack.

[2017-01-25 14:07] Vanuan commented on #621
[code]

[2017-01-25 14:21] fatso83 commented on #621
@Vanuan, well there you go 🙂 Bundling is not supposed to work in 1.x versions. Try `sinon@next`.

This bug is only relevant for non-bundles.

[2017-01-25 14:46] Vanuan commented on #621
Is there a migration guide? Or the api is the same?

[2017-01-25 16:25] markbrown4 opened #1248 "stubbing module exports with closures"
I can't seem to find a way to gracefully stub the exported `a()` here:

[code]

[code]

I'm guessing this fails because b has it's own copy of a.
I can do something like this which makes the test pass but it makes me want to take a shower.

[code]

Any other options?

Cheers,

[2017-01-25 20:00] appsforartists opened #1249 "lastCalledWith"
Would you guys be amenable to a PR that adds a lastCalledWith assertion?

[code]

Adding an assertion here would make it easier to integrate with chai via https://github.com/domenic/sinon-chai/issues/87

[2017-01-26 12:41] fatso83 commented on #621
There are some breaking changes, but mostly things will be the same:
[Migrating to 2.0](https://github.com/sinonjs/sinon/blob/master/docs/current/migrating-to-2.0.md)

[2017-01-26 12:43] rozaev opened #1250 "Sinon spy didn't work in case when function has property function which call origin function."
* Sinon version : 1.17.6
* Environment   : any
* Example URL   : http://jsbin.com/vuceqagiwu/1/edit?html,console
* Other libraries you are using: None

**What did you expect to happen?**
spy.called should be true.

**What actually happens**
spy.called is false.

**How to reproduce**
See http://jsbin.com/vuceqagiwu/1/edit?html,console

<details>
See:
http://jsbin.com/vuceqagiwu/1/edit?html,console

[2017-01-26 14:13] #1250 closed

[2017-01-26 14:18] rozaev commented on #1250
@fatso83 Hello. Did I expect wrong behavior? Or you didn't think what it is a real use-case?

[2017-01-26 14:22] fatso83 commented on #1250
This is a user error.

The spy is _wrapping_ the function, returning a _new_ function.

[code]

(And I was writing this while you commented 😄 )

[2017-01-26 14:29] rozaev commented on #1250
@fatso83 Thank you very much. I will read documentation more accurate now.

[2017-01-26 14:32] fatso83 commented on #1248
You need to have a way of injecting your stub to do this cleanly. Something like

[code]

Of course, since you are changing the internals of the module it will affect everything else using this module. If you want to do this without altering some kind of global state, you will need to create those functions in a closure created by some exported init function.

[2017-01-26 14:32] #1248 closed

[2017-01-26 15:34] markbrown4 commented on #1248
Ah, that makes sense. Thank you!

On Thu, 26 Jan 2017 at 2:33 pm, Carl-Erik Kopseng <notifications@github.com>
wrote:

[2017-01-26 22:06] KaidenR commented on #773
It looks like this may be duplicated (and fixed) in #1179

[2017-01-27 07:16] #773 closed

[2017-01-27 07:17] fatso83 commented on #773
Fixed in sinon@next

[2017-01-27 11:02] micheleDiSalvatoreLoveholidays opened #1251 "Missing documentation stubbing setter"
Hi all,
I'm looking for a documentation on how to stub a setter, I can find a lot of discussions on the getters, but nothing about setters. Do you have any advice about it?

Thanks

[2017-01-27 14:49] micheleDiSalvatoreLoveholidays commented on #1251
found it
[code]

[2017-01-27 14:49] #1251 closed

[2017-01-27 19:21] netpoetica commented on #250
[code]

[code]

I can't remember what I did before, but I was getting Mocha output where the function name was "proxy" and you wouldn't know it was "doStuff". If I can remember what exactly what it was, I will post

[2017-01-29 22:59] papandreou commented on #828
I've also run into this issue, but from a slightly different angle. The [Unexpected-sinon](http://unexpected.js.org/unexpected-sinon/) module supports asserting on the complete "timeline" of calls, and because Sinon doesn't keep a global registry of all fakes that have been created, Sandboxes are the best option for not having to list all the spy instances when asserting. That's all fine until a s

[2017-01-30 06:29] mantoni commented on #828
I don't understand why `createStubInstance` should register in a sandbox? The only reason for the `fakes` being registered is to `restore` them in one call. There is nothing to restore in case of a stub instance.

[2017-01-30 07:58] papandreou commented on #828
@mantino,

To me `fakes` serves another purpose. The unexpected-sinon plugin has some fancy assertions that allow you to assert on the entire timeline of spy/stub calls by specifying a function that performs the calls. That way you can make a statement about the expected parameters as well as the order of the calls (like `sinon.assert.callOrder`) at the same time. Here's an example:

[code]

The a

[2017-01-30 08:11] mantoni commented on #828
You are relying on internals that may be removed or changed in any patch release. If you want to assert call order, you can use `sinon.assert.callOrder(spy1, spy2, ...)`, which reads better.

A global registry will have very confusing side effects when your test framework executes tests concurrently. It has always been a conscious design decision to not have any global state in Sinon.

Anyhow, we

[2017-01-30 08:44] papandreou commented on #828
Yes, I guess I'm implicitly arguing that `sandbox.fakes` should be added to the public API because of my use case.

Obviously I disagree, otherwise I wouldn't have made my alternative implementation :). `sinon.assert.callOrder` is not as expressive (doesn't allow you to specify which parameters were associated with the calls), and its behavior isn't well defined in cases where multiple calls to th

[2017-01-30 08:48] mantoni commented on #828
I'm still not convinced that `sinon.assert.callOrder` does not catch your use case. Consider this:

`sinon.assert.callOrder(spy1.withArgs('a'), spy2.withArgs('b'))`.

[2017-01-30 09:05] papandreou commented on #828
I didn't know about that syntax, I agree that it does appear to partially cover my use case.

However, fundamentally I'm not really interested in using Sinon's built-in assertions, only its implementation of fake objects. I'd rather use a dedicated assertion library, so I don't get confused about exactly which semantics apply. I'm aware that eg. sinon-chai is only a thin wrapper around sinon's own

[2017-01-30 09:16] mantoni commented on #828
That is quite understandable. I try to reduce mental overhead where possible too. If you want to use a different assertion library, you can put `withArgs` to use like this:

[code]

(See http://sinonjs.org/docs/#spies-api)

If you're using Chai, the [sinon-chai](https://github.com/domenic/sinon-chai) project exposes `calledBefore` and `calledAfter`. Maybe that is a better fit then.

[2017-01-30 17:03] mroderick commented on #1219
This has been resolved with #1243

[2017-01-30 17:03] #1219 closed

[2017-01-31 08:24] mroderick commented on #1245
Thank you for your concise bug report.

⭐️ for providing a failing test case

[2017-01-31 09:12] mroderick commented on #1245
@madtrick I've created #1254 to verify that this bug doesn't exist in the next version of Sinon (`sinon@next`, it's the `master` branch).

Since we use ES5 in the codebase, I had to slightly modify your test. Would you mind looking it over, to see if I have translated it correctly and that it still covers your scenario?

Also: it would be great if you could try to verify the absence of the error i

[2017-01-31 15:41] mroderick commented on #1249
I can't recall when I last wanted to examine a spy on more than the first/only call, so I am having a hard time imagining what a good test using this feature would look like.

I am not opposed to expanding `sinon.assert` with more assertions. However, I would rather not expand it with convenience methods to support bad practices.

Would you mind providing a more specific usage scenario to aid unde

[2017-02-01 07:17] papandreou commented on #828
I use (and contribute to) unexpected and unexpected-sinon. Most of the crazy things I'm talking about have already been built, eg. http://unexpected.js.org/unexpected-sinon/assertions/spy/to-have-calls-satisfying/ :)

[2017-02-01 18:49] appsforartists commented on #1249
I just looked through the tests in my codebase: in most places, I've been using `lastCall`, but not asserting any other calls.  The one place that I've seen where I'm using `lastCall` and expecting multiple calls is testing that a spring starts on one value and comes to rest at another.

Closing for now; will reopen if I run into this again.  Thanks.

[2017-02-01 18:50] rafaeleyng commented on #830
Just for the record, using it as with `webpack.ProvidePlugin` doesn't work either.

[2017-02-01 19:32] ngerritsen commented on #830
Personally I just stopped using Karma and thus not needing Webpack for unit tests. The makes them way faster to run also. Does this issue still exist? Other wise we can close it.

[2017-02-01 20:11] jsdnxx commented on #830
The issue still exists in sinon < 2.0, which is still not officially released. I recommend closing this issue either with a fix or when sinon 2.0 ships.

[2017-02-01 20:14] fatso83 commented on #830
This works in Sinon 2.0 and the README has since long had [a BIG FAT WARNING](https://github.com/sinonjs/sinon#important-sinon-v1x-does-not-work-with-amdcommonjs-bundlers) that bundlers like WebPack _do not work_ with Sinon 1.x. If you need to bundle, use one of the pre-release versions of Sinon. Closing this.

[2017-02-01 20:14] #830 closed

[2017-02-01 21:57] mroderick commented on #1240
@piamancini I've signed us up for Open Collective :)

[2017-02-01 22:00] fatso83 commented on #1218
@sprzybylski, did you have a chance to look at this? Thanks for the previous PR, btw 🎂

[2017-02-01 22:01] piamancini commented on #1240
@mroderick awesome! will review and activate. in the meantime you can edit content / upload expenses.

[2017-02-02 05:33] Aldaviva commented on #232
FYI for anyone looking to include Sinon in their web pages using the official NPM artifact, you actually want to use
[code]

[2017-02-02 07:52] sprzybylski commented on #1218
I did, but the new page looks pretty raw. I open a PR, maybe you'll have suggestions.

[2017-02-02 09:01] thebarty commented on #989
Hi guys: thanks a lot for bringing this feature in!

When is there gonna be a new sinon-version on npm to use this in our projects? It's a real pitty that we can't use this yet

[2017-02-02 10:20] fatso83 commented on #989
if you _really_ cannot wait for another pre-release then either
- point your dependency in package.json to `"sinonjs/sinon#master` (Node and browser bundlers)
- build it and include it in your repo

There was a world of working web software before NPM, you know ;-)

[2017-02-02 19:22] valentin-radulescu-hs commented on #176
I think this is fixed now, the following example works as intended:

[code]

[2017-02-03 01:03] kevincennis commented on #1066
I'm able to reproduce this in Chrome 55.0.2883.95 for Mac with Sinon 1.17.6 (the latest available at http://sinonjs.org/).

Here's a JSBin with a reduced test case: http://jsbin.com/mufotihiwo/edit?js,console,output

Essentially, it seems like when a stub is passed point-free to `Promise#then()`, Sinon _thinks_ it should have a stack trace longer than 3 lines, but it doesn't.

I haven't had a chan

[2017-02-03 01:19] kevincennis commented on #1066
This is perhaps a slightly better version that also works in Node:

[code]

[2017-02-04 00:43] lucasfcosta opened #1258 "Stub get/set on property descriptors with the new API (after deprecating stubDescriptor)"
Hi friends, as I have commented [here](https://github.com/sinonjs/sinon/pull/1239#discussion_r96125760), when the [`stubDescriptor`](https://github.com/sinonjs/sinon/blob/master/lib/sinon/stub-descriptor.js#L10) gets deprecated we will not be able to stub `getters` and `setters` on property descriptors anymore since [the function it calls](https://github.com/sinonjs/sinon/blob/master/lib/sinon/stu

[2017-02-04 06:44] mocheng commented on #791
Even tough this issue is closed, I just want to post my case to prove it is necessary.

In my case, the program is run with `babel-register` and there is one unit test need to stub `readFileSync` for given filename and `proxyquire` to stub required module. However, `babel-register` would find `.babelrc` and parse it during execution. As a result, below code will fail.

[code]

It sounds that stub

[2017-02-04 14:07] mantoni commented on #791
@mocheng You can program the stub to have different behavior for different arguments like this:

[code]

[2017-02-05 06:35] JoshuaCWebDeveloper opened #1259 "FakeXDomainRequest still triggers ajax error event instead of load"
**Purpose (TL;DR)**
#1040 Brings up the issue of when an error event should be triggered, and when it shouldn't. The conclusion was that a non-2xx status should trigger the load event, _not_ the error event. #1102 fixed this problem in `FakeXMLHttpRequest`, but the problem persists in `FakeXDomainRequest `.

**Minimum Info**
* Sinon version: 1.17.7
* Environment: NodeJS v7.4.0
* Example URL: [none

[2017-02-06 08:47] mocheng commented on #791
@mantoni Thanks.
It just looks tedious to mock `.babelrc` and my `.babelrc` has quite a lot of stuff.
Now, I just totally rely on `proxyquire` for this case.

[2017-02-06 08:57] mantoni commented on #791
@mocheng There is a new feature that [just landed on master](https://github.com/sinonjs/sinon/pull/1234) which allows to call through to the original implementation. It's not in a release yet, and it will only be supported in Sinon 2. You can point your dependency to master for now.

[2017-02-08 14:08] duclet opened #1261 "Use something else besides colors"
* Sinon version : 2.0.0-pre.5
* Environment   : Nodejs
* Example URL   : NA
* Other libraries you are using: NA

**What did you expect to happen?**
Running tests with WebPack should run without issues or warnings.

**What actually happens**
The tests runs fine however, I get the following warnings:

[code]

The reason is because that module is dynamically including in dependencies. The module also

[2017-02-08 15:35] fatso83 commented on #1261
You may if you push a pull request ;-)

[2017-02-08 19:29] zurfyx commented on #176
@valentin-radulescu-hs it still fails on my side with `1.17.7`.
It still takes the latest `returns` as the only return value, regardless of the `withArgs` (as pointed by @jasonkarns https://github.com/sinonjs/sinon/issues/176#issuecomment-78191790).

What does work for me is @mantoni 's answer https://github.com/sinonjs/sinon/issues/176#issuecomment-33636496, by not chaining `withArgs()`.

[code]

[2017-02-08 20:16] valentin-radulescu-hs commented on #176
@zurfyx are you running on node or in browser? Which version of node/browser are you using? Not sure if it matters but I'd like to try and replicate on my end.

[2017-02-09 01:52] fernandosouza opened #1262 "Tag 1.17.7 is missing in the repo"
The Sinon npm's page says that the latest version is `1.17.7`, but the repo tag doesn't exist.

[2017-02-09 05:19] mocheng commented on #791
@mantoni  cool. thanks!

[2017-02-09 06:40] fatso83 commented on #1262
Hmm ... might have forgot pushing the tags. I'll check it out.

[2017-02-09 07:14] vicnbt commented on #727
@taion, @kruppel

`window.fetch = null `

didn't help me, I still got 404 for code like

[code]

what else can be the problem?

[2017-02-09 11:51] vicnbt commented on #727
may be the solution is not to test this functionality?

[2017-02-09 13:05] apoorva-shah commented on #817
Here, I want to assert that callback function is called or not. So how can I do it using sinon js. Please suggest.

[code]

[2017-02-09 13:09] apoorva-shah commented on #92
Here, I want to assert that callback function is called or not. So how can I do it using sinon js. Please suggest.
[code]
var mailjetClient = require('../../node_modules/node-mailjet/mailjet-client');

sinon.stub(mailjet, 'post').withArgs('send').returns(mailjetClient);
sinon.stub(mailjetClient, 'request').returns(Promise);
I am getting following error:

TypeError: Attempted to wrap undefined prop

[2017-02-09 14:27] Siilwyn commented on #188
Workaround is stubbing the whole environment, like:
[code]

[2017-02-09 22:32] lidel commented on #1195
I am no longer experiencing this error under Firefox Nightly.
It seems that the issue was fixed in sinon v1.17.7 (?)

[2017-02-09 22:32] #1195 closed

[2017-02-09 22:51] zurfyx commented on #176
Hey @valentin-radulescu-hs. I'm running it on Node, using `babel-cli` 6.22.2
- Node 6.9.4
- NPM 3.10.10

*sorry for the late reply*

[2017-02-09 23:07] valentin-radulescu-hs commented on #176
@zurfyx I've tried replicating with the config you mentioned using the same code as I wrote [above](https://github.com/sinonjs/sinon/issues/176#issuecomment-277055432) and it outputs to the console `sleepy` and `eating` as expected. Not sure why it's causing you issues 😢

[2017-02-10 12:52] mroderick commented on #1240
I've merged the PR that adds Open Collective to `README.md`, so you can now become a backer / sponsor of Sinon

❤️

[2017-02-10 12:52] #1240 closed

[2017-02-10 14:26] Floby commented on #1240
great news !

On 10 February 2017 at 13:52, Morgan Roderick <notifications@github.com>
wrote:

[2017-02-10 15:03] #1259 closed

[2017-02-10 15:29] fatso83 commented on #176
@zurfyx Just to be _totally_ sure, have you tried this?
[code]

Most of the times I am having problems it is due to the package version I am expecting not being the same as what is installed.

[2017-02-10 15:34] fatso83 commented on #817
@apoorva-shah: the javascript output is enough to help you. there is no property called `request` to stub on that object. and please don't use this issue tracker for usage questions: try stack overflow or our Gitter channel.

[2017-02-10 19:01] zurfyx commented on #176
@fatso83 It doesn't work either. `grep` output version is still `1.1.7.7`.

This is my full test, in case it can help:

[code]
`s('a')`: `'1'` ✓
`s('b')`: `'2'` ✓
`s('c')`: `undefined` ✓

[code]
`s('a')`: `'2'` ✗
`s('b')`: `'2'` ✓
`s('c')`: `'2'` ✗

[2017-02-10 19:55] mwielansky opened #1264 "Allow the creation of stubs, spies, etc to override existing rather than throw error"
This is a feature request to allow the creation of stubs, spies, etc to override existing rather than throw error. In my unit test cases I often use this pattern to make sure that I'm blocking any downstream code from executing:
[code]
Later in the flow I insert the stubs for the functions I care about:
[code]

It would nice to be able to skip the restore() line and just let the new stub override

[2017-02-11 15:43] bisubus opened #1265 "Support constructor functions and ES6 classes in spies and stubs"
Currently spies and stubs don't call original or stub function with `new` by design - even if they were called with `new`. The suggestion is to add this behaviour to them.

To my knowledge, some of the cases could be easily treated with `createStubInstance`, while in other cases it will be difficult. Since `createStubInstance` creates an instance, a wrapper function should be created manually, and

[2017-02-13 13:09] duclet commented on #1261
![bitmoji](https://render.bitstrips.com/v2/cpanel/10120168-229307696_3-s1-v1.png?transparent=1&palette=1&width=246)

[2017-02-13 13:28] andreyluiz opened #1267 "Cryptic error when calling spy"
I have a spy which I am passing as a prop in a react component. This spy should count and get args when the form's submit is triggered.

In the above example I am getting the call count and trying to get the call arguments:

[code]
As commented, the last command returns an error. Inspecting the spy, there's a cryptic error in the `stacks` parameter:

[code]

I have no idea why this error occurs, b

[2017-02-14 09:21] #1261 closed

[2017-02-15 08:25] fatso83 commented on #1262
fixed

[2017-02-15 08:25] #1262 closed

[2017-02-15 08:49] fatso83 commented on #1265
I have a bit of trouble understanding what you are trying to do with the actual code from the top of my head, but I do recognize the heading, which has been covered extensively before.

Could you please read the the [comment thread in 831](https://github.com/sinonjs/sinon/issues/831) and see if it covers the info on what you are trying to do? Alternatively  [this](https://github.com/sinonjs/sinon/

[2017-02-15 08:59] fatso83 commented on #1258
Hi, @lucasfcosta, sorry for leaving this hanging for so long. It's a crucial API design bit I think we should decide on what to do with ASAP. I at least forgot this bit when looking at #1239 since I so seldomly stub properties. Hopefully we can decide before the release hackathon we are planning, or what @mroderick and @mantoni? Hopefully we have decided on most bigger decisions before that so we

[2017-02-15 09:11] bisubus commented on #1265
@fatso83 Sure, I've already read related issues prior to posting this one.

The thing that differs ES6 classes from ES5 constructor functions is a safeguard that prevents them from being used like `var bar = Object.create(Bar.prototype); Bar.call(bar)`.

In the example above `foo.Bar` method is a class which is called somewhere else like `new foo.Bar()`, but it cannot be stubbed with another class

[2017-02-15 17:09] mousavian opened #1268 "Combination of callsArgWith and returns methods"
As I understand, `.returns` method, is allocating the value that needs to be returned in the time of stubbing ([link](https://github.com/sinonjs/sinon/blob/master/lib/sinon/behavior.js#L300)).
But is there any way to decide what to return whenever the method we are stubbing is actually being invoked from the source code; based on arguments its receiving?

For example:
[code]

Please note that in m

[2017-02-16 00:26] lucasfcosta commented on #1258
@fatso83 No problem, sometimes life gets really busy and we have to worry about things other than open source. I too haven't had much time available to send more PRs to Sinon in the last month as I was doing on last year's holidays, I'm looking forward to contributing more next month. Thank you and all the team for your dedication to the project!

------------------------

Regarding the proposal:

[2017-02-16 00:47] lucasfcosta commented on #1268
Hi, @mousavian, how are you?

Well, I think that you can just pass a simple function to the `stub` method. By doing this your function will replace the original one and you will have all the arguments passed to it available to do calculations and return them as you please.

For example:

[code]

You can see more things you can check at: http://sinonjs.org/docs/#spies-api

Also, please notice there

[2017-02-16 01:01] lucasfcosta commented on #1267
Hi @andreyluiz, it's nice to see more people from Florianópolis here 😄

I was taking a look at Sinon's source code and apparently what happens when you get an specific call from a spy is:

1. [It checks if this call exists (if its greater than `0` and lesser or equal than the total count of calls)](https://github.com/sinonjs/sinon/blob/6dd1114c524cc0ef2c9ae098749a509da4dc86f7/lib/sinon/spy.js#L239

[2017-02-16 02:23] mousavian commented on #1268
Hello @lucasfcosta , I'm great, how are things with you? :)

Yes, that is what i was looking for and I am wondering how I could miss that in the top of the documentation.

Thanks for your your reply and information about future changes. Cheers 👍

[2017-02-16 02:23] #1268 closed

[2017-02-16 06:41] takasmiley opened #1269 "unexpect spy.withArgs(args...).callCount"
* Sinon version : 1.17.7
* Environment   : node v6.9.2 & mocha

The following test code is passed. but, unexpected results are included.
Is this my misunderstanding? or bug?
[code]

[2017-02-16 09:10] fatso83 commented on #1269
We are trying to keep the GitHub issues list tidy and focused on bugs and feature discussions. This ticket looks like a usage question, please post it to the [Sinon.JS mailinglist](http://groups.google.com/group/sinonjs), so the bigger community can help answer your questions.

If you feel that your topic is an issue with Sinon.JS, please open a new ticket and follow the [guidelines for reporting

[2017-02-16 09:10] #1269 closed

[2017-02-16 13:50] mitrey commented on #166
afterEach calls after each it() function. If you stub in it() but not in beforeEach() after call first it() your method is not stubbed. That's why object.method.restore do not added to object.method.

[2017-02-17 15:06] pimterry opened #1270 "Add throwsArg(index) to mocks"
Sinon supports `returnsArg(index)` to easily pass on a value that was passed in, and `callsArg(index)` to callback to an arg that was passed in, but not `throwsArg(index)` to rethrow an error argument that was passed in. This is useful for functions which rethrow a provided error, e.g. when mocking error handlers and hooks.

Would you accept a PR for this?

[2017-02-19 22:50] mroderick commented on #1270
That seems like a reasonable expansion of the API

[2017-02-20 22:33] Download commented on #1139
How?

[code]

[2017-02-21 21:50] melinath opened #1272 "sinon@next fails on text-encoding import"
* Sinon version : `sinon@2.0.0-pre.5`
* Environment   : Mac OS X
* Other libraries you are using: `jest@18.1.0`, `babel-core@6.23.1`

**What did you expect to happen?**
A fix for #878

**What actually happens**
test run fails.

<img width="604" alt="screen shot 2017-02-21 at 1 46 35 pm" src="https://cloud.githubusercontent.com/assets/299979/23186493/3447e7d4-f83c-11e6-9145-73b54c5d4252.png">

**Ho

[2017-02-21 23:48] melinath commented on #1272
Attempted to force an upgrade of text-encoding via `npm shrinkwrap` - new error is:

[code]

[2017-02-21 23:56] melinath commented on #1272
Resolved new error by installing [`sinon-test`](https://github.com/sinonjs/sinon-test) - confirmed working now.

[2017-02-22 11:30] #1272 closed

[2017-02-22 11:30] fatso83 commented on #1272
Closed as user error

[2017-02-23 04:09] takasmiley opened #1274 "callCount property is incorrect"
* Sinon version :  1.17.7
* Environment   : node v6.9.2
* Example URL   : None
* Other libraries you are using: mocha

**What did you expect to happen?**
I would expect that spy.callCount is number of times the target function was called.
And, spy.withArgs(arg1).callCount is number of times the target function was called with specific arguments.
But, the callCount property is often incorrect.
**Wh

[2017-02-23 06:12] takasmiley commented on #1274
If write the following hack before the assertion, this test will pass.

[code]

With the matchingFake function in spy.js, I think only the last fake (pop()) in fakes matched may be incremented.

[2017-02-23 08:34] VynceMontgomery commented on #1192
I'm having a similar problem; the documentation for useFakeTimers says that you can list functions to fake but doesn't explain what that would mean if you do vs don't. Just clarifying that in the docs would be pretty swell.

[2017-02-23 11:47] salsaly4 opened #1275 "Uncaught TypeError: Cannot read property 'call' of undefined"
* Sinon version : 1.17.7
* Environment   : Node v7.4.0
* Other libraries you are using: karma/mocha/enzyme, webpack@2.2

**What actually happens**
Getting
`Uncaught TypeError: Cannot read property 'call' of undefined`

**How to reproduce**
[code]

[code]

If i remove the line with the call to sinon.spy(), everything works.

Somehow it is connected to webpack, since it breaks on line
[code]
in the

[2017-02-24 01:30] NealEhardt commented on #960
Yep, I just spent 90 minutes diagnosing and fixing this in a commercial codebase.

At the very least, [the docs](http://sinonjs.org/docs/#clock) should mention that setImmediate will be faked.

[2017-02-24 11:16] mroderick commented on #1275
Are you using Sinon from source perhaps?

[2017-02-24 11:17] mroderick commented on #1275
You might want to try the next version of Sinon, which has much wider support for module systems

[code]

[2017-02-24 11:23] salsaly4 commented on #1275
No, I've installed it with npm. I'll try the beta later today and let you know if the problem persists.

[2017-02-24 11:31] mroderick commented on #1275
https://github.com/sinonjs/sinon#important-sinon-v1x-does-not-work-with-amdcommonjs-bundlers

[2017-02-24 12:07] salsaly4 commented on #1275
Thanks, it worked. Sorry for inconvenience.

[2017-02-24 12:07] #1275 closed

[2017-02-24 13:38] mroderick commented on #1275
👍

[2017-02-24 14:50] mroderick commented on #1245
@madtrick would you mind trying to reproduce this bug with `sinon@next`?

[2017-02-24 15:32] derekdon commented on #621
@fatso83 When trying to use the sinon@next in webpack 2, I get errors related to colors.js

[code]
It looks like a pull request was raised to move to chalk and it was merged into [master here](https://github.com/sinonjs/sinon/commit/912a097f4b860d8a239a1582471277896e457bcc)

Is this change due to go into 2?

[2017-02-24 15:58] fatso83 commented on #621
@derekdon obviously, as it was integrated into `master` which is the basis for all non-1.x releases. Rumors have it that Sinon 2 might be a thing next week 🙂

[2017-02-24 16:17] derekdon commented on #621
@fatso83 sorry, not knowing the release schedule of 2, I meant into one of the pre release versions as it's not in https://github.com/sinonjs/sinon/blob/v2.0.0-pre.5/lib/sinon/spy.js. So wondering if v2.0.0-pre.6 was due to land, but it sounds like I won't need to wait long for 2 so that's cool. Thanks.

[2017-02-24 18:36] eddyerburgh commented on #1139
Upgrading to 2.0.0-pre.5 hasn't solved it for me

[2017-02-25 09:53] mroderick opened #1276 "Add source maps to dist version"

[2017-02-25 10:04] mantoni opened #1278 "Fix sinon.js and/or sinon-server.js bundle content"
The current Sinon 2.0 bundle contains the sinon-server code as well. There is a separate `sinon-server.js` file being generated as part of the release process which is (almost) identical to the main `sinon.js` file. The `sinon-server.js` file should contain the fake XHR code while the `sinon.js` file shouldn't.

There are two questions:

- Should the `sinon-server.js` file contain everything, like

[2017-02-25 10:13] fatso83 commented on #1218
Closes by #1256

[2017-02-25 10:13] #1218 closed

[2017-02-25 11:27] mantoni commented on #1278
As discussed with @sinonjs/owners, we're going to remove the separate `sinon-server.js` file and just include everything in the `sinon.js` file.

[2017-02-25 11:36] mantoni opened #1279 "Remove Ruby dependency from build script"
We should be able to refactor the build script to plain npm scripts.

[2017-02-25 11:55] fatso83 commented on #1265
@bisubus thank you for the details. I was not aware that the spec actually mandates the interpreter to throw an error when not calling the constructor with new, since the transpiled code is working fine. Since this feature is currently not possible to support in ES6/ES2015 environments using ES5-only syntax, we will need to do something à la
1. feature detect that we are running in a ES2015 enviro

[2017-02-25 12:52] mroderick opened #1280 "Add documetation for stub#callThrough"
`callThrough` was added in #1234, but has not been documented yet

[2017-02-25 13:10] fatso83 commented on #1258
OK, going at this today ...

[2017-02-25 13:28] lucasfcosta commented on #1280
Ah, I totally forgot that. Sorry. I'll do it and send a PR in a few minutes.

[2017-02-25 14:10] bisubus commented on #1265
@fatso83 Babel tries to follow the specs strictly (TS doesn't, Traceur too IIRC), so this is applicable to ES5 as well. It is possible to detect native classes with regexps, but not Babel classes, at least in minified code.

Did you mean 'stub' when you said 'createStubInstance'? It seems to me that `createStubInstance` is fine, at least `sinon.createStubInstance(NativeClass)` creates an instance

[2017-02-25 14:37] lucasfcosta commented on #1258
Thanks @fatso83!
I can review your work when you finish or help you with anything you need.
Let me know if you need any help.

Also, here is what I've thought about when wandering through the codebase to see how this could be implemented:

1. First we'd need to remove [this check](https://github.com/sinonjs/sinon/blob/79beb095e4d60d1e23fd0714f7070849154eb545/lib/sinon/util/core/wrap-method.js#L36)

[2017-02-25 15:07] mroderick opened #1286 "Improve documentation for stub.callsArgAsync(index)"
[code]

[2017-02-25 16:08] mroderick opened #1287 "Test in mobile browses on SauceLabs"
We should improve our use of SauceLabs and test in mobile browsers

[2017-02-25 16:21] #1280 closed

[2017-02-25 16:36] cjohansen commented on #966
We're basically there, the docs site has its own issue.

[2017-02-25 16:36] #966 closed

[2017-02-25 17:03] mroderick commented on #1220
The new site is live

[2017-02-25 17:03] #1220 closed

[2017-02-25 17:04] mroderick commented on #1221
This was fixed with https://github.com/sinonjs/sinon/pull/1288/commits/5874b0e509d617a999918e3e06d53d11b52521a9

[2017-02-25 17:04] #1221 closed

[2017-02-25 17:59] cjohansen commented on #1279
Fixed in #1294 👏

[2017-02-25 17:59] #1279 closed

[2017-02-25 17:59] cjohansen commented on #1278
Fixed in #1294 👏

[2017-02-25 17:59] #1278 closed

[2017-02-25 17:59] cjohansen commented on #1276
Fixed in #1294 👏

[2017-02-25 17:59] #1276 closed

[2017-02-26 13:33] fatso83 opened #1298 "Integrate the documentation from the links removed in #1296"
#1296 removes a few links that have been dead for a long time, but that pointed to articles containing several good tips on testing in general and Sinon in particular.

We can probably find the content that were present at the other end of those now-rotten links by visiting Archive.org. Should be an easy addition to our docs folder with some value.

[2017-02-26 14:50] fatso83 opened #1299 "Create redirects for top hits in Google"
To avoid losing too much of the hard-earned current SEO score for Sinonjs.org we should quickly get in place some redirects for the top hits on Google. These are mainly `/docs` and `/downloads`. We could quickly just [add redirects to the `config.yml`](https://github.com/jekyll/jekyll-redirect-from) that just points to /releases, but that info would differ too much I guess. Preferably the docs lin

[2017-02-26 18:20] fatso83 commented on #1265
Just a minor thing.

The example above turned out to (very slightly) incorrect. I was playing around with it and noticed it wasn't actually doing what you said. Factory methods are `static` by nature, but you omitted the `static` keyword in your definition, which means that `foo.Bar.factory()` will never work - sinon or no sinon.

I took the liberty of adding the `static` keyword to make the examp

[2017-02-26 18:59] bisubus commented on #1265
@fatso83 Thanks, of course, this was a mistake.

I've updated the OP. Since this behaviour existed in spies and stub by design, I guess this is feature request.

[2017-02-26 20:51] #993 closed

[2017-02-26 20:53] fatso83 commented on #993
You can now add behaviours in Sinon using the official API. See #1302

[2017-02-27 08:24] mantoni commented on #284
I still like the idea of `sinon.sandbox`, especially because it would work with the new arrow functions which I tend to use in Mocha these days. Unfortunately, this will not make it into Sinon 2 since we just have to make a cut at some point to the the release (finally) out the door. We should consider the addition of `sinon.sandbox` as a feature and the deprecation of `sinon.test`, and reworking

[2017-02-27 12:46] derekdon commented on #621
@fatso83 thanks for dropping v2.0.0-pre.6, my issues are resolved with it.

[2017-02-27 13:38] mantoni opened #1304 "Sinon.JS homepage design"
The new [Sinon.JS homepage](http://sinonjs.org) is up 🎉 and it needs help! @mroderick invested a significant amount of time to make a new Jekyll page that is now hosted on GitHub.

We would ❤️ some help with the design of the page. We'd like to add the content from the README.md to show who is sponsoring the project and link to the [Sinon.JS open collective page](https://opencollective.com/sinon).

[2017-02-27 14:07] pghalliday commented on #1185
This just happened again with pre.6 :o

[2017-02-27 14:09] pghalliday opened #1305 "2.0.0-pre.6 mistakenly published as latest"
See #1185 for similar issue and fix

[2017-02-27 14:13] rahulmr opened #1306 "yo aio-angular is not successful since it depends on sinon 1.15.0 js file"
The resolution could be posting the 1.15.0 js in the releases link
http://sinonjs.org/releases/ like below
http://sinonjs.org/releases/sinon-1.15.0.js

* Sinon version : Cannot verify this, as I don't know how to.
* Environment   : Windows 7, node 7.5.0 and npm 4.1.2
* Example URL   : https://github.com/PinkyJie/generator-aio-angular
* Other libraries you are using: aio-angular and bower with angu

[2017-02-27 14:19] mantoni commented on #1306
I think the `aio-angular` thingy should take the releases from the zip files associated with the GitHub tags, and not from the homepage. We might even decide to rename that folder. It's not reliable.

[2017-02-27 14:43] GordonMohrin commented on #1306
same thing problem at bard.js:
https://github.com/wardbell/bardjs/pull/46/commits/daac0f97ffc0ffde391615a4bb86d4e451ee0bef

[2017-02-27 14:49] mroderick commented on #1305
I've fixed it

[code]

[2017-02-27 14:49] #1305 closed

[2017-02-27 14:49] mroderick commented on #1305
Thank you for the report!

[2017-02-27 14:49] pghalliday commented on #1305
np, thanks :)

[2017-02-27 15:27] mantoni commented on #1306
Thanks. Using npm is even better.

[2017-02-27 20:28] fatso83 commented on #1306
This is an issue with flaky setup of external projects, not sinon itself. Closing as tips for fixing this has been given and there is not much we can do here.

[2017-02-27 21:37] #1306 closed

[2017-02-28 01:18] jcope2013 opened #1308 "Issue with old releases no longer being published on new site"
now that the new site is live (https://github.com/sinonjs/sinon/issues/1220), a lot of the old releases are not published anymore, this is an issue as a lot of repo's depend on older releases

https://github.com/search?q=http%3A%2F%2Fsinonjs.org%2Freleases%2F&type=Code&utf8=%E2%9C%93 (47,412 results found) a lot of these no longer work, can you publish all of the older releases again so that downs

[2017-02-28 06:04] takasmiley commented on #1274
I think that stub is also affected by this issues.
Because stub depend on spy api, and this is similarly affected.
The following code is able to reproduce this bug.

[code]

[2017-02-28 06:59] rahulmr commented on #1306
Bit confused, what should be my take here? How should I fix this locally? Ask whom to fix it? :)

[2017-02-28 07:06] mantoni commented on #1306
@rahulmr As you stated in the aio-angular issue, they should use the npm dependency instead of the website URL.

[2017-02-28 07:10] mantoni commented on #1308
We never supported bower and the website URLs are not part of our API. The issue lies within people using the URLs instead of official releases. If anybody needs a different mechanism, they can maintain it. If you rely on these, you should fix it ASAP because there is no guarantee that the files will live in that place under that name in the future.

@sinonjs/owners Who has a handle to the old rel

[2017-02-28 07:12] mantoni commented on #1308
Same as #1306.

[2017-02-28 07:51] #1308 closed

[2017-02-28 07:53] mantoni commented on #1308
The files are restored.

[2017-02-28 07:54] mantoni commented on #1306
The files have been restored in #1308.

[2017-02-28 08:04] mantoni commented on #1246
`twice()` means it expects exactly two calls. Any more or less is an error. Likewise, if you actually call it twice and say `atLeast(3)`, you're not calling it often enough. If you use `atMost(3)`, it should work as expected.

[2017-02-28 08:04] #1246 closed

[2017-03-01 09:50] takasmiley commented on #1274
This issues also happen in `v2.0.0-pre.6`.

Could I send a PR to resolve this issues?

[2017-03-01 13:07] fatso83 commented on #1274
Yes, please!

[2017-03-01 13:09] fatso83 commented on #1299
This now works after merging #1311. It is just browser redirects, but it works until someone makes a better thing.

[2017-03-01 13:09] #1299 closed

[2017-03-02 05:20] VynceMontgomery opened #1314 "Broken link in docs at website"
The link to explanation of sinon.match 404s. Note that the link works OK when viewing the docs on Github, so presumably this is an error in how the markdown is being converted to the sinonjs.org website.

* Sinon version :
I'm reading published documentation for v1.17.7 but a glance through the repo suggests the code behind this error exists in the docs for many versions (including 2.0.0)

* Envir

[2017-03-02 07:45] takasmiley commented on #1274
I investigate the part of `matchingFake`, in particular `pop()`.
It seems the feature of using withArgs function with passing sinon-matcher don't work.

For example:
[code]

I think case4 should prioritize non-matcher over matcher, and return its fake.
Current behavior is returning last matched fake (pop()).
So, the returning fake is undefined because of calling order `withArgs()` and making order

[2017-03-02 20:48] jonnyreeves commented on #966
Hey chaps - anything preventing us from marking 2.0 as the "stable" sinon release and killing 1.x? :)

[2017-03-03 06:39] fatso83 commented on #966
Think we wanted #1297 in as the last thing.

[2017-03-03 07:21] cjohansen commented on #966
ETA on that? I suggest we ship no later than next week, postponing that one feature if it's not done.

[2017-03-03 20:02] ELLIOTTCABLE commented on #966
You guys are beautiful. <3

[2017-03-05 11:05] dpnyk commented on #1304
Hi I'd like to volunteer to help with the redesign. I can do about 5-10 hours a week. I am a UX designer.

[2017-03-05 13:33] mantoni commented on #1304
@dpnyk Awesome! How would you like to get started? We currently don't have a specific plan for this.

[2017-03-06 02:07] dpnyk commented on #1304
So basically, I want to understand who are the main users of this site.(
Please include primary users, secondary users ) For example :  Primary
users could be people who are good at JS and want to explore this, or
someone who is learning js and wants to use this.

This helps me understand who exactly are we designing the site to so that I
could then take into account how much time they spend looki

[2017-03-06 11:26] mantoni commented on #1304
@dpnyk We appreciate your engagement and that you're willing to put in such a high amount of time. However, we're seeking for somebody who iterates on the UI design of the existing page. It would be a bit much to spend weeks on a UX redesign at this point.

[2017-03-06 12:50] dpnyk commented on #1304
Oh Okay. I could send in a few sketches based on the idea I have about the
page design. If you guys like the structure, I can do the wireframes and
visuals quickly.

On Mon, Mar 6, 2017 at 4:56 PM, Maximilian Antoni <notifications@github.com>
wrote:

--
Deepika Nayak

[2017-03-06 16:31] afnizarnur commented on #1304
Hi! I'd like to volunteer to design Sinon.js homepage. I'm an UI designer that do front-end too.

[2017-03-06 21:31] jlecomte opened #1316 "Incompatibility with recent versions of Babel"
* Sinon version : Both 1.17.7 and 2.0.0-pre6
* Environment   : Node v6.9.1
* Example URL   : N/A
* Other libraries you are using: babel-register@6.23.0

**Test case**

index.js:
[code]

test.js:
[code]

Command:

[code]

**What did you expect to happen?**

Nothing...

**What actually happens**

An error is thrown:

[code]

[2017-03-06 22:49] ckwong90 opened #1317 "Update sinon spy api documentation"
I was looking a way to spy on an objects setter and getter function and noticed that it's not in the docs http://sinonjs.org/releases/v2.0.0-pre.6/spies, but the api is burried in an issue https://github.com/sinonjs/sinon/issues/917.

Add api docs for
[code]

[2017-03-06 23:50] jlecomte commented on #1316
This started with babel-register@6.16.0 due to the upgrade of source-map-support. Maybe I should file an issue in Babel?

[2017-03-07 05:25] fatso83 commented on #1316
This looks like a problem with Babel ... I am not at all convinced this is a Sinon issue. It looks like the source map module has problems generating a correct stack trace. in the 0.4.3 version.

[2017-03-07 05:28] #1314 closed

[2017-03-07 05:30] fatso83 commented on #1317
That is because we are reworking the API for that, and that it is currently undergoing a change. It is currently not possible with the release candidate. See #1297 for background info.

[2017-03-07 19:30] jlecomte commented on #1316
I filed the following issue on the Babel repo:

https://github.com/babel/babel/issues/5426

Thanks!

[2017-03-07 19:51] VynceMontgomery commented on #1314
So, I don't know if it matters, but this change breaks the link within github, i.e., when looking at:

https://github.com/sinonjs/sinon/blob/421c869a171e5c27b93b777ad58adaf69941f9b2/docs/_releases/v1.17.7/assertions.md the link now doesn't work there.

[2017-03-07 19:55] loganfsmyth commented on #1316
Fun times: https://github.com/babel/babel/issues/5426#issuecomment-284839994

[2017-03-07 20:11] fatso83 commented on #1314
We can't have it both ways unfortunately.

[2017-03-08 08:16] #1316 closed

[2017-03-08 09:05] mantoni commented on #1304
@dpnyk I really don't think we're going to change the structure of the page at this point. If you want to send in sketches anyway, that would sure be interesting to see :)

[2017-03-08 09:05] mantoni commented on #1304
@afnizarnur Awesome! How do you want to get started?

[2017-03-08 15:44] ashirley opened #1321 "Behaviour of deep matching inconsistent between arrays and objects."
* Sinon version : master

**What did you expect to happen?**
Both of the following to return true:

`sinonMatch({ deep: { str: "sinon" } }).test({ deep: { str: "sinon", ignored: "value" } })); //true`
`sinonMatch([{ str: "sinon" }]).test([{ str: "sinon", ignored: "value" }])) //actual false, expected true`

**What actually happens**

The first returns true (as expected), the second returns false.

[2017-03-08 17:40] afnizarnur commented on #1304
Hi @mantoni

First of all, I'll collect some mood board and start to create low-fidelity wireframe of the homepage based on current landing page content. After that, I'll share all of that in here and maybe get some feedback about it from you. If clear, I'll start to create the high-fidelity mockup.

Also, is Sinon.JS have a logo ?

[2017-03-08 17:49] mantoni commented on #1304
@mroderick Can you try to get hold of a hi-res version of our logo?

[2017-03-09 16:58] stephanwlee opened #1322 "Deep Equal should not exact equal for error"
Hi Sinon! Thank you for providing awesome library with cool new features added to the pre-release version. I have been using pre for newly introduced API (I was going to write extension myself and I found the code whiling digging through the source) but .6 release broke our large test suite.

* Sinon version : 2.0.0-pre.6
* Environment   : macOS with Node6+
* Example URL   :
* Other libraries you

[2017-03-09 22:44] ScottyMJacobson opened #1323 "server.requests is undocumented"
Hello! I noticed that in your example on the homepage, you imply that we can expect the `server.requests` object as an array of requests (queued or otherwise) on our fake server.

[code]
However, in the online documentation (at least in [version 1.17.7](http://sinonjs.org/releases/v1.17.7/)) for the server module, it doesn't look like it's defined on the server object. I was able to extrapolate fr

[2017-03-09 22:45] ScottyMJacobson commented on #1323
Just kidding, found it in the upcoming docs for v2.0.0

Sorry! Closed!

[2017-03-09 22:45] #1323 closed

[2017-03-10 04:27] apowers313 opened #1324 "No sinon.assert.returns?"
Is there some reason why there isn't a `sinon.assert.returns(spy, obj)` call for testing that a spy got the expected return value?

[2017-03-10 07:14] mantoni commented on #1324
Seems like an inconsistency in the API to me. Care to make a pull request?

[2017-03-12 04:00] afnizarnur commented on #1304
I'm waiting for the logo @mantoni

[2017-03-12 07:43] apowers313 commented on #1324
Is that as simple as just adding a `mirrorPropAsAssertion` call? Also, should I create a PR against 1.17.7 or 2.0.0-rc?

In the interest of identifying other gaps, put together the [attached spreadsheet](https://github.com/sinonjs/sinon/files/836355/Sinon.Cross-API.Mapping.20170311.xlsx) and looks like there might be other clean-up that could happen.

One idea I had (if it's not overstepping my bo

[2017-03-12 08:37] mantoni commented on #1324
It would be great if we could stick to the one change here. It's too late to change things for 2.0 as we're only waiting for a single regression before it goes out. There are other changes planned for later major releases and your suggestions could be either added there or you could open another issue where we can discuss.

Re the original issue: Yes, it might be very simple. Make sure to add a un

[2017-03-12 08:38] mantoni commented on #1304
@afnizarnur Can you work with the one from the GitHub org page until we get one with higher resolution?

[2017-03-12 15:10] afnizarnur commented on #1304
@mantoni Yes I can, I'm working on the low-fidelity wireframe right now.
Let me know if the higher resolution of the logo is ready. 😃

[2017-03-12 15:25] mantoni commented on #1304
Oh, I just realized that I get a higher resolution image when I download the org image from the settings page.

![sinon](https://cloud.githubusercontent.com/assets/332271/23833045/7188ed42-0740-11e7-9a3c-e8b51d531f5b.png)

Is this good enough?

[2017-03-12 15:27] afnizarnur commented on #1304
Yeah, good enough. Thanks! @mantoni

[2017-03-13 15:48] topr opened #1327 "Typo in resetBehavior() method docs"
Sinon [documentation for version 1.17.7](http://sinonjs.org/releases/v1.17.7/stubs/) has a quite unfortunate typo.

There is a documented method `stub.resetBehaviour();` while in the implementation method is spelled without 'u': `stub.resetBehavior();`

Not sure if any other version is affected, I would guess they might be. A small typo but it gave not such a small puzzle.

[2017-03-14 11:06] DamienGallet opened #1328 "Assert.calledWith seems not work when parameter is modified afterwards by reference"
Hi !

I'm working in NodeJs with mocha, and the latest version of Sinon (1.17.4 at least).
I try to stub some methods in a class, but I've a problem in the assert when I want to check that the function has been called with the good parameters, especially when parameters are modified below in the tested function.
Here you'll find a sample of code which isn't apparently working properly :
[code]

Fi

[2017-03-14 12:07] jonnyt886 commented on #904
Hi there, +1 on this. I run my tests via `npm test` and get assertion failures but no additional info. It'd be helpful for Sinon to output what stubs were called & their arguments.

I run Sinon with Buster.js, via:
`buster.testCase("...", {
    "my test" : function() {
        var fakeStream = {};
        this.stub(fs, "createReadStream").returns(fakeStream);

        // ....

        // I expect

[2017-03-14 14:01] mantoni commented on #904
@jonnyt886 You have to use the `sinon.assert` library for this to work. In your case, the boolean comparison in `assert` is failing. There is no way we can intercept this.

I cannot reproduce the issue and no additional details where provided for more than a year. Closing.

[2017-03-14 14:01] #904 closed

[2017-03-14 14:08] mantoni commented on #1328
This was discussed in #583 and #571 and there is a proposal for a solution in #665. Closing as duplicate.

[2017-03-14 14:08] #1328 closed

[2017-03-14 17:40] byohay opened #1329 "mock.expects is expecting to be called once without specifying it."
* Sinon version : 1.17.7
* Environment : macOS with Node5
* Example URL   :
* Other libraries you are using: Mocha, Babel

**What did you expect to happen?**
I'm using `sinon.mock` in a special way (which probably is not how it was intended):
I have a framework with several mocks, which is also exploited to using stubs. If for example, I want to stub `alert` method of `AlertIOS`, I import `mocks`

[2017-03-14 18:50] afnizarnur commented on #1304
Hi @mantoni
Please check the homepage design [here](https://cloud.githubusercontent.com/assets/4648648/23917291/5fa5b35c-0921-11e7-8088-6e5a40851a88.pn)

Looking forward to receiving your feedback :)

[2017-03-14 18:51] mantoni commented on #1304
@afnizarnur 403 Forbidden, it said 😢

[2017-03-14 18:53] mantoni commented on #1304
Now it works!! 🎉

[2017-03-14 18:58] mantoni commented on #1304
Awesome! I like the style. Very nice ❤️👍
@sinonjs/sinon-core You should have a look at this!

[2017-03-14 19:00] afnizarnur commented on #1304
@mantoni Appreciate it!
Oops, page not found.

[2017-03-14 19:23] cjohansen commented on #1304
Awesome, nice work! 👍

[2017-03-14 20:50] mroderick commented on #1304
@afnizarnur it looks really good, nice work!

[2017-03-15 08:02] fatso83 commented on #1304
Looks great!

[2017-03-15 10:43] eauc opened #1332 "Little bug in spy.printf "%*" formatter"
First of all, many thanks for all your hard work on sinon ;)

* Sinon version : v2.0.0
* Environment   : all ? found in node v4
* Example URL   : n/a
* Other libraries you are using: sinon-chai, chai

**What did you expect to happen?**
In the spy.printf(format, args...) function,
when using the "%*" formatter, and passing a list of strings as arguments,
I'd expect all the string to be unquoted.

*

[2017-03-15 10:53] fatso83 commented on #1332
Thanks for your detailed investigation. That helps a lot! Do you have any chance of fixing this with a small PR?

[2017-03-15 10:53] #1327 closed

[2017-03-15 11:36] lucasfcosta commented on #1258
Hi friends, I think we can close this one.

[2017-03-15 11:36] lucasfcosta commented on #1258
Hi friends, I think we can close this one.

[2017-03-15 11:36] #1258 closed

[2017-03-15 15:30] #1332 closed

[2017-03-15 22:35] tswaters opened #1335 "feature: create a way to pull args set with `withArgs`"
* Sinon version : ^1.16.1
* Environment   :  n/a
* Example URL   :  n/a
* Other libraries you are using:  n/a

Consider the following:

There is an asynchronous function that calls into a few different async calls.  You can't really verify the order in which they fire... The code under test:

[code]

(Of course, I've glossed over that args1 and args2 are modified somehwat before making their way t

[2017-03-16 04:10] afnizarnur commented on #1304
So, what's the next step? @mantoni

[2017-03-16 04:27] jhartikainen commented on #1304
I've written a lot of sinon.js-related articles and people have told me they've finally understood those topics after reading them. Should I just send a PR with changes to the howto page to get them included on the Sinon.js homepage? Or would you prefer to vet the content in some way first?

Sorry if this isn't the right place to ask :) Wasn't sure whether I should just open a separate issue for t

[2017-03-16 07:23] mantoni commented on #1304
@jhartikainen You came to the right place to ask and a PR would be very welcome. We can discuss on the PR then and adjust anyone sees the need.

[2017-03-16 07:24] mantoni commented on #1304
@afnizarnur The next step is to implement the changes in the docs folder and send a pull request 😃

[2017-03-16 14:19] afnizarnur commented on #1304
Ok sure @mantoni

[2017-03-16 22:29] lucasfcosta commented on #1322
Hi everyone!

This is indeed something simple to solve and I'm willing to do a PR for it. However, I'd like to suggest a different approach other than just fixing that `if` clause.
In `Chai` we've got a module called [`deep-eql`](https://github.com/chaijs/deep-eql) which does deep equality checks. [It has been extensively tested and fine tuned for performance](https://github.com/chaijs/deep-eql/pu

[2017-03-17 15:19] gyandeeps opened #1338 "Migrating to 2.0: Issue with stub with sandbox"
* Sinon version : 2.0.0
* Environment   : Windows 7 with phantomjs
* Example URL   :
* Other libraries you are using:

### 2.0.0-pre.4 code

[code]

**What did you expect to happen?**

To work. And it works with 2.0.0-pre.4 version.

### 2.x code as per migrating instructions

[code]

**What did you expect to happen?**

it works.

**What actually happens**

but it gives me these warnings

Gives me

[2017-03-18 17:41] zurfyx commented on #1338
_Disclaimer: I don't know much about sinon 2, so excuse me if that's not what you're looking for. Tbh, I just started using it._

Why are you using `.returns`?

The warning clearly says: `Use stub(obj, 'meth').callsFake(fn).` (which basically implies moving your custom function from the third parameters to the `.callsFake`)

So, in your case, the translation would be:

[code]

Btw, you can make yo

[2017-03-19 07:39] bdentino commented on #1095
With the introduction of `callsFake`, the documented way of stubbing getters/setters logs a warning:
[code]
Is this feature still supported?

[2017-03-19 12:50] fatso83 commented on #1095
Yes, but using a different syntax. See the get and set methods at the bottom of http://sinonjs.org/releases/v2.0.0/stubs/. Closing this.

[2017-03-19 12:50] #1095 closed

[2017-03-19 16:44] bdentino commented on #1095
Perfect. Thanks for the quick response!

[2017-03-19 17:13] fatso83 commented on #1338
What you are doing is trying to define what properties will return when being accessed. The syntax for this changed to be more explicit in version 2. See the get and set methods for property accessors:
http://sinonjs.org/releases/v2.0.0/stubs/

[2017-03-19 17:13] #1338 closed

[2017-03-19 17:17] fatso83 commented on #1317
This is now on http://sinonjs.org/releases/v2.0.0/stubs/. See get and set methods.

[2017-03-19 17:17] #1317 closed

[2017-03-19 17:23] fatso83 opened #1340 "Remove incorrect docs for stubs"
Our current docs for stubs in 2.0 include sections which are no longer correct.

The three argument stub signature is for instance no longer supported and is replaced by property descriptor stubbing and callsFake.

[2017-03-19 22:18] nfantone opened #1341 "New stub API failing after replacing calls with .callsFake"
* Sinon version : `2.0.0`
* Environment   : node `7.7.3`
* Other libraries you are using: `sinon-test`, `sinon-chai`, `chai`.

**What did you expect to happen?**
Migrating `sinon.stub` syntax from `1.x` to `2.0.0` either manually or using  [`sinon-codemod`](https://github.com/hurrymaplelad/sinon-codemod) should not alter test output.

**What actually happens**
All tests using a stubbed object fail

[2017-03-20 05:01] domenic opened #1342 "Sinon v2 spy.printf's %* only quotes strings in the second-onward argument"
* Sinon version : 2.0.0
* Environment   : Node.js
* Example URL   : https://runkit.com/582a9986f5baa400148ace47/58cf607cedfee80014e6890c
* Other libraries you are using: None in isolated example

**What did you expect to happen?**

This should have printed the arguments as `"a", "b", "c"`

**What actually happens**

It printed the arguments as `a, "b", "c"`, stripping the quotes from the first one

[2017-03-20 06:01] fatso83 commented on #1342
Thanks, this was fixed a few days ago - we just need to ship a patch.  See #1333. Sorry for your unneeded troubles of submitting this, but thanks anyway! 🙏

[2017-03-20 06:01] #1342 closed

[2017-03-20 06:03] fatso83 commented on #1341
Thanks for providing a good issue and test case! I will look into it, and it seems we might also need to update/add to the docs on this matter.

[2017-03-20 15:25] nfantone commented on #1341
@fatso83 You're welcome. Let me know it need something else.

[2017-03-20 18:33] nfantone commented on #1341
@fatso83 Just tried with newly released `2.1.0` and the same thing happens, unfortunately. No idea if this was actually tackled (probably not, seen as this issue is still open), but just thought you'd like to know.

[2017-03-20 18:35] nfantone commented on #1341
One thing that _could_ be problematic is the usage of `sinon-chai` which has an explicit peerDependency on `sinon < 2`. Doesn't explain why using the old syntax would actually work, though.

[2017-03-20 18:39] bradfol opened #1346 ""callsFake" section missing from website Migration docs"
In the Migration doc available here:
https://github.com/sinonjs/sinon/blob/master/docs/current/migrating-to-2.0.md
there is a section titled **"stub.callsFake replaces stub(obj, 'meth', fn)"**.

This section does not appear on the website currently:
http://sinonjs.org/releases/v2.1.0/migrating-to-2.0/
http://sinonjs.org/releases/v2.0.0/migrating-to-2.0/

[2017-03-20 21:16] mvujovic commented on #1200
I had this same issue and I solved it using:
[code]

[2017-03-21 10:27] domenic opened #1349 "Document calledImmediatelyBefore/After"
* Sinon version : 2.1.0
* Example URL   : http://sinonjs.org/releases/v2.1.0/spies/

**What did you expect to happen?**

In the changelog for 2.1.0 two new methods were introduced. I am unsure whether they are officially supported though as they do not appear in the docs.

I would expect these methods to either be documented, or for the changelog to note that they are experimental and unsupported.

[2017-03-21 12:05] fatso83 commented on #1349
Not sure how we missed that in #1337. Would you mind adding some simple docs, @timcosta?

[2017-03-21 12:20] timcosta commented on #1349
Will do first thing this morning when I get in. About two hours till you have a PR.

[2017-03-21 13:11] fatso83 commented on #1349
Closed by #1350

[2017-03-21 13:11] #1349 closed

[2017-03-21 16:35] pasupuletics opened #1351 "defaultPrevented value is not getting carried to alwaysCalledWith when we do preventDefault"
I have an use case to test event(`invalid`) has been prevented or not. Which is working as expected in all browsers other than IE.

**Here is the sample example:**
  var sinonCb = sinon.spy(function(e){
    console.log('sinon::', e.defaultPrevented);
  });

  var match = sinon.match({defaultPrevented: true});

  var normalCb = function(e) {
    console.log('Normal Before::', e.defaultPrevented);

[2017-03-21 17:38] pasupuletics commented on #1351
seems like an known issue with IE this can help, https://connect.microsoft.com/IE/feedbackdetail/view/790389/event-defaultprevented-returns-false-after-preventdefault-was-called#

[2017-03-21 20:46] RustyToms opened #1353 "stub.resetHistory isn't always available"
* Sinon version : 2.1.0
* Environment   : Chrome

**What did you expect to happen?**
I expected stub.resetHistory to work for all stubs

**What actually happens**
stub.resetHistory does not exist for stubs created from a sandbox that pass a replacement method as the third argument

**How to reproduce**
[code]
I personally didn't see a deprecation warning with my setup. But I happened to see somewh

[2017-03-22 01:21] appsforartists commented on #1249
Here's another situation where I'd like to assert `lastCall`:

I'm watching a value, which gets passed to a spy whenever it changes.  When second value goes above a certain threshold, the observed value changes.  When it descends below the threshold, it changes back.  As a [marble chart](http://reactivex.io/rxjs/manual/overview.html#marble-diagrams), it looks like this:

[code]

In this example, t

[2017-03-22 02:17] blacksun1 opened #1354 "Enhancement: Add ability to override global promise library"
* Sinon version : 2.1.0
* Other libraries you are using: Bluebird

Hi,

I want to be able to override the default promise library with an external library such as Bluebird or Q.

We don't want to override the Global Promise library (which is the native Promise library) but instead import/require it when needed.

Would you be interested in me providing a Pull Request for this or would I have to cre

[2017-03-22 09:04] mantoni commented on #1354
Can you please elaborate why you think your use case needs a change in Sinon?

[2017-03-22 09:05] mroderick commented on #1354
How do you imagine using it?

Like [`sinon-as-promised`](https://github.com/bendrucker/sinon-as-promised/blob/master/examples/bluebird/test.js) does it?

[2017-03-22 09:17] mantoni commented on #1249
Hm. This leads to a bigger question: Do we want to mirror all the call count related checks as assertions? Like `firstCalledWith` and `secondCalledWith` (or even `secondlyCalledWith`?). Since there is already a way to assert the arguments of the last call, I'm not sure whether we should make the API larger here. And it's not _that_ much shorter either. 🤔

[2017-03-22 10:48] Kynde commented on #1354
Use case is that our code uses Bluebird additions like .tap() and .finally(). Stubbing with the native Promises does not really work.

We used to use sinon-as-promised and that allowed using Bluebird.  Now I have horrible kludge in test suites that add such missing functions to the native Promise prototype and I would really like to get rid of that.

[2017-03-22 11:03] blacksun1 commented on #1354
Yes, that is our issue as well.

At the moment, our code looks like this

[code]

I would want to work like this though.

[code]

or

[code]

I think it would be important to be able to select the specific library you want to resolve with as sometimes we work with various libraries that return various promise types.

[2017-03-22 13:23] fatso83 commented on #1354
We could add a `configure` call like `sinon-test`? https://github.com/sinonjs/sinon-test#usage

[2017-03-22 17:32] appsforartists commented on #1249
I certainly won't object to adding call-count assertions, but I'd also like to avoid coupling the two requests.  There's a clear use for `lastCalledWith` (testing the latest call to a spy that will be called multiple times in a test).

I'd posit that it's much more common to want to assert the last call than a preceding call.  Unless the code being tested synchronously calls the spy repeatedly, yo

[2017-03-22 20:37] k-funk opened #1357 "Docs typo: sinon.stub"
There are a few instances of `sinon.stub(myObj, prop)` (you can search this repo for that to see what I'm referring to), where `prop` is a method on an object. I assume that `prop` should be a string. In 2.1.0 and 2.0.0 docs.

[2017-03-22 23:00] gajus opened #1358 "Add documentation for how to stub ES6 module dependencies"
It is a common use case to mock ES modules.

e.g. I have a module that imports `getEventByEventId`

[code]

In my test I want to mock `getEventByEventId`, e.g.

[code]

[2017-03-22 23:01] gajus commented on #1358
To contribute to my own question, the only way I found this to work is by using [`babel-plugin-rewire`](https://github.com/speedskater/babel-plugin-rewire), e.g.

[code]

This solution is far from ideal, though. For one, it breaks the Flow type annotations.

[2017-03-22 23:05] gajus commented on #1358
One way to improve a DX would be to provide an ability to define a getter method when stubbing an object, e.g.

[code]

which would be equivalent to:

[code]

[2017-03-22 23:11] gajus commented on #1358
I've solved this locally by creating an ad-hoc helper for rewiring the dependencies:

[code]

which I am then using like this:

[code]

[2017-03-22 23:14] blacksun1 commented on #1354
Or

[code]

[2017-03-23 11:44] fatso83 commented on #1354
Yeah, as long as we configure an instance of Sinon, and not set defaults globally I don't mind either way. We fought long and hard to get rid of globals before the release of version 2, so let's not introduce more 😄

[2017-03-23 14:34] fatso83 commented on #1358
Duplicate of #1121

[2017-03-23 14:34] #1358 closed

[2017-03-23 14:36] fatso83 commented on #1121
No time yet, but for people coming here please read the [comment thread in 831](https://github.com/sinonjs/sinon/issues/831) and see if it covers the info on what you are trying to do. Alternatively  [this](https://github.com/sinonjs/sinon/issues/1136#issuecomment-244608044) or [this](
https://github.com/sinonjs/sinon/issues/878#issuecomment-250198255).

[2017-03-23 14:39] fatso83 commented on #1358
@gajus please see the pointers in #1121. I have tried covering the various strategies for doing this in the comments linked from that.

[2017-03-23 17:59] zowesiouff opened #1361 "`resetHistory` resets stubs behavior configured after `withArgs`"
* Sinon version : 2.1.0
* Environment : node 7.7.2
* Example URL : -
* Other libraries you are using: mocha 3.2.0, sinon-chai 2.9.0

**What did you expect to happen?**

Calling `resetHistory` should only reset the counters etc... not behaviors of a stub set after `withArgs`.

**What actually happens**

Calling `resetHistory` resets the return values set after `withArgs`

**How to reproduce**

[cod

[2017-03-23 20:20] greena13 opened #1362 "React Native iOS: undefined is not an object (evaluating 'wloc.protocol')"
* Sinon version : 2.1.0
* Environment   : React Native iOS
* Other libraries you are using:
React Native v0.40.0
React 15.4.1

**What did you expect to happen?**

Sinon to initialise without an error.

**What actually happens**

When running against in the React Native iOS build, the following error occurs:

    undefined is not an object (evaluating 'wloc.protocol')

**How to reproduce**

     im

[2017-03-24 02:06] blacksun1 commented on #1354
Please see https://github.com/sinonjs/sinon/pull/1364

Documentation hasn't been written yet as I wanted to run past with you guys the interface first.

The reason I used `.setPromise` was so that it didn't muck with any of the other interfaces and so it is absolutely clear as to what it is doing.

I thought that I could probably implement setPromise on a sandbox or sinon object as well.

[2017-03-25 00:53] rconnamacher commented on #161
A little late jumping in, but you can work around some use cases for stubbing location with history.replaceState(), which doesn't trigger any reloads. Just be sure to restore the correct URI after your tests are finished. So in your test, something like:

[code]

There's no way to block code that directly sets properties on 'location', so if something does a `location.href = "http://redirect-to-so

[2017-03-26 15:34] bennyn opened #1367 "Missing documentation on how to create a fake server for Node.js applications"
**Sinon version:** Sinon v2.1.0

**Environment:** Node.js v7.7.3

**Other libraries you are using:**
- [Jasmine](https://github.com/jasmine/jasmine)
- [request](https://github.com/request/request)

I always used Sinon in combination with Jasmine and a Karma test runner (to execute Browser tests). Now I want to use Sinon in a Node.js environment and I want to mock server responses.

In my Node.js a

[2017-03-26 20:27] kanehara opened #1368 "Support for Stub#resolvesThis()"
* Sinon version : 2.1.0
* Environment   :  Node 7.7.4

**What did you expect to happen?**
Stubs have #returnsThis() and #resolves() functionality but it is not possible to use either to return the Stub's context as a _Promise_.  It would be nice to have a #resolvesThis() function in Stubs.  For example, Mongoose's Model#save() method returns the saved Model object on success.  Given the following

[2017-03-26 20:50] DaGaMs commented on #118
in sinon 2.1, `callsFake()` will do exactly this

[2017-03-27 00:28] blacksun1 commented on #1354
@fatso83 @Kynde @mantoni

[2017-03-27 14:01] hugoduraes opened #1369 "setTimeout wrapped in a Promise is not triggered while using fake timers"
Don't know if this is the best place to report this. If it is not, please point me to where should I report this.

* Sinon version: 2.1.0
* Environment: Node v6.9.x
* Other libraries you are using: Promise (native), mocha

**What did you expect to happen?**

While using sinon fake timers, I expect that timeouts set inside a promise, which is wrapped in another promise, get triggered.

**What actua

[2017-03-27 16:46] hugoduraes commented on #1369
Solved it. For future reference, this was what led me to the solution:
http://stackoverflow.com/a/43048888/582838

[2017-03-27 16:46] #1369 closed

[2017-03-28 10:15] antiBaconMachine opened #1370 "Missing breaking change in stub reset behaviour from migration guide"
* Sinon version : 2.x
* Environment   : All
* Example URL   : http://sinonjs.org/releases/v2.0.0/migrating-to-2.0/
* Other libraries you are using: node assert

**What did you expect to happen?**
Hi all, thanks so much for your great work on Sinon 2.

I just noticed the documentation on breaking changes doesn't include a description of the new granular stub reset behaviour.

**What actually happen

[2017-03-29 12:24] jroitgrund commented on #1370
Ran into the exact same issue, but doing `reset` with `resetHistory` didn't unbreak my tests. Any ideas?

[2017-03-30 20:32] lucasfcosta commented on #1341
Hi @nfantone, since I know the Chai codebase and a bit about a few of its plugins I'll take a look at how sinon-chai works and I'll let you know my findings.

If you have any other ideas or code examples please let me know.

[2017-03-30 20:58] nfantone commented on #1341
How would I go about turning my stubs into spies? Would spies call a fake method as well? Could you give me an example? Say we have something like my original example:

[code]

What should the new syntax look like using spies?

[2017-03-30 21:46] lucasfcosta commented on #1341
By doing this you are just telling your stub to call the original `channel.assertQueue` method, which is exactly the same as just using a spy, which allows you to keep track of calls, arguments and other important pieces of information while still calling the old behavior.

You could, for example, turn this:

[code]

Into this:

[code]

If you just want to keep track of calls and other information

[2017-03-31 01:21] apowers313 commented on #1324
As I'm digging in to this, it looks like there's no `spy.returned()` call that operates on an individual spy, just one that operates on all the spies. Am I correct in assuming that `mirrorPropAsAssertion("returned", ...)` would require `spy.returned()` for single spies to exist first?

[2017-03-31 12:17] nfantone commented on #1341
@lucasfcosta Well, it turns out you were right. I wasn't aware that `.spy` would actually _call_ the original method you are spying on. I replaced most `.stub` calls with `.spy` and now all tests are passing.

I still have that little issue about the syntax update warning on things like:

[code]

How should that be updated?

[2017-03-31 13:04] Flarna opened #1372 "sandbox.resetHistory() doesn't reset history of spies"
* Sinon version : 2.1.0
* Environment   : NodeJs 4.8.1
* Other libraries you are using: mocha

**What did you expect to happen?**
`sandbox.resetHistory()` should reset history of spies.

**What actually happens**
`sandbox.resetHistory()` is not reseting history of spies.

**How to reproduce**
[code]

[2017-03-31 18:53] apowers313 commented on #1324
By the way, here is what I was thinking for more consistent APIs:
https://apowers313.github.io/candy-wrapper/

[2017-04-03 08:54] pahund opened #1373 "Sinon.match Does Not Work Property With Error Instances"
* Sinon version : 2.1.0
* Environment   : Node.js 6.10.0, macOS 10.12.4
* Example URL   : https://github.com/pahund/sinon2bug/
* Other libraries you are using: none

**What did you expect to happen?**

Created a test with a spy that is called with an object that has a property with a JavaScript Error as value.

When I use assert.calledWith to test if the spy was called with an object containing an

[2017-04-03 10:37] mantoni commented on #1373
Thanks for reporting and especially for putting together a failing test. I'm not sure whether to classify this as a bug or a feature, but the good news is that there is already a solution 😃

The way you're using the `match` function it delegates to Sinon's deep equal algorithm for each property value. So it's strictly speaking not "matching" anymore, it's comparing values. You could argue that com

[2017-04-05 11:06] pahund commented on #1373
Hi Maximilian, thanks for the quick reply. Your solution works for me, and I agree that it's cleaner this way. For the record, I think the correct way would be to use `has('message', 'WTF?')` (not `name`):

[code]

[2017-04-05 11:18] #1373 closed

[2017-04-06 02:53] sunfeng90 commented on #166
How to solve this issue?

[2017-04-06 02:58] sunfeng90 commented on #546
@mantoni These doesn't work for me!

[2017-04-06 03:41] #914 closed

[2017-04-06 03:53] benmarten commented on #826
https://github.com/scriptare/compago-ajax/blob/1.0.1/tests/unit.test.js#L38

[2017-04-06 06:26] mantoni commented on #546
@sunfeng90 Please open a new issue describing what exactly does not work for with an example. If you have a usage question, consider posting on the mailing list. Thanks.

[2017-04-06 09:00] rplantiko commented on #637
The problem is not about the `server.respond` function but about `server.processRequest` (one level downwards). This function `server.processRequest` calls the configured handler for the request and, _immediately after that call_, it expects the corresponding response arrary to be filled.

If the (mocked) request processing is asynchronous, that response array is not yet filled, and therefore the

[2017-04-06 10:33] mantoni commented on #166
@sunfeng90 Please stop adding comments to issues without saying what your actual problem is. If anything is not working for you, open a new issue with an example. If you have a usage question, send an email to the mailing list at https://groups.google.com/forum/#!forum/sinonjs. Thank you.

[2017-04-06 10:35] #1304 closed

[2017-04-06 10:36] mantoni commented on #1304
Obviously, the new homepage is live for quite some time already 🎈

[2017-04-06 12:02] mantoni opened #1375 "GitHub advises to rename the "Owners" team"
Clicking on @sinonjs/owners now leads to this:

<img width="579" alt="bildschirmfoto 2017-04-06 um 14 00 48" src="https://cloud.githubusercontent.com/assets/332271/24753258/a03aa118-1ad1-11e7-92b2-7c71745a83c1.png">

Any good suggestions for a name?

[2017-04-06 14:17] fearphage commented on #467
Fixed a while ago

[2017-04-06 14:17] #467 closed

[2017-04-06 14:18] fearphage commented on #432
I believe this issue has been resolved. If you disagree, feel free to reopen the issue with any additional details that you can provide.

[2017-04-06 14:18] #432 closed

[2017-04-06 14:20] fearphage commented on #473
I'm closing it this issue as it has either been addressed or is no longer an issue. If you think that is not the case, please feel free to reopen.

[2017-04-06 14:20] #473 closed

[2017-04-06 14:24] fearphage commented on #397
I'm not sure what the solution is here, but as a workaround, couldn't you just capture the method to what to use before you mock them out?

[code]

[2017-04-06 19:49] coderaiser opened #1376 "Called with diff doesn't work"
As I understood from  #1179 #1203 #773 called with diff should be implemed already.

* Sinon version : `2.1.0`
* Environment   : `Linux cloudcmd 4.4.0-72-generic #93-Ubuntu SMP Fri Mar 31 14:07:41 UTC 2017 x86_64 x86_64 x86_64 GNU/Linux`,
* Example URL   :
* Other libraries you are using: `tape`

**What did you expect to happen?**
I expect to see `called with diff`:
[code]
**What actually happens*

[2017-04-07 04:04] sunfeng90 commented on #166
OK

[2017-04-07 08:37] coderaiser commented on #1376
[sinon-called-with-diff](https://github.com/coderaiser/sinon-called-with-diff) can be used as a temporary solution it produces colorful diffs when arguments mismatch.

[2017-04-09 19:48] afnizarnur commented on #1304
Hi @mantoni
Is it ok to you if I share the homepage design as a freebie in [design community](https://dribbble.com/)?

[2017-04-10 02:42] blacksun1 commented on #1354
Hi @fatso83 @Kynde @mantoni @mroderick,

This should be ready to go unless someone has any other comments?

Thanks in advance,

[2017-04-10 06:20] mantoni commented on #1304
@afnizarnur Go ahead. It's your work :)

[2017-04-10 10:17] fatso83 commented on #1354
@blacksun1 Your contribution is probably fine, but I am travelling around Japan untill May (with just a cheap cell phone), so someone else needs to dig into this. We are poorly paid for these efforts, so we need to take turns when we have some spare time :-)

[2017-04-10 10:20] #1354 closed

[2017-04-10 10:21] fatso83 commented on #1354
Never mind my previous comment - I was able to get at this anyway :-)

[2017-04-10 10:22] fatso83 commented on #1354
Maybe someone else in @sinonjs/sinon-core would like to publish a new version?

[2017-04-10 16:42] darrenfu commented on #720
Any update to this feature?

[2017-04-10 16:44] GentlemanHal opened #1377 "Upgrading to Sinon 2.1.0 resulted in "HTMLElement is not defined" error"
I've actually solved the issue for myself but wanted to raise this in case others had the same issue.

Sorry if this is just creating noise for the team. Is there be a better way to document these kind of things in the future?

* Sinon version: 2.1.0
* Other libraries you are using: mocha, chai, sinon-chai, jsdom, react

**What did you expect to happen?**

After reading the migration guide and the

[2017-04-10 18:45] fatso83 commented on #720
@darrenfu no. someone needs to put in the hours. You do not have to wait for a separate repo or module for this to be implemented either (which @hgl hinted at). Just interface with the existing module that lives in Sinon. Later on those server bits could of course be extracted.

[2017-04-10 22:00] AnIrishDuck opened #1378 "Spy method for `.promisedCall()`"
I'd like to implement this myself, if there is interest. Our tests would benefit from a way to `await` calls to sinon spies. I'm not married to the name, but here's the proposed API:

[code]

This would be particularly useful for testing callback heavy code (i.e. React) in promise-aware frameworks like mocha, jest, and blue-tape:

[code]

[2017-04-11 19:14] ripter commented on #1377
I am also seeing this issue since upgrading to 2.1.0. I also see it on 2.0.0.

Downgrading to 1.17.7 fixes the issue.

[2017-04-18 03:39] apowers313 commented on #1324
Still happy to put together a PR with a little help -- is there some way to mirror a property for `spy.returned` where `returned` is for the plural sense of the spy?

[2017-04-18 13:42] hrimhari commented on #992
@yaronyg not exactly. There were discussions about multiple withArgs() being chainable or not like #984 is trying to do. But the problem reported here is that mocks just can't have multiple withArgs(), regardless of their declaration being in the same chain or not.

[2017-04-18 17:38] jyboudreau commented on #1377
Also seeing the same thing, but we're running our tests in Node using Ava.

[2017-04-19 05:31] damenturnbull commented on #1377
I also encountered a similar error as @GentlemanHal

[code]

As a workaround I used `global.HTMLElement = function() {};` in my mocha `setup.js` file.

[2017-04-19 07:52] guygeva opened #1381 "onCall does not work properly on mocks"
* Sinon version : 2.10.
* Environment   : node.json ubuntu
* Other libraries you are using: Jasmine

**What did you expect to happen?**
I tried to use onCall to determine different return values for different call

**What actually happens**
First call works fine, second call returns undefined

**How to reproduce**
This test fails:

class C {
        public f() {return 1111; }
    }

    it('test',

[2017-04-21 09:12] peteringram0 opened #1382 "Add callThrough() to documentation"
There is no mention of callThrough() within any of the documentation however i found this method within the commits.

https://github.com/sinonjs/sinon/commit/f36196d702cafce2d8c0fba768a0fb9c60f85b9e

Its a useful thing that people coming from Jasmine would like to know about.

Thanks,

[2017-04-21 15:24] mantoni commented on #1382
It's documented here including a code example: http://sinonjs.org/releases/v2.1.0/stubs/

[2017-04-21 15:24] #1382 closed

[2017-04-21 15:31] mantoni commented on #1375
Renamed to "Core" as suggested by GitHub and migrated to new role model.

[2017-04-21 15:31] #1375 closed

[2017-04-24 09:00] #1362 closed

[2017-04-24 18:51] emirotin commented on #1341
I actually need the `callsFake` behavior and it seems to fail for me, too. I mean the stubbed function is simply returning `undefined`. I've tried debugging it and it looks like the `fake` is recorded but `this.fakes` is still empty in the spy.

Going back to the original 3-args syntax works.

[2017-04-24 19:47] lucasfcosta commented on #1341
Hi @emirotin, can you please provide a reproducible example? I had a hard time reproducing this in a concise example, which makes things a lot easier for me to detect and fix possible bugs.

@nfantone Sorry for the delay on answering you, I've been very busy in the last days.
I tried to reproduce the warnings you mentioned by using the following test code and I couldn't get any warnings, both usin

[2017-04-24 20:09] emirotin commented on #1341
Huh I can't reproduce in the simplistic cases. That's really strange as I have a project where it's reproducible.  Let me create a reduced version of it

[2017-04-24 20:20] emirotin commented on #1341
Ah, here it is!

Looks like `reset` is erasing the fake:

[code]

[2017-04-24 21:45] lucasfcosta commented on #1341
Thanks @emirotin!

So, according to the docs I believe this is correct behavior, right?

Let's wait for @nfantone's answer so we can fix and hopefully close this.

[2017-04-24 22:59] lucasfcosta commented on #1372
Hi @Flarna, thanks for your issue!

You're using the wrong method to reset spies' history.

You should use `sandbox.reset()` instead of `sandbox.resetHistory().

According to the docs:

Since you want to restore **spies** and not stubs you should use:

[2017-04-25 05:59] Flarna commented on #1372
If I use ``sandbox.reset()`` the history of spies is reseted but additionally the behavior of all stubs which is unfortunately not what I need.
I feel that resetting history and behavior should be separated everywhere.
Sure, spies have no behavior so I guess reset and resetHistory is effectively the same here.

[2017-04-25 06:55] emirotin commented on #1341
I'm not sure it's correct even according to the docs. And definitely works against my intuition.
I reset to reset the _state_ of fakes, but not remove the fakes from the stub.
Like it's expected to reset the call counts, last args, last result, things like that.

My expectations from `callsFake` is that it's part of the setup and shouldn't be gone after reset which I read as "make everything look

[2017-04-25 18:53] kurttheviking opened #1384 "What is the recommended way to both invoke an argument and return the result of that invocation?"
### Environment

* Sinon version: 2.1.0
* Environment: Ubuntu 16.04, Node 6.9.1, NPM 3.10.8
* Other libraries you are using: chai (expect), mockery

### What did you expect to happen?

I am attempting to stub a module that only exports a function. I would like to invoke **and** return an argument, effectively equivalent to:

[code]

### What actually happens?

One cannot chain `callsArg` and `retu

[2017-04-25 19:14] lucasfcosta commented on #1341
@emirotin I agree with you regarding the name consistency.

I've commented the same thing at #1371. I think we must have consistent names for the reset API.

I'll be more than happy to make a PR for that if the project's maintainers agree with this change.

Let's wait to hear the maintainers' thoughts.

[2017-04-26 11:25] keligijus opened #1385 "callCount nor called are not registered on a stub"
* Sinon version : 2.1.0
* Environment   : Mac
* Example URL   : https://github.com/keligijus/vue-stub-demo/
* Other libraries you are using: 'mocha', 'sinon-chai', 'chai-lodash'

**What did you expect to happen?**

Get correct callCount of a stub (or correct .called boolean)

**What actually happens**

Only get a correct callCount of the first call of it. Count (or the fact that it's called) of ot

[2017-04-26 12:13] mantoni commented on #1385
There are no tests in the provided repository.

[2017-04-26 12:14] keligijus commented on #1385
Hey @mantoni, sorry, the only spec file is here https://github.com/keligijus/vue-stub-demo/blob/master/src/components/messages/_tests/MessageComposer.spec.js

[2017-04-26 12:18] mantoni commented on #1385
There is too much going on. Please reduce the example to a single case where things don't behave as you expect.

[2017-04-26 12:19] keligijus commented on #1385
Sounds good. Doing that.

[2017-04-26 13:25] keligijus commented on #1385
Removed all unnecessary stuff. Here's the branch https://github.com/keligijus/vue-stub-demo/tree/trimmed

I think I've identified the problem. Adding Vue mixins to the component breaks the desired behaviour. The mixin I added is very simple, only has one method.

To get desired behaviour, you can remove this line: https://github.com/keligijus/vue-stub-demo/blob/trimmed/src/components/messages/Mess

[2017-04-26 13:37] mantoni commented on #1385
Well, I guess the mixin creates a new type on the fly and you're installing the stub on the "original" type. Given that the call count works as expected when you remove the mixin this does not seem to be an issue with Sinon. Closing.

We are trying to keep the GitHub issues list tidy and focused on bugs and feature discussions. If you have further questions, please post it to the [Sinon.JS mailing

[2017-04-26 13:37] #1385 closed

[2017-04-26 18:12] nfantone commented on #1341
@lucasfcosta Sorry for the delay here.

The test suite included in (seneca-amqp-transport)[https://github.com/senecajs/seneca-amqp-transport] reproduces the issue and outputs the warning.

Just clone the repo, install deps, run `npm test`. You should see something like:

[code]
I know it may not be a _small_ example, but it sure is real **and** reproducible.

On a side note, I agree with @emirotin

[2017-04-27 00:29] unphased opened #1386 "Documentation confusing for spy.withArgs"
https://github.com/sinonjs/sinon/blame/master/docs/_releases/v2.1.0/spies.md#L160

**What did you expect to happen?**

example to use the return value of `spy.withArgs()`.

**What actually happens**

example code does not do so and generated confusion in the mind of the reader, requiring reader to write a test program to test it.

**Testing of the functionality**

[code]

[code]

[2017-04-27 06:41] keligijus commented on #1385
Hey @mantoni, I just realised that this may be a problem with Sinon. The problem is that the `callCount` only works on the first test, but breaks for other tests. So your theory above may not be fully correct.

Also, the original function is not run for any of the tests. This tells me that the stub is actually installed, but callCount and called are not working as expected. Again, only works for t

[2017-04-27 06:50] mantoni commented on #1385
@keligijus I consider it very unlikely that this core part of Sinon has a critical bug like this. I'm happy to reopen this issue if you can extract a simple reproducible case that is free of side effects from other libraries. Otherwise, I don't think any of the maintainers will find the time to look into this.

[2017-04-27 06:53] keligijus commented on #1385
Ok thanks @mantoni. As you suggested, I've posted on the mailinglist, will see if anyone had a similar problem. Do you think going on Stackoverflow for this is wise?

[2017-04-28 14:02] SCdF opened #1387 "Sandbox doesn't work with simple stub functions"
* Sinon version : 2.0.0
* Environment   : MacOS

**What did you expect to happen?**
When you create a sinon sandbox, all stubs you create from that sandbox are reverted to their default state if `sandbox.restore()` is called.

**What actually happens**
Raw stubs (`sandbox.stub()`) are not reverted.

**How to reproduce**
[code]
This is just for raw stubs. `restore()` works if the stub is against so

[2017-04-28 14:34] mantoni commented on #1387
Uh, nice one. I can reproduce and will fix.

[2017-04-28 14:47] mantoni commented on #1387
While hacking the "fix", I re-discovered that this is by design. You're looking for `sandbox.reset()`, which resets the call count and other properties. `sandbox.restore()` does not reset the stubs. This is in line with `sinon.stub()` behavior. Consider this example:

[code]

[2017-04-28 14:47] #1387 closed

[2017-04-28 15:05] SCdF commented on #1387
Oh. Confusing.

So `sandbox.restore()` works on stubs attached to objects (my second example) because it's restoring the object to no longer being stubbed, which is different (though achieves a similar effect) to resetting a stub's various counts etc.

[2017-04-28 15:09] mantoni commented on #1387
It's not similar. They're distinct operations. `restore` removes the stub, but does not change the counts. `reset` changes resets the counts but does not remove the stub.

[2017-04-29 12:22] mkusher commented on #1038
I had another case: I needed one of stubs with special args to call passed callback two times, haven't found method for that, but `returnsCallbackResult` might also help with case like mine

[2017-05-01 22:17] lumaxis commented on #1354
Any chance of getting a release with this soon? 🙂

[2017-05-02 06:39] fstoerkle commented on #1349
Follow-up question for this: I would have expected to find documentation for `calledImmediatelyBefore/After` here: http://sinonjs.org/releases/v2.1.0/spies/

However, I can't find it here. Am I looking in the wrong place?
Or might it be that the documentation changes were not published on the website?

[2017-05-02 08:08] mroderick commented on #1354
@lumaxis `sinon@2.2.0` is now on `npm`

[2017-05-02 08:25] fstoerkle opened #1389 "Question: global option for Promise implementation to use?"
* Sinon version : 2.2.0

**Question:**
Sinon 2.2.0 introduces `stub.usingPromise()`, which let's one use a custom Promise implementation on a per-stub basis. This is great, thanks for that! 🎉

My question is: what do you think about providing a global configuration option (e.g. per test file) for specifying a custom Promise implementation?

For example, similar to how `sinon-as-promised` did it ba

[2017-05-02 08:50] mroderick commented on #1389
I am not opposed to making changes to accommodate per-instance configuration. The proposed changes will lead to a new `MAJOR` version, as the API will change significantly, which is fine.

Here's what I am thinking: currently `sinon` is an `Object`. What you're proposing will lead to `sinon` becoming a `Function` that accepts an options `Object` (let's not paint ourselves into a corner and expect

[2017-05-02 09:22] mantoni commented on #1389
I think @mroderick's idea to change the Sinon object into a function is great. Having a place to pass configs into a Sinon instance will sure be useful in the future, not only for promise configuration.

However, I think this can be done in a backward compatible way by setting all the current Sinon object properties on the function. I would like to keep the current "stateless" nature and not force

[2017-05-02 10:36] lumaxis commented on #1354
@mroderick Thanks a lot! 🙏 🎉

[2017-05-02 12:12] timcosta commented on #1349
http://sinonjs.org/releases/v2.2.0/spies/

Documentation can be found here.

[2017-05-02 17:35] fstoerkle commented on #1349
Alright, everything in place now. It was not there before the `2.2.0` release this morning, but never mind :) thanks 👍

[2017-05-02 21:45] wbyoung commented on #1377
I've experienced the same issue, but setting the `HTMLElement` to a noop did not solve all problems. Setting it to the value from the jsdom window [as suggested on this `type-detect` issue](https://github.com/chaijs/type-detect/issues/98#issuecomment-294254114) did, though.

My setup includes populating `global` from the jsdom window prior to executing tests (a somewhat common setup, I believe). I

[2017-05-02 21:58] wbyoung commented on #1377
Oh, also, this should probably be closed since it does seem to be a [`type-detect` issue](https://github.com/chaijs/type-detect/pull/91).

[2017-05-03 07:19] sweetim opened #1390 "sinon.restore is deprecated and will be removed from the public API in a future version of sinon."
I am getting the warning above, after upgrading from Sinon v1.7 to Sinon v2.2

but, i check the document `sinon.restore` is not deprecated, any idea?

[2017-05-03 08:19] mantoni commented on #1390
Yes, it's missing in the docs. This is an internal utility function and was deprecated in Sinon `v2`.

[2017-05-03 08:23] #1390 closed

[2017-05-03 08:25] mantoni commented on #1390
Fixed. It should show up in the migration guides deprecation list shortly.

[2017-05-03 08:36] sweetim commented on #1390
awesome! but how to migrate from using `sinon.restore` ?
Just dont use it?

[2017-05-03 08:39] mantoni commented on #1390
You can call `restore` on stubs and sandbox instances. The global `sandbox.restore` was never meant to be used, but since it was there we had to introduce a deprecation warning before removing it entirely. It wasn't even documented in [the legacy docs](http://legacy.sinonjs.org/docs/).

[2017-05-03 08:50] sweetim commented on #1390
I created a sample migration code below, for anyone who has the same problem

[code]

[2017-05-03 18:39] jonny-improbable commented on #1389
Another option would be to expose a factory function on the sinon object; ie:

[code]

[2017-05-03 22:11] lucasfcosta opened #1392 "Spying on Getters and Setters post v2"
### **The Problem**

I was taking a look at #1205, and @muuki88 has noticed that we don't have a way to spy on getters and setters without having deprecation messages thrown at us.

### **The Cause**

Before `v2` we were just using `wrapMethod` and passing it a third argument that could be a descriptor.
Right now we are still calling `wrapMethod` when we pass a descriptor object as the third argum

[2017-05-04 10:54] dualcyclone opened #1394 "useFakeTimers and spying on Date constructor"
I haven't found a clear example of this; essentially I have a production app that can do a couple of things; one is to persist a Date object given a certain setter is called, and one is to create a new Date given a certain object parameter is set, I'll try and create an example of the class below:

[code]

In this example, I can test to see if the response from a call to ```new Date()``` is expect

[2017-05-04 11:12] mantoni commented on #1394
How about this:

[code]

---

We are trying to keep the GitHub issues list tidy and focused on bugs and feature discussions. This ticket looks like a usage question, please post it to the [Sinon.JS mailinglist](http://groups.google.com/group/sinonjs), so the bigger community can help answer your questions.

If you feel that your topic is an issue with Sinon.JS, please open a new ticket and follow

[2017-05-04 11:12] #1394 closed

[2017-05-05 08:42] mroderick commented on #1389
That was what I was thinking, but failed to express.

To follow SemVer, we will still need to publish a new `MAJOR` version, as the module is not exporting an `Object`, but a `Function`. I do not see this as an obstacle.

I am slightly more in favour of changing the export to a factory `Function`, rather than creating a factory method on the exported `Object`.

[2017-05-05 09:16] mantoni commented on #1389
I have no hard feelings on either solution. @mroderick I agree that changing the object to a function is a major release, but adding the factory function is a minor, right? Wanted to add a label 🏷

[2017-05-05 09:33] mroderick commented on #1389
@mantoni that is my understanding too

[2017-05-05 09:39] mantoni commented on #1386
Can you be more specific about where exactly you think the documentation is confusing? What you stated here is all obvious and clear to me. I don't see the issue.

[2017-05-05 09:46] mantoni commented on #1384
I think you have two issues here:

- The module you're trying to stub only exports a function. Follow the instructions provided in [How to use Link Seams with CommonJS](http://sinonjs.org/how-to/link-seams-commonjs/) for a possible solution.
- You correctly stated that `sinon.stub(function () {})` is invalid. You want `sinon.spy(function () {})` 😉

---

We are trying to keep the GitHub issues list

[2017-05-05 09:46] #1384 closed

[2017-05-05 09:51] mantoni commented on #1381
I think you should store the result of calling `expects` in a variable and reuse the same instance, like this:

[code]

Also, consider using `var stub = sinon.stub(c, 'f')` in a simple case like this.

---

We are trying to keep the GitHub issues list tidy and focused on bugs and feature discussions. This ticket looks like a usage question, please post it to the [Sinon.JS mailinglist](http://group

[2017-05-05 09:51] #1381 closed

[2017-05-05 10:27] burnall opened #1396 "Stubs for ES6 imports are not working"
I have troubles with some basic cases of using `stub` for ES6 modules.
Basically, only `export function` is stubbable .
[code]
I use sinon 2.2, webpack 2.5.0.
See [full example on Github](https://github.com/burnall/sinon-webpack-es6-modules).
The issue is related to the way how Webpack generates bundles with `babel-preset-es2015-webpack`. In order to enable tree-shaking, `modules` should be set `f

[2017-05-05 13:30] Qoter opened #1397 "Problem with useFakeTimers: Promise are freeze when resolve it from setTimeout"
* Sinon version : 2.2.0
* Environment   : Node.js v6.10.2
* Other libraries: mocha 3.3.0

**Code example**
[code]

I expect that test will pass.
But test fail with **timeout** and promise are frozen.
Without sinon.useFakeTimers() this test will pass.

[2017-05-05 13:50] mantoni commented on #1396
We are trying to keep the GitHub issues list tidy and focused on bugs and feature discussions. This ticket looks like a usage question, please post it to the [Sinon.JS mailinglist](http://groups.google.com/group/sinonjs), so the bigger community can help answer your questions.

If you feel that your topic is an issue with Sinon.JS, please open a new ticket and follow the [guidelines for reporting

[2017-05-05 13:50] #1396 closed

[2017-05-06 18:38] lucasfcosta commented on #1397
Hi @Qoter, I believe this happens because you either gotta use a timmer from the `clock` variable you assigned `useFakeTimers` to or you need to call the `install` method.

This is one of the possible fixes for your test:

[code]

The other one, using `install` to replace the global `setTimeout` function can be used by installing the `lolex` module, as you can see in [this section at Lolex docs](h

[2017-05-07 04:32] unphased commented on #1386
Sure, yeah sorry i wasnt being clear and also being kind of smug. Heres the doc i referenced:

[code]

Lines 160 and 161 are complete no-ops...

[2017-05-07 11:30] Qoter commented on #1397
Hello @lucasfcosta)))
Your test works!)
But when i use ```lolex.install()``` to replace global ```setTimeout``` promise still frozen.

Examples:

1. It works (use ```lolex.timers.setTimeout```)
[code]

2. It fails with timeout
[code]

3. btw it also works when i didn't return ```promise``` from ```then```
[code]

I really do not understand why this happens.
Thank you!

[2017-05-07 14:34] mir3z opened #1398 "callOrder missbehaves"
* Sinon version : 2.1.0
* Environment   : node
* Example URL   :
* Other libraries you are using:

**What did you expect to happen?**
I expect test to fail

**What actually happens**
Test passes

**How to reproduce**

[code]

[2017-05-07 14:55] mir3z opened #1399 "Cannot read property 'method' of undefined"
* Sinon version : 2.2.0
* Environment   : node
* Example URL   :
* Other libraries you are using:

**What did you expect to happen?**
I expect meaningful failure message.

**What actually happens**

Exception thrown:
[code]

**How to reproduce**
[code]

[2017-05-07 15:50] lucasfcosta commented on #1389
Hi, friends, I was working on this a bit yesterday and I came up with a few moments of indecision and I'd like to explain my thoughts to you so you can approve what I'm doing before I submit a PR.

1. Since this is a property that affects the whole library, it must become part of it's "state" and therefore we need to have this available whenever using sinon. However, the way we expose Sinon's part

[2017-05-08 11:41] imran-uk opened #1400 "assert.equal"
The sinonjs.org home page examples list `assert.equals` it's actually `assert.equal`

[2017-05-08 11:57] mroderick commented on #1400
Sinon uses [referee](http://docs.busterjs.org/en/latest/modules/referee/) internally, which defines `assert.equals`. The documentation has been written with that in mind

[2017-05-08 11:57] #1400 closed

[2017-05-08 17:35] mantoni commented on #924
This has been addressed a while back.

[2017-05-08 17:35] #924 closed

[2017-05-10 00:45] lukiano opened #1401 "Stub get does not work with sandbox stub"
`stub().get()` used to stub property getters, works well with `sinon.stub`, but I get _get is not a function_ with `sandbox.stub`.

Also, slightly related, `.get` does not exist on the typescript definition _@types/sinon_

[2017-05-11 18:22] athaax commented on #1247
I'd like to second this request. Our team frequently uses both `calledOnce` and `calledWithExactly` and it would enforce best practices to consolidate them into one method.

[2017-05-13 09:35] wangling900226 opened #1402 "TypeError: Attempted to wrap undefined property handleBlu as function"
describe('调用Demo组件中的handleBlu方法',()=>{
    let spy=sinon.spy(Demo,"handleBlu")
    it.only("检查是否被调用", function () {
        const wrapper = mount(<Demo {...props} />);
        wrapper.find('input').simulate('blur', { target: { value: 'bar' } });
        expect(spy.callCount).to.be.equal(1)
    })
})

[2017-05-13 09:53] mantoni commented on #1402
We are trying to keep the GitHub issues list tidy and focused on bugs and feature discussions. This ticket looks like a usage question, please post it to the [Sinon.JS mailinglist](http://groups.google.com/group/sinonjs), so the bigger community can help answer your questions.

If you feel that your topic is an issue with Sinon.JS, please open a new ticket and follow the [guidelines for reporting

[2017-05-13 09:53] #1402 closed

[2017-05-14 07:33] gx761 commented on #1161
is there any workaround about this???It's quite common to get into this kind of issue when testing a nodejs file.

[2017-05-14 12:45] fatso83 commented on #1161
This is covered in our documentation, in the how to section:
http://sinonjs.org/how-to/link-seams-commonjs/

[2017-05-15 12:04] tumbledwyer commented on #1401
I have the same problem, wanted to switch to using the sandbox and expected stubs to work the same but there is no get function on the sandbox. Is there another method to accomplish the same functionality?

[2017-05-15 12:25] rozaev opened #1403 "Sinon fakeserver turn string to regexp"
* Sinon version : 2.2.0
* Environment   : Any browser
* Example URL   : http://jsbin.com/wepubudabu/edit?html,console
* Other libraries you are using: None

**What did you expect to happen?**
I expect that when I provide url as string it will be a string, not a Regex.

**What actually happens**
Sinon turn URL string to regexp

**How to reproduce**

Reproduce: http://jsbin.com/wepubudabu/edit?html,

[2017-05-15 12:40] tumbledwyer commented on #1401
@lukiano I did some digging through the code and you can stub out properties, just with a different syntax. Quite confusing and would be nice if this was consistent.
So with sinon:
`sinon.stub(myObject, 'myProperty').get(() => 'stubbedValue')`
and with sandbox:
`sandbox.stub(myObject, 'myProperty', 'stubbedValue`)

[2017-05-15 14:10] fatso83 commented on #1401
@lucasfcosta, do you remember why we chose not to align these two APIs? There was something ... but the details elude me.

[2017-05-15 21:07] lucasfcosta commented on #1401
Hi @fatso83, that's because we discussed that through DM's on Twitter.

I also explain why we can't do this on [this post](https://github.com/sinonjs/sinon/issues/781#issuecomment-271088995). Basically, this issue is a duplicate of #781.

Since we've had many changes in the codebase since then, **these are my new thoughts on how we could solve this**.

Since a sandbox extends a `collection` and a

[2017-05-15 23:04] lucasfcosta commented on #1398
Hi @mir3z, thanks for your issue!

You seem to be right, but the real problem with this issue is semantics.

I've reimplemented the `called-in-order` core function to take into account both if a spy has been called **after the previous one and before the next one**. Now your example will not pass because `s2` has not been called after `s1`.

Before the changes I've got here, [`called-in-order` onl

[2017-05-16 18:03] fatso83 commented on #1401
@lucasfcosta, I think that makes plenty of sense. If you have the time, then please!

[2017-05-16 18:28] fatso83 commented on #1398
Why oh why do you keep finding all these hard problems, @lucasfcosta? And it seems I always try to read your findings when I am sleep deprived :sleepy:

But yeah, I think I understand what you are saying. Basically try to make the logic in before/after symmetric, as apposed to now. I'd say go on this (approach 1).

[2017-05-16 21:39] marcogrcr opened #1404 "Sinon stubs don't clone the arguments, causing some assertions to fail"
* Sinon version : 2.2.0
* Environment   : Node 6.10.2

**What did you expect to happen?**

Sinon stubs should make a clone of the arguments, so if an argument is modified after the stub call, the assertions about the passed parameters wont fail.

**What actually happens**

Sinon stores references of the passed arguments, so if an argument is modified after the stub call, the assertions about the p

[2017-05-16 23:42] lucasfcosta commented on #1401
@fatso83, for sure!

I'll love to work on this refactor and a few other related improvements while eating some sushi this weekend 😄

[2017-05-17 02:36] dslagle commented on #1372
I just ran into this issue today and would agree with @Flarna. I expected sandbox.resetHistory() to also reset the history of the spies. It seems like overkill to need to use sandbox.reset() and then have to rebuild the behavior of all my stubs.

[2017-05-17 17:09] mroderick commented on #1404
This has been discussed a few times already:

* https://github.com/sinonjs/sinon/issues/583
* https://github.com/sinonjs/sinon/issues/571

We are trying very hard not to go against the grain of the language

[2017-05-17 17:09] #1404 closed

[2017-05-17 17:13] mroderick commented on #665
Is there still traction for this issue, or can we close it?

[2017-05-17 17:20] mroderick commented on #1403
Is https://github.com/sinonjs/sinon/issues/336 related to this? Is this the same problem?

[2017-05-17 20:52] mroderick commented on #946
This has been implemented with the [eslint-config-sinon](https://github.com/sinonjs/eslint-config-sinon) repository

[2017-05-17 20:52] #946 closed

[2017-05-17 21:04] mroderick opened #1405 "Discussion: Abandon PhantomJS"
Chrome 59 will have headless support

* https://developers.google.com/web/updates/2017/04/headless-chrome
* https://www.chromestatus.com/features/5678767817097216

The single maintainer of PhantomJS is stepping down as a consequence of this: https://groups.google.com/forum/#!topic/phantomjs/9aI5d-LDuNE

We should probably start thinking about what we want to replace PhantomJS with.

* headless chr

[2017-05-17 22:04] lucasfcosta commented on #1398
I'd really like to know why GitHub has linked all these commits in branches that do not exist anymore in here.

[2017-05-17 22:10] lucasfcosta commented on #1405
IMO headless chrome is the most adequate substitution.

When using headless browsers to make tests we do not want to test whether or not our code is using the latest APIs, we just want to make sure it works on a browser environment so **I** can't see why we should use other headless platforms since Chrome is what most users have, has great support, great and active team and works extremely fine.

[2017-05-18 03:32] fatso83 commented on #1405
Chrome, for reasons mentioned above.

[2017-05-18 05:21] mroderick commented on #1377
Closing this. Thank you all for contributions :)

[2017-05-18 05:38] mroderick commented on #1357
Thanks!

[2017-05-18 07:33] #1357 closed

[2017-05-18 07:51] mantoni commented on #1405
I agree with @lucasfcosta.

When I read about headless Chrome, I instantly wanted to add support for it into Mochify. My approach to replace it would be to create a new project with an API and functionality similar to [phantomic](https://github.com/mantoni/phantomic). It would then be trivial to add it to Mochify.

Also, I don't want to be a bottleneck in the development there. If anyone here want

[2017-05-18 13:11] fatso83 commented on #1377
@mroderick should we close this before we have upgraded our dependencies? not that the issue is with us, but we are still affected by it.

[2017-05-19 10:03] rozaev commented on #1403
@mroderick Yes it's the same.

[2017-05-19 10:50] neocolmartin commented on #960
For future reference, this form of the function now allows you to specify which functions are faked:

[code]

So this solved the problem for me when working with express:
[code]

[2017-05-19 13:51] Ginden opened #1410 "File sizes"
* Sinon version : 2.2.0

Right now `du` command shows me that `sinon/pkg` folder takes almost 6MB of data. Short investigation showed me that:

[code]

So it looks like 1 MB files are duplicated for no apparent reason.
Moreover, these files render few editors not responsive because of huge tables of numbers included there.

[2017-05-19 14:54] mantoni commented on #1410
This is on purpose as per the build script here: https://github.com/sinonjs/sinon/blob/master/build.js

Some people want to grab files with explicit versions, some just want the latest or use semver and grab whatever is in `/pkg/sinon.js`.

If you really need to open the Sinon.JS bundle in an editor, use one of the `-no-sourcemaps` versions because the other files contain source maps, which consis

[2017-05-19 14:54] #1410 closed

[2017-05-19 16:17] mikehenrty commented on #812
I was looking into this myself today, here's what I found in the [W3 Draft](https://www.w3.org/TR/2009/WD-XMLHttpRequest-20091119/#the-setrequestheader-method):

[snip]

[2017-05-20 13:24] #1361 closed

[2017-05-20 13:53] fearphage opened #1411 "Spy methods missing documentation"
The reactive methods are documented (`.calledOn`, `.threw`, etc.), but not the imperative methods (`.callArg`, `.yield`, etc.). It should be a relatively easy task to pick off with a lot of reference to the stub api.