[2018-08-25 05:14] fearphage commented on #1758
@komali2 This sounds like a separate ticket. Please file a new [bug report](https://github.com/sinonjs/sinon/issues/new?template=Bug_report.md).

[2018-08-25 15:05] nicosierra opened #1885 "Decorator Function"
**Is your feature request related to a problem? Please describe.**
There are times that I have found myself with the need of decorating or modifying the response from a method, while still stubbing the method (like a mix of `callsFake` and `callThrough`), so as to be able to use sinon methods to assess different test scenarios.

A practical example:
Stripe is a payment system that provides test to

[2018-08-27 07:17] mroderick commented on #1881
Thank you for your detailed description of the issue.

Would going with the second strategy actually make this work in IE11? If so, that would be my preference.

Would you be up for contributing a pull request to make the necessary changes?

[2018-08-28 13:50] michaloo opened #1887 "Multiple `match.any` breaks stub behavior"
**Describe the bug**
I want to configure stub behavior to ignore first two function arguments using `sinon.match.any` and use third matcher to decide which response to return.
It was working all good till version 6.1.3, then it started to behave unexpectedly.

**To Reproduce**
Steps to reproduce the behavior:
1. Create the simplest script like this:
[code]
2. Run the test with node

**Expected beh

[2018-08-28 16:24] ggsbv opened #1888 "Sinon Fake Timers: setInterval() does not work as expected"
Sinon's implementation of setInterval() does not work when a string is supplied as the interval.

Steps to reproduce the behavior:
1. Open Node REPL in the terminal.
2. Do the following and observe the output
[code]

**Expected behavior**
You would expect setInterval to return the intervalID value at each invocation, incrementing by 100 each time. You would expect the same behaviour in both scenar

[2018-08-30 13:49] mgred commented on #1651
Hey @mroderick
Is this still a relevant topic? I would like to contribute if so.
The minor projects seem to be migrated to MkDocs already. Should that be done for the major one as well?

[2018-08-30 15:03] mgred commented on #1651
Alright, sounds good.

As an inspiration so far, check out:
* **[Docusaurus](https://docusaurus.io/en/)**
  * Babeljs - https://babeljs.io/docs/en/
  * Jest - https://jestjs.io/docs/en/getting-started
* **[Docsify](https://docsify.js.org/)**
 * Showcase - https://docsify.js.org/#/awesome?id=showcase
* **[Asciidoctor](https://asciidoctor.org/)

[2018-08-30 15:48] diegoaguilar opened #1889 "Stub callsFake not working"
## Description
I try to set stub fakes for a express middleware function and it's not replacing over.

## What I'm trying (how to reproduce)

I'm trying to use sinon stubbing via `callsFake` function, just as it's advised from their most updated docs.

Even though I'm requiring the module and replacing the function from the property at the export. I keep seeing the original function behavior actin

[2018-08-30 16:56] rrgarciach commented on #1889
Try to create a mock of the desired modules with `mock-require` NPM's module:

https://www.npmjs.com/package/mock-require

By this way, whenever your code does a "require" it will actually import the "mocked" one (which by definition is a stub).

[2018-09-01 22:02] kanatkubash opened #1890 "mocking , stubbing a typescript interface"
It would be very great if sinon could mock or stub a typescript interface. When coding in DI way, dependencies are injected by some IoC container. I think testing would be even nice with interface mocking ability. Something like:
[code]

Is it possible?

[2018-09-04 12:04] fatso83 commented on #1890
No - not at runtime. For one thing, Sinon is javascript library, targetting Javascript (strictly speaking, ES5.1, with some minor handling of ES6 classes). It works with TypeScript as TypeScript compiles down to Javascript. Once Typescript has been compiled to Javascript the type information is lost (AFAIK!). That means run-time reflection logic on interfaces (which is gone after compilation) is n

[2018-09-04 12:04] #1890 closed

[2018-09-04 12:11] fatso83 commented on #1888
This issue was moved to sinonjs/lolex#201

[2018-09-04 12:11] #1888 closed

[2018-09-04 12:18] fatso83 commented on #1888
@ggsbv Left you a note in the lolex repo. Hoping for the best :)

[2018-09-04 21:26] fearphage commented on #1854
This was fixed in ##1860.

[2018-09-04 21:26] #1854 closed

[2018-09-06 02:38] RenWenshan opened #1892 "Stubbing constructor does not work"
**Describe the bug**
Doesn't trigger stubbed constructor

**To Reproduce**
Run the following test, it will give `AssertError: expected constructor to be called once but was called 0 times`:

[code]

**Expected behavior**
First test passes (stubbed constructor gets called)

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Context (please complete the following informa

[2018-09-06 07:57] mantoni commented on #1892
You’re stubbing a reference to the constructor (`prototype.constructor`). It’s not possible to stub the constructor itself due to language constraints.

You can inject the constructor and then inject a plain stub in your test to verify that it was called with `new`.

[2018-09-06 07:58] #1837 closed

[2018-09-06 08:22] arankhem opened #1894 "Unable to install sinon"
**Describe the bug**
Unable to install sinon.js from few days.

**To Reproduce**
Steps to reproduce the behavior:
run the following command
npm i sinon

Error:

npm i sinon
npm ERR! code ETARGET
npm ERR! notarget No matching version found for just-extend@^3.0.0
npm ERR! notarget In most cases you or one of your dependencies are requesting
npm ERR! notarget a package version that doesn't exist.
npm

[2018-09-06 08:27] mroderick commented on #1894
Please don’t tag maintainers in issues, we get plenty of e-mail already.

The issue you’re experiencing is most likely in your local system. Try clearing your npm cache and make sure your npm is a recent version. Older versions do not understand scopes

[2018-09-06 08:56] arankhem commented on #1894
Cleared npm cache using `npm cache clean --force`
verified npm cache using `npm cache verify`

Npm version on my machine is 6.4.1 (latest)

My local machine is window

Facing the same issue in other local machines as well

[2018-09-06 11:37] promosjotte commented on #1894
getting this:
[code]

[2018-09-06 12:32] arankhem commented on #1894
I am bit confused here

Latest version of just-extend is 1.1.27. see [here](https://npmjs.itcs.hpecorp.net/package/just-extend)
![image](https://user-images.githubusercontent.com/32890972/45156679-7fdf0f80-b1fc-11e8-9e85-0a842ff84cd3.png)

Below is the screenshot from semver version calculator
![image](https://user-images.githubusercontent.com/32890972/45157511-01d03800-b1ff-11e8-8716-cc4f757e702a

[2018-09-06 20:02] fatso83 commented on #1894
@arankhem The site you linked to, https://npmjs.itcs.hpecorp.net/package/just-extend, is not an official site. Use npmjs.com to see version 3, released [3 weeks ago](https://www.npmjs.com/package/just-extend). Also, the semver calculator is clearly showing it to the left.

If your NPM has problems finding it, I suspect your local settings is at fault. Maybe you or your local administrator has over

[2018-09-06 20:11] fatso83 commented on #1894
Also, the both of you; have you tried removing `node_modules` and reinstalling?

[2018-09-06 21:41] fatso83 commented on #1894
OK, tried this on a fresh Windows Server 2016 install. No problems. Installed with flying colors. Closed as cannot reproduce. I would inspect your local machines and/or any overrides for NPM registries. Try to redo the steps in a non-corporate environment, with a clean slate (`mkdir tmp; cd tmp; npm init; npm i nise;`)

[2018-09-06 21:41] #1894 closed

[2018-09-07 05:02] arankhem commented on #1894
Can you remove that hpe link please i posted here by mistake. I have updated the link in my comment

[2018-09-07 05:04] mroderick commented on #1894
I have edited @fatso83's comment to remove the link

[2018-09-07 12:30] zveljkovic opened #1896 "Mock expects breaks function"
**Describe the bug**
Calling mock on object with functions (tested both regular and arrow functions) in newest TypeScript breaks the function.

**To Reproduce**
[code]
logs "zzz findAll  undefined"
**Expected behavior**
To return []

**Context (please complete the following information):**

* Library version: "sinon": "^6.2.0",
* Environment: node 8 and node 10
* Other libraries you are using: typ

[2018-09-07 14:30] fatso83 commented on #1896
Usage error. Not a bug.

You are expecting the mock to return the original value, but that is a false assumption. Check the [docs](https://sinonjs.org/releases/v6.2.0/mocks/):

That means you can regard an expectation as a stub. A stub does nothing unless you tell it to. So check out the [stub API for all the possible variations](https://sinonjs.org/releases/v6.2.0/stubs/).

What you want to achie

[2018-09-07 14:30] #1896 closed

[2018-09-07 17:26] fearphage commented on #1854
I'm demoing comment hiding.

[2018-09-07 17:27] fearphage commented on #1854
The comment above is hidden.

[2018-09-08 06:52] mroderick commented on #1887
Using @michaloo's test and [@fatso83's very handy `git bisect run` template](https://github.com/fatso83/git-bisect-scripts/blob/master/full-template.sh) I was quickly able to determine that the first bad commit is: 014aecff40025b74e1bb27edeaceb5d5beb3ff6d

[2018-09-08 06:55] mroderick commented on #1887
When we fix this issue, a test should be added to `issues-test.js` to ensure this remains fixed, even when https://github.com/sinonjs/referee/issues/29 is finished.

[2018-09-08 08:16] mroderick commented on #1852
@LouisBrunner thank you for creating a runnable test case that is easy to understand 👍

Running the test with `test:node` in your repository, it fails as expected.
When I run the test using just `mocha`, it passes as expected.

 The line that fails is [lolex-src.js#L131](https://github.com/sinonjs/lolex/blob/3f737802cdc6dac32dd3250db95a2539bcd219da/src/lolex-src.js#L131), just as you concluded wit

[2018-09-08 09:03] mroderick commented on #1651
I've updated the original post with more thoughts. Feedback and suggestions welcome

[2018-09-08 19:09] LouisBrunner commented on #1852
@mroderick Glad the example helped! 😃

I'd be happy to create a PR, however that will only fix `lolex`. Is there any way to get `sinon.useFakeTimers` to work in this scenario? Maybe by adding an argument like `global` to `useFakeTimers` that it could use to do call `withGlobal` internally?

[2018-09-09 07:29] fatso83 commented on #1884
Do we really have that in our docs, though; if so, where? The reason I wonder is that we explicitly target ES5, which doesn't know that syntax. One exception: the support for using this as a ES Module. Otherwise I only know if using sinon.stub().

In any case, your fix doesn't make any immediate sense. The stub that resolves in the  example references a stub _instance_, not the exported function.

[2018-09-09 12:37] fatso83 opened #1898 "Document how we can control Promises"
There have been a couple of longstanding issues and pull requests regarding Promises on the lolex issue tracker.

I am assuming we will probably implement https://github.com/sinonjs/lolex/issues/114 in time, for a totally synchronous way to control Promises, but for it to work fully in true ES2017+ environments using asynchronous/await it requires explicit support from the underlying engine.

Befo

[2018-09-09 13:03] mgred commented on #1651
That's a nice idea. I created a [branch](https://github.com/mgred/sinon/tree/sinon/1651) that includes a `docker-compose` file to serve the site from a container using a simple `jekyll` image as a first attempt.
You can run:

[code]
**Note:**  You need `docker` and `docker-compose` installed.

I also updated the Documentation to point that out.

That definitely simplifies development and contribut

[2018-09-09 14:57] mroderick commented on #1651
I had a look around for possible solutions, and came across [GitBook](https://docs.gitbook.com). Does anyone have any experience with it?

[2018-09-09 17:09] mgred commented on #1882
@tbiesemann, @mroderick
Just found out that the [`samsam.deepEqual()`](https://github.com/sinonjs/sinon/blob/master/lib/sinon/util/core/deep-equal.js#L36) is the function in charge here that returns `true`.
I opened an issue in the `samsam` repo sinonjs/samsam#37

[2018-09-09 17:16] AndrewRayCode commented on #1884
I'm referring to things like https://sinonjs.org/releases/v6.2.0/stubs/ where all the titles are things like `stub.rejects();` - I lost some time when reading the api docs trying to figure out if I was importing `stub` wrong since it didn't have those methods

[2018-09-09 19:37] mgred commented on #1651
Unfortunately, I don't

[2018-09-10 00:17] RenWenshan commented on #1892
@fatso83 thank you so much for explaining this.

Now I see that `constructor` is a syntax sugar and it's nothing to do with Function.prototype.constructor, therefore stubbing it has no effect.

My original need was to stub the constructor of a class's parent class so I can test whether `super` was called, e.g.

[code]

Since the underlying implementation of `_inherits` includes:
[code]

I think I

[2018-09-10 09:40] zveljkovic commented on #1896
Thank you so much!

[2018-09-10 13:10] fatso83 commented on #1884
Our current docs all feature numerous incantations of the form `var stub = sinon.stub();` in code preceding the examples. That's what I also call my own stubs most of the time, and I am not sure of a better name than stub for a stub. I do agree the overlap between verb and noun can be misleading. Do you have a concrete proposal for how you think this should look, generally? This is the first compl

[2018-09-10 14:00] freewind commented on #725
Thanks for this question and your answer. I searched `sinon stub const` and reached here, and your suggestion `proxyquire` solved my problem. If it's in the mailinglist, I think I can't find this answer in time.

[2018-09-10 21:14] fatso83 commented on #1892
Your thinking is sound, but the implementation uses deprecated elements.

[Ref MDN](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Object/proto)

Basically, you shouldn't use it in your code.

There is a reason the `_inherits` function you posted a snippet from tries to use `Object.setPrototypeOf` if available, only falling back to using `__proto__` in really old

[2018-09-11 07:50] james-jenkinson opened #1899 "sinon.match.array.contains doesn't match objects"
**Describe the bug**
sinon.match.array.contains doesn't match objects

**To Reproduce**
Can be observed with the following code.
[code]

**Expected behavior**
Creating an `array.contains` matcher for a list of objects, or object matchers, should deep match the elements in the array.

**Context:**

* Library version: `6.2.0`
* Environment: `node 8.9.0`

[2018-09-11 08:43] fatso83 commented on #1899
I was actually under the impression that we used the `samsam` library for matching until [checking the source](https://github.com/sinonjs/sinon/blob/master/lib/sinon/match.js#L337), but turns it we don't.

Anyway ... your assumption on how this should work is incorrect. The [docs on `sinon.match.array.contains(arr)`](https://sinonjs.org/releases/v6.2.0/matchers/) say:

It doesn't say it should dee

[2018-09-11 08:43] #1899 closed

[2018-09-11 13:18] mrwillihog opened #1900 "calledWith returning false positives when using dates"
**Describe the bug**
When calling the `calledWith` or any variant with a date parameter it is returning true, even though the dates clearly do not match.

**To Reproduce**
Steps to reproduce the behavior:
[code]

**Expected behavior**
We would expect `stub.calledWith()` to return false in this instance.

**Context (please complete the following information):**

* Library version: 6.2.0 (latest rel

[2018-09-11 13:26] mrwillihog commented on #1900
The use case above works with version 6.1.0

[2018-09-11 14:13] fatso83 commented on #1900
Great bug report!

[2018-09-11 15:00] mrwillihog commented on #1900
Probably worth mentioning that `samsam.deepEqual` works as expected, it returns `false` for this use case.

[2018-09-12 08:14] ifrost commented on #1857
Hi, the PR for it is still open. Any chance of getting it merged?

[2018-09-12 19:41] mroderick commented on #1857
This was implemented in #1864 and published to NPM as `sinon@6.3.0`

[2018-09-12 19:41] #1857 closed

[2018-09-13 20:38] mroderick commented on #1882
@mgred I don't think we're quite done yet

* `npm install @sinonjs/samsam@2.1.0`
* Adding a slightly modified version if the provided test to `issues-test.js`

[code]

Produces `AssertionError: [assert.same] 5 expected to be the same object as undefined`.

Would you take another look at this one?

[2018-09-14 07:55] mgred commented on #1882
@mroderick Sure I will.

Also: sinonjs/samsam#39

[2018-09-14 18:48] mrwillihog commented on #1865
I can confirm this issue was fixed by https://github.com/sinonjs/sinon/pull/1901. Running the same test now passes.

[2018-09-16 21:40] mgred commented on #1882
@mroderick, In the PR i added your test and it passes for me.

[2018-09-17 21:00] fatso83 commented on #1850
I verified this too, just replacing `console.log` with `assert` statements:

<details>
[code]
</details>

[2018-09-17 21:53] fatso83 commented on #1850
The real problem is that the fake doesn't return the value from the wrapped function. I trimmed down all the fat from the original:
<details>

[code]
</details>

[2018-09-17 22:08] fatso83 commented on #1850
OK, found a fix. It was the most obvious fix, but a bug in the driver code seemed to imply it was wrong. Submitting a PR.

[2018-09-18 07:06] #1850 closed

[2018-09-18 07:14] fatso83 commented on #1850
Published as 6.3.4

[2018-09-18 18:48] almostprogrammer opened #1907 "Both calledOnce and called return false on standalone function even though the stub was called"
I was trying to test a standalone function using Sinon, and faced the following issue: when I stub a function which is called inside another function and mock return value `calledOnce` does not work on a created stub. Here's the code I'm using

[code]

[code]

And example.test.js

[code]

I've also noticed that neither `called` nor `calledOnce` are set to `true`, but `notCalled` is actually `true`

[2018-09-18 20:27] fatso83 commented on #1907
Your issue isn't Sinon, but your module system. Sinon doesn't deal with loaders.

Morgan wrote a howto you should read:
https://sinonjs.org/how-to/link-seams-commonjs/

[2018-09-18 20:27] #1907 closed

[2018-09-18 20:29] fatso83 commented on #1907
Basically, all your modules have resolved their imports before you start modifying them. Hence, no effect. You need to intercept the loader to modify the import.

[2018-09-21 08:32] mroderick commented on #1882
@tbiesemann can you verify that the issue has been fixed in latest version of Sinon?

[2018-09-24 08:04] fatso83 commented on #1882
This is failing on Internet Explorer 11. Two different runs:
- https://travis-ci.org/sinonjs/sinon/jobs/432356194
- https://travis-ci.org/sinonjs/sinon/jobs/432356194

[2018-09-24 11:02] tbiesemann commented on #1882
@mroderick Confirmed - Fix works with Sinon 6.3.4

[2018-09-25 11:05] octachrome opened #1909 "Chained method syntax not working as expected"
I have been using the following syntax for a while, expecting that it will create a stub which returns `'b'` only when called with the argument `'a'`. Instead, it creates a stub which always returns `'b'`, regardless of the arguments passed in.

    var stub = sinon.stub().withArgs('a').returns('b');
    var result = stub(); // returns 'b'

I would expect the stub to return `undefined` in this cas

[2018-09-25 12:51] octachrome commented on #1909
Did you close the issue because you think this is reasonable behaviour? If so, can you explain your thinking? Given that chained calls do not work intuitively, why are they supported at all?

Chained calls come in very useful when creating mock objects:

   var mockObj = {
     method1: sinon.stub().withArgs(1).returns(2),
     method2: sinon.stub().withArgs(3).returns(4)
   }

It would be nice if

[2018-09-25 16:24] Sufiane opened #1910 "stub a function in another file than the tested file"
**Describe the bug**
I try to stub a function called in the file I'm attempting to test, this function is defined in an other file, file that I correctly require in the file I want to test (see example below).
But it seems that the stub is never called, the real function is always used no matter what.
With sinon 1.17.6 (old version I know, older project) it worked properly, the stub was used inste

[2018-09-26 09:43] fatso83 commented on #1910
Module loaders are not Sinon's domain. Look into link level intercepters. We [have a guide](https://sinonjs.org/how-to/link-seams-commonjs/)

[2018-09-26 09:43] #1910 closed

[2018-09-26 09:54] fatso83 commented on #1909
There is a lot of history and many issues that deals with this. Too much to go into, but generally there isn't a way of supporting all the nice things you want using a chainable interface: too much ambiguity. This has gone back and forth several times. Feel free to search our issues for more history, but you can regard the current take as _by design_. The problems with chainable interfaces is also

[2018-09-26 10:01] Sufiane commented on #1910
If I understand correctly, now sinon only stub function from the same file, right?
 It cannot stub a function coming from a dependency even though it was exported using `exports.myFunction` (not `module.exports`)

It just for the sake of understanding on how things works now :)

Thanks any how for the link and response !

[2018-09-27 06:35] fatso83 commented on #1601
@mroderick it is unclear what our take on handling this issue is. Is it about missing documentation or a bug/missing feature?

[2018-09-27 06:40] fatso83 commented on #1910
TBH I never dug into the difference in Node between module.exports and just exports, so I wouldn't know about that.

But regarding your question: no, it doesn't matter which file something is declared. What matters is how it is exposed and if it is possible to override it. That's details that you need to control, not Sinon.

For this and various ways to attack your specific issue, these issues mig

[2018-09-27 06:55] snoblenet commented on #1665
This works:
[code]

[2018-09-27 07:13] stifflerus commented on #1665
@snoblenet Thanks for your reply. That is basically the same solution as @MrLeebo, but using a stub instead of a spy. I think perhaps @fatso83 misunderstood my feature request. `stub.resolvesArg()` would have distinct behavior from `stub.resolves()` in the same way that `stub.returnsArg()` has distinct behvaior from `stub.returns()`.

[2018-09-27 10:13] fatso83 commented on #1665
@stifflerus Probably did, but still [we do have this implemented now since Sinon 6.1](https://sinonjs.org/releases/v6.3.4/stubs/#stubresolvesargindex)

[2018-09-28 12:43] Sufiane commented on #1910
thanks I'll dig in how is it exposed since it appears to be the problem !

Thanks again for your help

[2018-09-28 13:14] Sufiane commented on #1910
@fatso83 Also I just found what my problem was.
In the file I wish to test is destructure my require to be able to access to the function directly:
`const { theFunctionIWant } = require('path/to/module')`
then I use `theFunctionIWant` directly

when I require it 'normally'
`const moduleThatContainTheFunction = require('path/to/module')`
And then use it like:
`moduleThatContainTheFunction.theFuncti

[2018-09-29 07:05] fatso83 commented on #1910
We are trying to keep the GitHub issues list tidy and focused on bugs and feature discussions. This ticket looks like a usage question; please post it to [StackOverflow](https://stackoverflow.com/questions/tagged/sinon) and tag it with [`sinon`](https://stackoverflow.com/questions/tagged/sinon), so the bigger community can help answer your questions.

If you feel that your topic is an issue with S

[2018-09-29 07:08] fatso83 commented on #1863
Merged #1862 in 6.2

[2018-09-29 07:08] #1863 closed

[2018-10-01 09:12] Sufiane commented on #1910
@fatso83  thanks I will do !

[2018-10-01 13:35] #1601 closed

[2018-10-01 13:37] fatso83 commented on #1601
This issue was essentially about documentation in the end. If someone raises the need to see how to stub non-function prop descriptors we should make a new issue that is a lot clearer than this one!

[2018-10-01 22:08] g-arjones opened #1911 "Add utility methods to stub properties on a SinonStubbedInstance"
AFAICT (didn't find anything in the docs), the only way to stub a property on a SinonStubbedInstance is:

[code]

Which works fine, but if`name` is a readonly property I get:

[code]

Am I missing something?

[2018-10-02 07:38] fatso83 commented on #1911
Looks like you are using TypeScript, obscuring what is really happening under the hood. I suggest you put the code in the [Playground](http://www.typescriptlang.org/play/) and see what code is generated and how you can attack that. All `createStubInstance` does is return a plain object with a stub in place for each property in the constructor's prototype.

---

We are trying to keep the GitHub iss

[2018-10-02 07:38] #1911 closed

[2018-10-02 22:59] jhnlsn commented on #1538
yes, we also spent quite some time trying to debug this only to find that this was the problem!  Wish we knew about this before hand

[2018-10-03 05:51] fatso83 commented on #1538
We might put such a thing on our how-to section, but I don't think people read those until googling for an answer. And once they do, they'll be just as likely to find this issue or [some Stack Overflow question](https://stackoverflow.com/a/52591287/200987), which probably is a better fit any how for such things.

[2018-10-03 11:40] LBBO opened #1912 "Clarify documentation for spy.calledOnceWithExactly"
**Describe the bug**
The [current documentation](https://sinonjs.org/releases/v6.3.4/spies/#spycalledoncewithexactlyarg1-arg2-) for `spy.calledOnceWithExactly` is

In my opinion, that can be misunderstood as "Returns true if spy was called at least once, but exactly once with the provided arguments and no others". However, if I understand the code correctly, `spy.calledOnceWithExactly` returns tru

[2018-10-03 15:11] drochgenius opened #1914 "Error installing latest version of SinonJS, @sinonjs/samsam@^2.1.2 is not available on the NPM registry"
**Describe the bug**
Error when installing latest version of `sinon@6.3.5` on Node 10.10.0, with NPM 6.4.1.

Dependency `@sinonjs/samsam@^2.1.2` version is not available from NPM registry.

Package

**To Reproduce**

Run `npm install`, an error is thrown:

[code]

**Expected behavior**
SinonJS installs from NPM without issue.

**Additional information**

Running `npm view @sinonjs/samsam`, I get t

[2018-10-03 15:30] mroderick commented on #1914
That’s odd. Are you using a proxy of sorts?

Both Travis CI and Circle CI were able to install latest samsam, so I think we can rule out the registry as the root cause.

[2018-10-03 15:43] drochgenius commented on #1914
Thanks for the quick answer.
Just tried again now, and it works fine.
Maybe some momentary glitch on the NPM registry.
I am not using a proxy.

Closing the ticket now.

Thanks

[2018-10-03 15:43] #1914 closed

[2018-10-04 09:44] mroderick commented on #1912
(Without looking at the code or the tests), I think that `Returns true if spy was called exactly once with the provided arguments and no others.` matches my expectations of a method named `calledOnceWithExactly `. The key to the interpretation is the use of `exactly`.

An improvement to the documentation would be to emphasise `exactly` and perhaps rephrase the last part of the sentence. Something

[2018-10-04 10:07] fatso83 commented on #1898
I was thinking something along the lines of @mroderick's [link seams article](https://sinonjs.org/how-to/link-seams-commonjs/). So in the typical "tell ’em what you are going to tell ’em;tell ’em; and then tell ’em what you told ’em.” style I'd propose

- a quick intro to what the article is trying to cover
- case 1: problem, solution
- case 2: problem, solution
- summary

I am not totally sure ab

[2018-10-04 10:38] benjamingr commented on #1898
Ok, do we want to show the examples with a particular library in mind (other than sinon or lolex)?

For example - in the context of testing async functions in mocha tests?

[2018-10-04 11:37] fatso83 commented on #1898
Mocha is more or less the default, so use that. People use other stuff, but they have always seen that, and if not, it's easy enough to understand.

And I don't mind if we pull in stuff like Bluebird or stub `global.Promise` if it gets the job done for the test. Right now, there is _nothing_, and a working example is better than perfect example. Let's just get _something_ to point people to when t

[2018-10-04 12:00] benjamingr commented on #1898
I'd rather focus on writing an async test (for promises) and using fake timers - there are some interesting patterns based on promises waiting for a tick.

I'd rather avoid documenting the builtins we're discussing internally for a longer term solution (like exposing a `%RunMicrotasks` or flushing things.

Is there another guide I can look at (code link) so I can start working on it?

[2018-10-05 08:55] fatso83 commented on #1898
We don't currently have any other guide guide or tutorial :cry:

A tut covering async cases is a fine start in any case.

[2018-10-06 09:57] benjamingr commented on #1898
Ok, I've set myself a goal to do this in the coming month - cheers.

[2018-10-06 21:15] mgred commented on #1887
@michaloo I add the test case and it works fine now :sunglasses: Could you confirm for your specific case?

[2018-10-08 18:53] mroderick opened #1919 "Remove duplication: create async methods"
While working on the codebase tonight, I discovered some unnecessary duplication:

https://github.com/sinonjs/sinon/blob/master/lib/sinon/default-behaviors.js#L266-L272

[code]

and

https://github.com/sinonjs/sinon/blob/master/lib/sinon/behavior.js#L216-L222

[code]

We should refactor the code to only have one copy of this, and re-use it.

[2018-10-08 23:59] LEQADA commented on #1919
@mroderick I'd like to pick up this task. Any suggestions on where to put a new util function?

[2018-10-09 05:59] mroderick commented on #1919
@LEQADA that would be great 👍

I think you could create a file in [`lib/sinon/util/core`](https://github.com/sinonjs/sinon/tree/master/lib/sinon/util/core)

[2018-10-09 09:36] fatso83 commented on #1877
This has nothing to do with Sinon. This has to do with module loaders and the details of which are outside of Sinon's hands. If you are using ES Modules (which you are when using `import`) then they are not supposed to be modifieable! Hence Sinon cannot change them. If you transpile using Babel to ES5 they will be trivially stubbable, or if you use ESM with CJS compat settings that should also wor

[2018-10-09 09:36] #1877 closed

[2018-10-09 22:09] cakoose commented on #738
@jakwuh's trick worked for me (Node 8, native promises), except the `then` callbacks were postponed by a tick.

Adding an extra async gap to the `tick` helper fixed the problem for me:

[2018-10-10 08:32] gianisegatto opened #1921 "sinon.mock().expects().atLeast() ... expectation.verify() not working"
**Describe the bug**
Sinon 6.3.5
expects.verify(); is not working as expected.

**To Reproduce**
Steps to reproduce the behavior:

**Component to be tested**
[code]

**Unit test**
[code]

**Describe the bug**
Is this way of checking if a method was called correct? I'm trying to see the best way to do that, but I couldn't find any example.

[2018-10-10 08:43] gianisegatto commented on #1921
Debugging the code I've found this error as well:
TypeError: Cannot read property 'send' of undefined.
Is there any way to do this in a better way?

[2018-10-10 10:54] fatso83 commented on #1921
I don't see that you actually show anything wrong with Sinon, so this seems more like a usage scenario, for which this is the wrong forum.

---
We are trying to keep the GitHub issues list tidy and focused on bugs and feature discussions. This ticket looks like a usage question; please post it to [StackOverflow](https://stackoverflow.com/questions/tagged/sinon) and tag it with [`sinon`](https://st

[2018-10-10 10:54] #1921 closed

[2018-10-10 10:56] fatso83 commented on #738
For people interested in the work to improve Sinon in this area (actually, its sibling project `lolex`), check out the discussions here:
- https://github.com/sinonjs/lolex/issues/114
- https://github.com/sinonjs/lolex/pull/105

[2018-10-10 11:05] ShanaMaid commented on #1877
@fatso83  thanks!

[2018-10-10 18:49] schontz opened #1922 "spy.reset does not exist"
**Describe the bug**
The [documentation says](https://sinonjs.org/releases/v4.0.0/spies/#spyreset) that I can reset the state of a spy by calling `spy.reset()`, but `reset()` does not exist. I found `spy.resetHistory()` by inspecting the spy in Node and it appears to do what `reset()` does.

**To Reproduce**
Steps to reproduce the behavior:
[code]

**Expected behavior**
I expect `spy.reset()` to e

[2018-10-10 20:10] mgred commented on #1922
@schontz The documentation you're using is for the version `4.0.0`. Please refer to this [docs](https://sinonjs.org/releases/v6.3.5/spies/) for version `6.3.5`.

[2018-10-10 20:12] #1922 closed

[2018-10-10 20:34] schontz commented on #1922
Ah. I should rename this bug to:

A Google search for `sinon spy` brings you to 4.0 documentation, which says nothing at the top that it is out of date/old/etc. Please add something to the top of non-latest docs to indicate that I may be at the wrong place.

[2018-10-10 20:44] schontz opened #1923 "Put banner at the top of old documentation pages"
**Is your feature request related to a problem? Please describe.**
I was having issues writing sinon tests because Google search results link to old docs (e.g. `sinon spy` results point to `4.0.0` docs; see #1922).

**Describe the solution you'd like**
Old documentation should at the very least have a big banner at the top pointing me to the latest version of the docs. Better yet, if the referrer

[2018-10-11 08:54] fatso83 commented on #1923
This is something me and Morgan discussed in an exchange last year, but time constraints keep us from getting there. I absolutely feel your pain, though. It's good you brought it up again, as that shows it's not just a theoretical exercise, but a problem that actually needs addressing.

The time issue is still what's blocking progress, so if you can supply a PR to our docs site that is infinitely

[2018-10-11 13:32] Todai88 opened #1924 ""SyntaxError: Unexpected token '>'\nat scripts/fortress/typescript/tests/dependencies/func.spec.ts:119:0""
**Describe the bug**
I seem to be unable to run sinonjs in my current setup. I'm working on a PoC where my company is pushing to TypeScript, where we never used NPM before.
Up until now I've been able to integrate Karma, with Chai and Mocha. But the second I start using simple Sinonjs syntax (such as a spy), the karma(-webpack) builder breaks.

**To Reproduce**
Steps to reproduce the behavior:
As

[2018-10-11 16:29] schontz commented on #1923
Wow, there's a lot to this. I think a simple banner on old doc pages is the low-hanging fruit on this one.

[2018-10-11 19:04] ScottChapman opened #1925 "Using sandbox.useFakeTimer with shouldAdvanceTime = true hangs..."
**Describe the bug**
So, I have a sandbox, and I setup useFakeTimer to a specific time, and tell it to advance the tme
**To Reproduce**
[code]

**Expected behavior**
Should print and exit.

[2018-10-11 19:05] ScottChapman commented on #1925
Note: If I remove the `shouldAdvanceTime` parameter it does exit.

[2018-10-11 19:38] fatso83 commented on #1923
Seemingly. I actually think the implementation effort for the non-banner stuff is easier than making a decent banner, so each to his own :grin: If you - or anyone really - can put together something half-decent in their lunch, we would love to have it :-)

[2018-10-11 19:54] fatso83 commented on #1923
I am doing the `rel=canonical` stuff now to fix the search hits.

[2018-10-11 20:31] fatso83 commented on #1924
I _hope_ a simple reinstall will fix things. It did so for me in the past. That being said, it would be helpful for you when debugging this (in case a reinstall does not work) to find out what is one the phantom line 119. I used Karma a few years back and a good thing then was going into `/debug.html` where you could set breakpoints in your editor by opening the page in Chrome DevTools. Try that.

[2018-10-11 20:34] schontz commented on #1923
I don't have time for a PR, but this is something simple. Assuming there is a way to make a link to /latest/ you only need to update the next-to-latest version of the docs when you create a new one.

HTML:
[code]

CSS:
[code]

[2018-10-11 21:08] ScottChapman commented on #1925
Yea, I basically stumbled onto both of those... Although I did a `restore` on my clock after walking through the code to understand what was going on.

Thanks!

[2018-10-12 01:27] fatso83 commented on #1923
Thanks for the suggestion! It's now live in the #1927 PR, along with all the SEO.

[2018-10-12 16:11] schontz commented on #1923
Wonderful!

[2018-10-12 18:57] servel333 opened #1928 "Call wrapped method from callsFake"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

I want to call the original method from inside `callsFake`. This is different than using `callThrough` because there are no conditions to skip, or the conditions are written in JS inside the `callsFake` method rather than Sinon syntax. I c

[2018-10-13 09:04] #1923 closed

[2018-10-13 09:53] #1884 closed

[2018-10-13 09:55] #1885 closed

[2018-10-14 10:18] fatso83 commented on #1652
How do we notify people of the naming change? Most people are probably used to adding sinon to a project using `npm install sinon`. That will make them stay at an older release.

[2018-10-14 10:31] fatso83 commented on #1651
Heard good things about GitBook, but I don't have any experience using it.

Seems like a very unnecessary step. Jekyll converts markdown to html, and if that is the end result we might as well use one of the many existing jsdoc tools that produce html. High probability that we have much more control over the end result then the jsdoc -> markdown -> html route.

@mgred We could still have that. On

[2018-10-14 14:52] mgred commented on #1651
@fatso83 I created a test account for the project on gitbooks a couple of days ago, I hadn't had the time to play around much. I can send an invitation link to the group if you want to have a look?!

[2018-10-14 19:44] fatso83 commented on #1651
Sure, but I don't have any time allotted right now.

[2018-10-14 21:08] #1882 closed

[2018-10-15 19:28] daniel-swan opened #1933 "stub withExactArgs"
Would be nice to have withExactArgs for stubs.

Mocks have a withExactArgs that matches only the given arguments and no others. It would be nice for stubs to have the same behavior.

This, but for stubs:
https://sinonjs.org/releases/v7.0.0/mocks/#expectationwithexactargsarg1-arg2-

Thanks!

[2018-10-15 20:02] mgred commented on #1652
I think we should communicate as soon as possible with a note on the website/documentation and the `README.md` in all the projects that there will be a scoped package name structure from version `x.0.0`.

Furthermore we should publish a deprecation notice on npm, e.g. CoffeScript is doing this:
https://www.npmjs.com/package/coffee-script (1.x)
https://www.npmjs.com/package/coffeescript (2.x)

When

[2018-10-15 20:58] mgred commented on #1933
@daniel-swan There is a way of using this behavior with [`stubs`](https://sinonjs.org/releases/v7.0.0/stubs/#what-are-stubs) as well, because they implement the complete [`spies`](https://sinonjs.org/releases/v7.0.0/spies/) API you can use [`calledExactlyWith`](https://sinonjs.org/releases/v7.0.0/spies/#spycalledwithexactlyarg1-arg2-) on `stubs` to test this.

I hope this helps

[2018-10-16 10:54] fatso83 commented on #1933
[code]

[2018-10-16 10:54] #1933 closed

[2018-10-17 14:52] mroderick commented on #1652
Deprecating packages is not that difficult, I've already done it when we adopted `referee`, `samsam` and `formatio`.

[2018-10-18 23:54] alexxiyang commented on #1852
Is there any new updates about get `sinon.useFakeTimers` to work in this scenario. I'm still getting this exception when using mocha in jsDom

[code]

[2018-10-20 15:58] mroderick commented on #1852
@LouisBrunner I like that that idea, I think that solution would work for most people 👍

[2018-10-25 08:48] ehmicky opened #1936 "Make spy properties non-enumerable"
**Is your feature request related to a problem? Please describe.**
When a Sinon spy assertions fails during unit testing, some assertion libraries like `power-assert` (used by Ava) will print all the spy properties (including the spy methods) which is very verbose and makes it harder to see why the test failed.

**Describe the solution you'd like**
Make Sinon-specific spy properties non-enumerable

[2018-10-26 08:35] fatso83 commented on #1936
How would this affect REPL usage and API discoverability? One of my favorite ways of using new tech is through exploratory testing on  the REPL. Doing `var spy = sinon.spy(); spy.` and then <tab>ing my way through the various methods. Would this still work?

[2018-10-26 08:41] ehmicky commented on #1936
Yes, non-enumerable properties are still shown on tab autocomplete in Node.js REPL.

[2018-10-26 17:52] mearns opened #1937 "Feature Request: Make APIs extensible"
I'd like to be able to provide custom extensions to some of the APIs available in sinon, particularly the spy and spyCall APIs. This is somewhat analogous to the way [chaijs](https://www.chaijs.com/guide/plugins/) allows for plugins to define new assertions.

This would be useful, for instance, if you want to create convenience methods for asserting on calls with particular signatures. The example

[2018-10-26 22:24] cartant opened #1938 "Error: Cannot find module './util/fake_timers'"
**Describe the bug**

After running `yarn upgrade` in [`rxjs-etc`](https://github.com/cartant/rxjs-etc/), the Node mocha test runner fails will the following error:

[code]

The semver in the project's `package.json` is `^7.0.0` and prior to the upgrade, version `7.0.0` did not effect the error.

**To Reproduce**

* Clone the [`rxjs-etc`](https://github.com/cartant/rxjs-etc/) repo.
* Run `yarn upg

[2018-10-27 02:15] fatso83 commented on #1938
We don't support `yarn`. I would try removing the modules directory manually (`rm -rf node_modules`) and installing again. I expect something like a yarn error to be the case, since I haven't heard from anyone lse.

[2018-10-27 02:15] #1938 closed

[2018-10-27 02:18] fatso83 commented on #1937
If we had something like that we could trim away all of the non-essential (whatever they might be) method on the API and have that as a `sinon-extras` package or something. Then keeping the core in ship shape might prove easier. So this _sounds_ good, but I am unsure how easy this is.

[2018-10-27 08:28] mroderick commented on #1937
I've had [similar ideas for referee](https://github.com/sinonjs/referee/issues/19), although I envisioned a different way of plugging them in. Feedback welcome!

Referee already has an extension mechanism, which allows authors to plug in custom assertions. However, it is not very elegant and leads to having to import referee via a wrapper that installs the assertions. I'd like to make that much ni

[2018-10-27 19:18] paulmelnikow commented on #1537
Thank you for restoring this behavior.

Wanted to add a use case that supports stubbing nonexistint properties.

In my use case, I'm stubbing a property on a config object. The config object has various optional keys, and is initialized by loading a file from the developer's machine. When I run a particular test, I need one of those keys set to a known value, and then want to restore the developer

[2018-10-27 20:04] JustinBeckwith opened #1940 "deprecated text-encoding@0.6.4: no longer maintained"
Greetings folks!  When running `npm install`, I'm getting an error letting me know that text-encoding is no longer maintained :)

[code]

Details on my setup:
[code]

Looks like it's coming in from nise:

[code]

[2018-10-27 22:32] fatso83 commented on #1940
Yup. We know :-) Already reported in its rightful place: sinonjs/nise#66

As the issue says, we need to either become the maintainer (or incorporating parts into Nise) or find a replacement.

Thanks for the report!

[2018-10-27 22:32] #1940 closed

[2018-10-28 00:41] morgsmccauley commented on #1919
@LEQADA did you make any progress on this? I'd like to pick this up if it's not being worked on 😄

[2018-10-28 01:08] LEQADA commented on #1919
@morgsmccauley sorry for a long inactivity. I already started to work on the issue but didn't have time to write tests. I plan to finish it next week if it's not urgent. If it's urgent then sure take it over.
Otherwise I'd ask to give me some more days. :slightly_smiling_face:

[2018-10-28 06:15] mroderick commented on #1919
There are plenty [more issues across the sinonjs repositories with "Help wanted" label](https://github.com/search?q=org%3Asinonjs+is%3Aopen+label%3A%22Help+wanted%22&unscoped_q=is%3Aopen+label%3A%22Help+wanted%22).

[2018-10-28 06:16] mroderick commented on #1919
LIke this one to find a solution for an unmaintained dependency: https://github.com/sinonjs/nise/issues/66

[2018-10-28 07:08] morgsmccauley commented on #1919
Great, thanks @mroderick!

[2018-10-29 15:19] mroderick commented on #1919
Fixed with #1942

[2018-10-29 15:19] #1919 closed

[2018-10-29 15:22] mroderick commented on #1741
@jshado1 that would be great, thank you

[2018-10-30 21:39] fatso83 commented on #1889
I'd be amazed if this was actually an issue of Sinon and not some detail of the module loading, with which Sinon has nothing to do. The setup is way too complicated to be meaningful in pointing to any bug, as well. I'd try rewire, proxyquire and the likes.

---
We are trying to keep the GitHub issues list tidy and focused on bugs and feature discussions. This ticket looks like a usage question; pl

[2018-10-30 21:39] #1889 closed

[2018-10-31 15:23] mroderick commented on #1936
This has been implemented with #1936 and released as `sinon@7.1.1`

[2018-11-07 15:26] tcarecolin opened #1943 "myStub.getCall(0).args[0] overrided by myStub.getCall(1).args[0]"
* Sinon version : 6.1.4
* Environment   : node 10.0.0
* Other libraries you are using: chai, jest

**What did you expect to happen?**
I expect the firstCall arguments to be different than the secondCall if the same function is called with a slight difference in the call arguments (the function is called with only an object as parameters).
i.e: inside a loop we call the stubbed function then we add

[2018-11-07 16:38] mroderick commented on #1943
Edited the description to use Markdown fenced blocks, which respects whitespace and supports syntax highlighting.

[2018-11-07 16:41] mroderick commented on #1943
The linked runnable example on jsbin is not runnable. Could you provide a runnable example? Perhaps as a git repository?

[2018-11-08 22:09] d1820 opened #1944 "Upgrade from 4.5.0 to 5.1.1 Unable to use FakeXHR"
**Describe the bug**
A clear and concise description of what the bug is.

upon upgrade of package a compile error happens

 TypeError: Cannot read property 'replace' of undefined
        at normalizeHeaderValue (node_modules/sinon/pkg/sinon.js:9193
:18)
        at FakeXMLHttpRequest.setRequestHeader (/node_modules/sinon/pk
g/sinon.js:9533:17)
        at setRequestHeader (index.js:106536:19)

[2018-11-11 08:08] mroderick commented on #1944
Edited code example to add syntax highlighting

[2018-11-11 08:12] mroderick commented on #1944
The code is not JavaScript. Could you provide a minimal, runnable example at jsbin or similar that shows the issue?

[2018-11-11 12:29] fatso83 commented on #1944
Also, have you tried the simplest thing that often seems to fix things; delete the node_modules folder and reinstall?

[2018-11-11 16:05] fatso83 commented on #1943
Try [RunKit](https://npm.runkit.com), it's like JSBIN, just for Node. Managed to get your code running, after removing your dependency on local modules, but not while reproducing the issue ...

[2018-11-13 14:53] joelove commented on #562
I found that wrapping the standalone function I want to stub in an object literal was a quick and easy workaround
[code]

[2018-11-13 20:04] epikhighs opened #1945 "sinon.createStubInstance has no restore method?"
**Describe the bug**
I created a stub using sinon.createStubInstance(), but the returned stub has no restore method.  Is this by design?  I don't need to teardown a stub created with sinon.createStubInstance() ?

**To Reproduce**
Steps to reproduce the behavior:
let stub = sinon.createStubInstance(SomeConstructor);
stub.restore();

**Expected behavior**
stub.restore() is on the returned stub

* Li

[2018-11-13 22:53] fatso83 commented on #1945
From the docs:

Since you are not modifying anything, there is nothing to restore.

[2018-11-13 22:53] #1945 closed

[2018-11-16 08:22] adrianschmidt opened #1946 "Please add a CHANGELOG.md to the project root"
Finding the changelog for this project is a pain because you have no `CHANGELOG.md` in the project root. It would be very helpful if such a file was added, even if it just contained a link to `History.md`.

[2018-11-17 09:45] mroderick commented on #1946
It probably took you less time to find, than to create a new issue in this repository.

If you still feel this is important, how about creating a PR?

You'll want to:

* Rename `History.md` to `CHANGELOG.md`
* Update `scripts/preversion.sh` to instruct `git changelog` to use the desired filename

[2018-11-17 21:19] mroderick opened #1948 "Remove security warning from old lodash"
When running `npm audit`, there is a warning about `lodash`.

1. Run `npm audit`
1. Observe the warning about lodash (example below)

[code]

The old `lodash` that has the issue  is used by `mochify-istanbul`, which is part of the `test-coverage`task.

I've tried [upgrading `lodash` in `mochify-istanbul`](https://github.com/ferlores/mochify-istanbul), but that was not successful. To me that projec

[2018-11-17 21:51] mantoni commented on #1948
The project isn't dead. It worked just fine all the time. I'm happy to resurrect it.

[2018-11-17 22:47] mantoni commented on #1948
Ok, I had a quick look at `mochify-istanbul`, and although it works, the tests don't and the whole project is in a terrible state. The owner seems to have abandoned GitHub entirely.

The way forward seems indeed to use `nyc`. There is a babel plugin for instrumentation that could be used. I have good experience with using `babelify` to get any babel plugin to work with the browserify pipeline. @mr

[2018-11-18 08:37] mroderick commented on #1948
I did some experiments yesterday, and couldn't get `nyc` working with `mochify` in the first try.

I don't know if there's an easy way out of this. Option 1 requires studying how all the pipelining works, option 2 requires changing some of the tests. I do see option two to have the added benefit of being able to easily use the debugger with node for those tests also.

Any `nyc` experts out there w

[2018-11-19 08:04] saarkuriel opened #1949 "Sinon stub typings error"
**Describe the bug**
Since `@types/sinon: 5.0.6` stubs are getting typescript error: `Cannot invoke an expression whose type lacks a call signature`

**To Reproduce**
Steps to reproduce the behavior:
1. Install `@types/sinon` @ 5.0.6
2. Create a stub and return value, e.g: `sinonSession.stub(UUID, 'v4').returns('ID');`

**Expected behavior**
No typescript error

**Context (please complete the foll

[2018-11-19 08:13] mroderick commented on #1949
Sinon.JS is a JavaScript project and does not maintain any TypeScript (or other non-JavaScript) artefacts.

Please report the issue where you get your type definitions, probably at https://github.com/DefinitelyTyped/DefinitelyTyped

[2018-11-19 08:13] #1949 closed

[2018-11-19 12:32] mantoni commented on #1948
Fixed by #1950.

[2018-11-19 12:32] #1948 closed

[2018-11-19 13:10] mroderick commented on #1948
:

[2018-11-19 22:27] eps1lon opened #1951 "IE 11 not supported"
**Describe the bug**
IE 11 environment is not supported with regards to syntax and methods. For example sinon has transitive dependencies to `has-flag` which is an arrow function and uses `String.prototype.startsWith`. Missing syntax support wouldn't be as bad since it can be included in babel-loader but adding polyfills is kind of rough since this would also mean that it wouldn't warn us if we us

[2018-11-19 23:05] fatso83 commented on #1951
We are running Sinon in IE11 in our own browser tests. IE11 does not support Ecmascript Modules, so it makes no sense to use the sinon-esm build.

Just use the Sinon.js bundle. Works everywhere.

[2018-11-19 23:05] #1951 closed

[2018-11-19 23:07] oliviertassinari commented on #1951
@fatso83 The issue we are hitting with the `esm` version isn't with Ecmascript Modules, it's with the ES6 syntax, like arrow functions.

[2018-11-19 23:13] fatso83 commented on #1951
https://saucelabs.com/beta/tests/475df00710394fc0bd6890fad7051580/commands#0

https://api.travis-ci.org/v3/job/456960446/log.txt

[2018-11-19 23:30] fatso83 commented on #1951
@oliviertassinari, I get that, but if you are consuming an Ecmascript module you shouldn't expect it to be ES5 to begin with (as it's not). You *will* require some sort of transpilation step in your build pipeline if you build a bundle from ES modules, as this is not valid ES5, but it IS a ES module:
`export { _createFakeServerWithClock as createFakeServerWithClock };`

I suspect that your webpack

[2018-11-19 23:37] fatso83 commented on #1951
But I do agree that it would be wise to make the most common thing as easy as possible, so if a simple config change can produce a valid ESM that will not cause problems in most builds, we will accept that PR.

[2018-11-19 23:39] oliviertassinari commented on #1951
What should I expect it to be, can it have ES2018 syntax?

I would love to know more about it. Right now the target with Material-UI is to have a 3 outputs. One for ES5, one for ESM (ES5 + es modules), one for evergreen browser (es) basically using all the official syntax, so ES2018.

[2018-11-20 06:36] eps1lon commented on #1951
I used the module build because it's easier to investigate since everything is in one place. This issue stays the same if I tell webpack to use the `main` entry and therefore commonJS modules.

The modules used are of no concern for the generated bundle.

[2018-11-20 08:03] mantoni commented on #1951
This discussion doesn't seem very fruitful. I'll try to explain the Sinon.JS teams view:

To begin with, the statement from [our latest API documentation page](https://sinonjs.org/releases/v7.1.1/) is what we feel bound to. It sais

The listed runtimes are

Abviously, these statements are made reagarding the standard Sinon.JS distribution, as it is downloadable from our web page and distributed vi

[2018-11-20 08:09] eps1lon commented on #1951
@mantoni Please read my comment again and consider that `module` and `main` are only concerned about the module system not other syntax or language features.

[2018-11-20 09:06] mroderick commented on #1951
@eps1lon @oliviertassinari I am not against the ESM version of Sinon being ESM + ES5.1, if that solves problems for people. Would you care to submit a pull request to scratch your itch?

[2018-11-20 12:22] eps1lon commented on #1951
Just to be perfectly clear the commonJS version isn't ES5.1 either which should be showcased with https://github.com/eps1lon/sinon-ie11

The issue is that you have a transitive dependency to the `has-flag` package via the `main` entry which uses fat arrow syntax as well as String.prototype.startsWith.
[code]

This is fixable by setting mainFields to `['browser', 'main', 'module']` but that's not w

[2018-11-20 12:43] mantoni commented on #1951
The CommonJS version is ES5.1. You can search through the `pkg/sinon.js` sources and you will neither find arrow functions nor any use of `startsWith`. That is because the transitive dependency you're referring to is not bundled because `supports-color` has a [a browser version](https://github.com/chalk/supports-color/blob/master/browser.js) which simply states that color is not supported.

Again,

[2018-11-20 12:48] eps1lon commented on #1951
@mantoni  I wish I never mentioned the esm build. It has nothing to do with the issue. It's however troubling that you only consider your code as part of the package and not dependencies. I hope you don't have a similar attitude towards security issues in dependencies.

[2018-11-20 12:58] mantoni commented on #1951
We do consider dependencies as part of our library. We also take security very seriously and watch security alerts on the repository and npm audit closely.

Let me try again, without using the word esm: I understand that you're loading the Sinon sources into IE 11. You're obviously not loading the browser version, because the browser version does not have the issues you're referring to. You should

[2018-11-21 06:59] punkkk opened #1952 "sinon.createStubInstance with throws option"
**Is your feature request related to a problem? Please describe.**
There is a good point to stub public methods of a class with throws in all methods (stub().throws()), it is very helpful to use in unit testing, to prevent all unmocked calls for all method. Right now i am forced to mock all methods by myself.

**Describe the solution you'd like**
Add an option for sinon.createStubInstance to make

[2018-11-21 11:08] mroderick commented on #1952
I am not sure I understand what you're trying to achieve, could you perhaps sketch it out in code?

[2018-11-21 11:17] punkkk commented on #1952
Sorry for bad explanation.
Example:
[code]
And there is should not throw an error with defined args:
[code]

[2018-11-22 23:12] chris-fran commented on #1512
please tell me this was fixed for sinon 2.4.* 😭

[2018-11-23 17:37] mroderick commented on #1512
@chris-fran are you unable to upgrade?

[2018-11-26 23:05] jdmarshall commented on #1720
@mroderick

The documentation for stub.callsFake() still implies that you can stub nonexistant functions.

[2018-11-27 05:38] hansyulian commented on #1761
as for today, i still come to this as the top google search result for ```stub(obj, 'meth', fn) has been removed, see documentation```

[2018-11-27 18:40] ehmicky commented on #1936
Thanks for this.

However I do not think this worked:

[code]

As a consequence the original problem still arises.

[2018-11-28 14:12] LHMerlin commented on #1892
@fatso83 Thanks for the gist. That helped me stubbing classes.
But how do I spy on classes properly? I tried different ways, but the only way I could really spy on a constructor was the following:

`  it('test sinon constructor spy with container', () => {
    const testClassContainer = {};
    testClassContainer.TestClass = class TestClass {
      constructor() {
        console.log('testClass cr

[2018-11-28 14:15] svennergr commented on #1892
@fatso83 Thanks for the gist. That helped me stubbing classes.
But how do I spy on classes properly? I tried different ways, but the only way I could really spy on a constructor was the following:

[code]

[2018-11-29 15:30] fatso83 commented on #1892
That looks like a usage question; please post it to [StackOverflow](https://stackoverflow.com/questions/tagged/sinon) and tag it with [`sinon`](https://stackoverflow.com/questions/tagged/sinon), so the bigger community can help answer your questions.

A lot more people follow that tag that will help you.

[2018-12-05 17:52] kgregory commented on #440
According to the [documentation](https://sinonjs.org/releases/v7.1.1/stubs/):

Calling behavior defining methods like `returns` or `throws` multiple times overrides the behavior of the stub.

It isn't very intuitive that using `returns` after `returnsArg` doesn't override the behavior.  For example:

[code]

The expectation would be that the stub would return `'foo'`, but this isn't the case becau

[2018-12-07 08:31] adrianschmidt commented on #1946
Sure, will do!

(Sorry for the late response.)

[2018-12-07 13:30] jose920405 opened #1954 "Timeout lolex problem in integration with jest"
## 🐛 Report

Hi, I have a warning related to the following message.

[code]

It started to happen when I integrated [sinon](https://github.com/sinonjs/sinon) into my project.

#### Apparently `lolex` is the problem. Because `nise` another module that your are using, has lolex in your owns `node_modules`

Currently i'm using `"sinon": "7.1.1" and "jest": "23.5.0"`.

[code]

[2018-12-08 10:05] mroderick commented on #1936
@ehmicky which version of `sinon` are you using to produce that output?

[2018-12-08 10:06] mroderick commented on #1720
@jdmarshall would you like to contribute an update to the documentation to correct this?

See https://github.com/sinonjs/sinon/blob/master/docs/CONTRIBUTING.md

[2018-12-08 10:10] mroderick commented on #440
Re-opening this issue

[2018-12-08 10:18] mroderick commented on #1954
Since you provided no example code, it will be near impossible for anyone to help you determine if this is a bug or not.

We have issue templates for good reasons, please consider using those in the future.

There are only four tests in your example.  It shouldn't be too difficult to create a runnable example that demonstrates the potential bug. Once there is some code to study, it will be a lot e

[2018-12-08 10:30] mroderick commented on #1887
I am going to claim that this was fixed in #1918, and am closing this.

[2018-12-08 10:30] #1887 closed

[2018-12-08 10:41] mroderick commented on #1651
I've updated the description a bit with details about creating a re-usable Jekyll theme as a gem

[2018-12-08 12:15] ehmicky commented on #1936
I am using Sinon `7.1.1`, Node `11.3.0`, Ubuntu `18.10`.

[2018-12-08 18:11] krychuq1 opened #1956 "Sinon stub middleware es6 doesn't work with previous import"
I have problem with stubbing route middleware. In my application I have nodejs express app which is using express route:

[code]

This userRouting uses middleware which I want to sub.

In my test directory I have following files:

- brandRouting.js
- userRouting.js

Everything works well without brandRouting file.

userRouting.js file:

[code]

Problem appears when I'll include tests in brandRouti

[2018-12-08 18:40] #1956 closed

[2018-12-09 17:49] mantoni commented on #1652
Issue for nise: https://github.com/sinonjs/nise/issues/77

[2018-12-10 11:13] spicalous opened #1957 "createStubInstance override and null return values"
**Describe the bug**
`sinon.createStubInstance` was extended recently to allow overrides such as:
[code]
Theres a small issue which prevents a user from returning null values

**To Reproduce**
[code]

**Expected behavior**
The library should correctly create a stub instance with a stub method returning null

**Reason**
Theres an initial check whether the override is a stub by checking if `createSt

[2018-12-10 20:35] mroderick commented on #1957
Thank you for your detailed analysis of the bug, it looks like an interesting one!
A pull request would be very welcome 👍

[2018-12-10 20:36] mroderick commented on #1946
This has been fixed with #1953 👍

[2018-12-10 20:36] #1946 closed

[2018-12-10 20:39] mroderick commented on #1944
It's been a month, with no reply from OP. I am closing this

[2018-12-10 20:39] #1944 closed

[2018-12-11 17:57] dueyfx opened #1960 "custom matchers value is undefined when using .withArgs(...)"
**Describe the bug**
It appears that using custom matchers in combination with .withArgs(...) has broken in release 7.2.0.  It works in release 7.1.1

**To Reproduce**
Here's a simple example of the usage.  With release 7.2.0, the `value` in the sinon.matcher function is undefined.
[code]

**Expected behavior**
I expect that when the mock is called in the code, it will pass the arg to the sinon ma

[2018-12-12 07:32] #1957 closed

[2018-12-12 08:13] #1960 closed

[2018-12-12 08:19] mantoni commented on #1960
Patch released in `7.2.2`.

[2018-12-19 10:02] odaymard opened #1962 "Stubbing external libraries does not work as expected."
I have the following code and I am trying to create unit test
to make sure sendToGoogle function is working so I Stub  gmail.users.messages's send method and expect the method to be called by sendToGoogle method but I got this error

here is helper.js which contains my code

//helper.js

       const sendToGoogle = function (oAuthClient, from, message) {
         const gmail = google.gmail("v1");

[2018-12-22 13:06] mroderick commented on #1852
This has been fixed with #1935

[2018-12-22 13:06] #1852 closed

[2018-12-24 17:32] fatso83 commented on #1928
I think this needs to be documented. I recall us discussing this before.

[2018-12-31 17:44] #1928 closed

[2019-01-02 00:40] stevenvachon commented on #668
Sinon performs `and.callThrough()` by default. I'm actually looking for a way to prevent this but not finding anything in documentation.

[2019-01-02 09:16] #1937 closed

[2019-01-03 08:19] Teddy34 commented on #1962
Are you using Webpack 4 and are you using ECMAScript modules? There're issues with this setup (see https://github.com/webpack/webpack/issues/6979)

[2019-01-04 16:06] kbirger opened #1963 "Cannot createStubInstance on class with private members"
**Describe the bug**
if I `sinon.createStubInstance(X)` where X is a class with at least one private member, I receive errors like:

  Property '_private' is missing in type 'SinonStubbedInstance<Foo>' but required in type 'Foo'.
[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Set up a project with mocha and sinon.
2. Create a unit test spec file
3. Paste the above snippet of code and

[2019-01-05 01:48] mgabeler-lee-6rs opened #1964 "callThrough doesn't work on a withArgs sub-stub"
**Describe the bug**

#1442 was not fully fixed by #1549.  The case of using stubs directly instead of with mocks and expectations, as shown in https://github.com/sinonjs/sinon/issues/1442#issuecomment-306330402, is still broken.

**To Reproduce**
Steps to reproduce the behavior:
This code will throw an exception `TypeError: Cannot read property 'apply' of undefined` due to the fake returned from

[2019-01-05 10:15] fatso83 commented on #1963
This is a Typescript issue. We are not going to use time looking into this, as we don't support Typescript explicitly. That Typescript somehow has support for private members is a property of its type system and could be implemented in number of ways. When I used Typescript I often resolved such issues by going to the Typescript playground and inspecting the output to understand what it did. That'

[2019-01-05 10:15] #1963 closed

[2019-01-06 21:49] fatso83 commented on #668
Yes, that's the difference between spies and stubs in Sinon.

[2019-01-07 14:30] nasht00 opened #1965 "Stub global variables"
The modules I want to test and/or mock use some global variables.

For example, the source code of the module makes a reference to a variable `session`, which is not defined anywhere but is available at runtime.

Consider the module `globals.js`:

[code]

`session` is not defined in this file but available at runtime. It's a global variable of the environment (not under my control).

I notice that

[2019-01-09 13:33] daniel-onodje opened #1966 "Upgrading to Sinon v7.2.2: Possible JSON issue"
**Describe the bug**

When I emit a event using EventEmitter, the payload being a JSON stringified  class instance, on listening to that event and parsing the payload, the received and parsed payload and the original event are not seen as the same.

This code works as expected with `sinon` v7.1.1 but fails with `sinon` v7.2.2
The code is supplied as a gist https://gist.github.com/daniel-onodje/d1b

[2019-01-10 02:33] ethanresnick opened #1967 "`sinon.stub(obj)` should work even if obj happens to be a function"
I'm not sure if this is a bug or a feature request; see below.

**Is your feature request related to a problem? Please describe.**
I have a class and I want to stub _all and only its **static** methods_. So, I want to treat the class's constructor function like a plain object, where I'm stubbing all the function-valued properties on it and its prototype (as those properties are the static methods)

[2019-01-10 02:35] ethanresnick commented on #1967
Note: [this issue](https://github.com/sinonjs/sinon/issues/562) is vaguely related, as it shows the same error that I get when trying to do what I want. But the person in that issue is trying to stub the function  itself, rather than just trying to treat the function like any other bag of properties. Imo, for their case, the proper return value would be an empty object rather than the error (possi

[2019-01-10 08:08] mantoni commented on #1967
I agree that this should be supported. I'd also say it's a bug, but for a different reason: In latest Sinon 7.2.2 calling `sinon.stub(function () {})` throws

[code]

This shows that this case is not properly handled. Sending a PR to fix in a second.

[2019-01-17 02:18] sgronblo commented on #1797
Ran into the same problem. Seems this is not possible right now, right?

[2019-01-17 02:21] sgronblo commented on #1797
Ah, never mind. Figured out how to do it based on fatso83's comment. I still think it would be a bit cleaner to pass the original arguments to the throws handler though. But happy, there was a workaround. Thanks.

[2019-01-17 10:10] orubin commented on #1038
I have done this with:
[code]
WDYT @mkusher @tfrommen ?

[2019-01-17 10:38] shokmaster commented on #1739
Unkept promises? :P

[2019-01-17 12:13] AlCalzone commented on #1739
Rather rejected Promises 😜

[2019-01-18 09:52] mkusher commented on #1038
@orubin yeah, I've finished up with something similar

[2019-01-18 20:00] hovissimo commented on #1095
If you're reading this from a google search you want to read https://sinonjs.org/releases/latest/stubs/ instead!

[2019-01-19 13:57] #1967 closed

[2019-01-19 14:07] mantoni commented on #1967
This was fixed in Sinon `v7.2.3`.

[2019-01-19 14:15] mantoni opened #1969 "CircleCI tests on Node 10 is failing"
**Describe the bug**
The build is failing on CircleCI again with Mochify printing `[object Object]` and then failing. The same build works fine on Travis.

**To Reproduce**
Trigger a build on CircleCI. It failed 3 times now, so it seems to be consistent.

If anyone has a good idea how to reproduce locally or otherwise debug, I'd love to hear it.

[2019-01-20 05:53] #1943 closed

[2019-01-23 08:33] karak opened #1970 "Is types parameter of sinon.spy undocumented feature?"
Actually, `sinon.spy` has a special, undocumented parameter called `types` at third place, and it allows us to observe accessors by passing `["get", "set"]`.

Is it an _official_ feature to be documented?

Using with TypeScript needs it clear(<https://github.com/DefinitelyTyped/DefinitelyTyped/issues/32398>).

Thanks.

[2019-01-24 04:48] karak commented on #1970
Thank you. I'll close this issue.

[2019-01-24 04:48] #1970 closed

[2019-01-25 14:47] dancespiele opened #1971 "calledOnceWith, calledOnceWithExactly"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when I spy a function and I want to check if it is called once or twice with a expecific argument but if it is calling with different arguments more than one or two it will return false

**Describe the solution you'd like**
If I spy a function and it

[2019-01-25 17:28] jose920405 opened #1972 "Argument of type is not assignable to parameter of type 'never'."
After upgrade the module to `"7.2.3"` and types to `"7.0.4"`, this error began to appear.

Code:

[code]

**Context**

* Library version: **"7.2.3"**
* Other libraries you are using: **"typescript": "3.2.4"**
____
**React Native Environment Info:**
[code]

[2019-01-28 09:09] mgred commented on #1972
@jose920405, Sinon and its subprojects do not support Typesscript!
These types are provided via [DefinitelyTyped](https://github.com/DefinitelyTyped/DefinitelyTyped). If there seem to be some differences between the current release and their types, please create an issue there.

[2019-01-28 09:09] #1972 closed

[2019-01-30 11:47] jacquesdev commented on #562
@harryi3t - thanks that worked for me.

[2019-02-03 21:52] BrandonE opened #1974 "calledWith ignores symbols used as property keys"
**Describe the bug**
Asserting `calledWith` ignores mismatched properties if they keys are [JavaScript symbols](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Symbol).

**To Reproduce**
Steps to reproduce the behavior:
[code]

**Expected behavior**
The above script should throw an `AssertError` because the mock was called with an object containing a `true` value w

[2019-02-04 05:31] pride7754 commented on #1193
@mir3z Have you found solution for this? I am also trying to do the same thing over here

[2019-02-06 19:36] ehmicky commented on #1936
Bumping because this issue is still valid.

[2019-02-07 13:09] fatso83 commented on #1954
A minimal project would have been nice. Feel free to add a link to such a repo. Until then ...

[2019-02-07 13:09] #1954 closed

[2019-02-07 13:29] fatso83 commented on #1936
Ah, @LouisBrunner explicitly just made the _functions_ non-enurable. The other non-function properties are still enumerable. Don't you still want to see those props?

[2019-02-07 13:33] fatso83 commented on #1936
To make the props non-enurable, as well, you would have to use `Object.defineProperties` on the list of props that are created [here](https://github.com/LouisBrunner/sinon/blob/ae0b95c49ba1a1994d10d9f78313f40d3cabffea/lib/sinon/spy.js#L176).

Seems quite doable. Feel up to it, @ehmicky? A lot more likely it will be done if you are scratching your own itch :-)

[2019-02-07 14:58] ehmicky commented on #1936
Here you go: #1975

[2019-02-13 21:21] jamessouth opened #1977 "[QUESTION] - console spy not catching log"
Hello, I posted this question [on SO](https://stackoverflow.com/questions/54639482/testing-js-esm-project-w-sinon-nyc-and-ava-test-w-spy-on-console-fails-desp) a couple of days ago but no answers yet, and it looks like you have ended the google group.  In my node/esm project testing with ava, nyc and sinon I'm not sure why my spy on console.log isn't noticing a log to the console.

* Sinon version

[2019-02-14 15:09] Sufiane-Souissi opened #1978 "stub.returns() evaluating content to return"
**Describe the bug**
I want my stub to returns some string when called
i.e:
[code]

Instead I get : `some string is not defined`
When I pass nothing to `returns` (i.e: undefined)

[code]

I get: `Cannot read property 'charCodeAt' of undefined`

**To Reproduce**
Steps to reproduce the behavior:
file a.js

[code]
file a-test.js
[code]

**Expected behavior**
I expect the stub to not throw errors and

[2019-02-14 17:33] Sufiane-Souissi commented on #1978
I resolved my problem, can't really say how but it's gone now.
I

[2019-02-14 17:33] #1978 closed

[2019-02-14 22:39] #1977 closed

[2019-02-14 22:41] jamessouth commented on #1977
Getting somewhere! The test passes when you comment out the import statement in main, so I guess this has something to do with `esm` so I will close this for now.

[2019-02-18 22:09] fatso83 commented on #1977
@jamessouth You might find a lot of info on this issue [here](https://github.com/sinonjs/sinon/issues/1819#issuecomment-394772106) and on [this follow-up on Stackoverflow](https://stackoverflow.com/questions/50763323/stub-a-function-from-a-es6-module-without-babel). The setup is quite similar (ES6, Ava, ESM).

[2019-02-18 22:15] jamessouth commented on #1977
thank you @fatso83 this issue was actually caused by a bug in `esm` which has since been fixed with the 3.2.5 release

[2019-02-19 11:14] DanTup commented on #581
Apologies for digging up an old issue, but I've just hit this and wondered if there's a recommended way to do what I want...

I'm stubbing methods in the VS Code API, such as [`vs.window.showWarningMessage`](https://code.visualstudio.com/api/references/vscode-api#window.showWarningMessage) so that tests can verify the correct messages are shown (and in some cases, respond to them by "clicking butt

[2019-02-19 19:45] #1969 closed

[2019-02-20 00:02] felixfbecker commented on #731
Would really like this feature too.

[2019-02-20 09:02] aleung commented on #1045
Another approach, if you have to use `sinon.createStubInstance` for some reason: make use of npm module [extend](https://www.npmjs.com/package/extend):

[code]

[2019-02-20 20:46] daljeetv opened #1981 "Tell issue creators to use Speed OSS to add reward to Github Issues!"
Add this text to ISSUE_TEMPLATE.md:

`ADD A REWARD using [Speed](speedoss.com) to SOLVE this issue QUICKLY and SUPPORT this project.`

[2019-02-20 23:00] Tbhesswebber commented on #250
I got around this through the following:

[code]

[2019-02-20 23:02] ljharb commented on #250
@Tbhesswebber that doesn't work when non-test code is relying on the function's name.

[2019-02-20 23:09] Tbhesswebber commented on #250
Ah... excellent point.  I'm working on curricula for teaching higher-order functions (using `Array.prototype` as the starting point), which is what lead me to this issue.  Very different use-case!

P.S. - testing implementation details is really tedious when you're actually _trying_ to!

[2019-02-21 09:40] mantoni commented on #1981
Thanks for the suggestion. We'll consider it.

[2019-02-21 09:40] #1981 closed

[2019-02-21 09:55] mantoni commented on #1971
At least `calledOnceWith` is supported by [referee-sinon](https://sinonjs.github.io/referee-sinon/#calledoncewith). We should provide consistent APIs.

I [argued against](https://github.com/sinonjs/sinon/issues/1200) this feature previously because it could be read as "called once _or_ called with arguments", but I made up my mind and now I think it's pretty clear that it means "called once _and_

[2019-02-21 13:48] Mukesh23singh opened #1982 "Sinon Spy calledOnce is not working"
**Describe the bug**
I'm Using puppeteer module and trying mock page behavior which is a subclass of eventEmitter.
The source code for this code is at https://github.com/Mukesh23singh/puppeteer-unit-testing

**To Reproduce**
Steps to reproduce the behavior:
1. Clone the repo and do npm install
2. Run npm t

**Expected behavior**
I am used spy feature of sinon to spy function to check if it is got

[2019-02-21 15:52] fatso83 commented on #1982
Not a bug in Sinon. Told you why in the SO answer. You need to check out Mocha's support for [async support](https://mochajs.org/#asynchronous-code).

[2019-02-21 15:52] #1982 closed

[2019-02-22 11:43] Flarna opened #1983 "7.2.4 is significant slower than 7.2.3"
**Describe the bug**
For some reason my testsuite runs significant slower with 7.2.4 compared to 7.2.3.

7.2.3:
[code]

7.2.4
[code]

**To Reproduce**
Execute unittests using mocha framework.

**Expected behavior**
No significant difference degrade between 7.2.4 compared to 7.2.3

**Context (please complete the following information):**

* Library version: 7.2.4
* Environment: windows and linux
*

[2019-02-22 15:19] hurkanakbiyik commented on #1750
@shwetasabne How did you solve it?

[2019-02-22 16:02] seanyang414 commented on #1606
For @loganhuskins 's code:
`spy = sinon.spy(className, 'nameOfGetterFunction', ['get'])`

Found that, in assertion, do need to assert on **spy.get** like:
`sinon.assert.calledOnce(spy.get);`

Previously was asserted on **spy** only, and didn't work.

[2019-02-22 17:20] mantoni commented on #1983
My first guess is [this change](https://github.com/sinonjs/sinon/pull/1975). Can you investigate a little?

[2019-02-22 23:48] Flarna commented on #1983
Sure, I will take a closer look during the next days.

[2019-02-23 00:29] fatso83 commented on #1750
@hurkanakbiyik He probably did one of two things:
1. `rm -r node_modules; npm install`
1. `npm install sinon@latest`

Both will probably have fixed it.

[2019-02-23 00:33] fatso83 commented on #1983
While I think it might be due to upping the `lolex` version (or some other package): https://github.com/sinonjs/sinon/commit/1431c78cc3ffc0c13bbb8155080ccf14d42af4a0

[2019-02-23 00:50] Flarna commented on #1983
Looks like @mantoni was correct. I digged a little deeper and it seems that the change in `spy#resetHistory` is the main contributor of the degradation in my setup.

I have two solutions in mind here:
1.  initialize all spy properties already at creation time (`spy#createProxy()`) - as a result no `extend.nonEnum()` is needed in `resetHistory()` as no new properties will be added there
1. reset on

[2019-02-24 01:15] daljeetv commented on #1981
@mantoni thanks. would appreciate your feedback too! I think speedoss.com could be a great way to support the contributors of this repo.

[2019-02-25 09:38] Flarna commented on #1983
I created #1984 with a fix proposal.

[2019-02-25 09:51] #1936 closed

[2019-02-25 09:55] ehmicky commented on #1983
Sorry for the regression introduced by my PR, thanks for fixing it and also adding some tests!

[2019-02-26 11:03] opyate commented on #1758
Some of the details mentioned above would be good to have in the documentation.

E.g. It doesn't help newcomers that "`resetHistory` resets the history" and "`resetBehaviour` resets the behaviour".

Also, some examples would be nice; @fearphage mentions:

...but then why offer `resetHistory`? Offering `resetHistory` tells me that I'm allowed to share context, and I can rest assured that `calledOnc

[2019-02-26 15:12] dancespiele commented on #1971
Ok I will think more about this and I will create a PR when I have time for it, otherwise I close the ticket

[2019-02-26 16:35] fatso83 commented on #1971
These method calls have always bothered me, as no matter the wording, it always ends up ambiguous.

What I would like is some kind of composition interface which makes it possible to add different matchers to make it more specific. This would make it possible to slim down the API once we have something usable. Something like our matcher API.

Not sure how it would look to avoid ambiguity, but perh

[2019-02-26 20:33] #1983 closed

[2019-02-27 08:05] mroderick commented on #1983
@Flarna for completeness, would you mind posting some numbers using the new `sinon@7.2.5`?

[2019-02-27 10:27] Flarna commented on #1983
Here are the results of the day, sinon 7.2.5 seems to be not available yet on NPM so I used SHA d0c073c2aeaebab276094600d76d178d52158500 which should be the same:

[code]

[2019-02-27 11:36] mroderick commented on #1983
I've published it now :)

[2019-02-27 11:37] mroderick commented on #1983
Thank you for the update. Those results look to be well enough in the same ballpark for be usable 👍

[2019-02-28 01:25] brunorozendo opened #1985 "ExperimentalWarning: queueMicrotask() is experimental."
**Describe the bug**
A warning is throwed by just import `sinon`
[code]

**To Reproduce**
Just import sinon
[code]
or
[code]

**Expected behavior**
No warning

**Context (please complete the following information):**

* Library version: _7.2.4_ and _7.2.5_
* Environment:
[code]

[2019-02-28 07:42] fatso83 commented on #1985
This is sinonjs/lolex#232. Since this isn't really a functional bug impacting anything, I don't see why we should duplicate the issue here.  Follow the lolex issue for updates (it has seen work by @shdq).

[2019-02-28 07:42] #1985 closed

[2019-02-28 13:06] mantoni commented on #1974
Thank you for putting this detailed analysis and code changes together. We're definitely lacking proper Symbol support in Sinon and should do something about it.

Regarding your suggested solution, I think the fix should be slightly different: I'd say we should check the expectation for any symbol properties and only compare those to the actual. This means that additional symbol properties being a

[2019-02-28 13:11] mantoni commented on #1966
This is working as designed and as it should be. You're comparing an `Event` instance with a plain object. These are neither the same nor equal.

You could change your assertion to `expect(evtCallback).to.be.calledWith({ field1: "FIELD_1" );`.

[2019-02-28 13:11] #1966 closed

[2019-02-28 13:16] mantoni commented on #1965
Maybe `sinon.replace(object, prop, replacement)` is what you're looking for?
https://sinonjs.org/releases/v7.2.4/sandbox/#sandboxreplaceobject-property-replacement

[2019-02-28 13:16] #1965 closed

[2019-02-28 13:17] mantoni commented on #1962
We are trying to keep the GitHub issues list tidy and focused on bugs and feature discussions. This ticket looks like a usage question, please post it to the [`sinon` tag on Stack Overflow](https://stackoverflow.com/questions/tagged/sinon), so the bigger community can help answer your questions.

If you feel that your topic is an issue with Sinon.JS, please open a new ticket and follow the [guidel

[2019-02-28 13:17] #1962 closed

[2019-02-28 13:48] BrandonE commented on #1974
I like your suggestion. I'll put that solution together and open a PR for both samsam and formatio.

[2019-02-28 19:25] davidpaulhunt opened #1986 "`lastArg` is set to undefined when last argument is `false`"
**Describe the bug**
When using fakes, `lastArg` is set to `undefined` whenever the last argument passed is `false`.

The primary issue is in `fake.js#wrapFunc` where the assignment is using `&&` -
[code]
`lastArg` will always be `undefined` when the last passed argument is `false` not just _falsy_.

**To Reproduce**
Make an expectation of the last argument
_example uses `chai`_
[code]

**Expected

[2019-02-28 19:42] mroderick commented on #1986
Thank you for the detailed bug report 🏆

That is indeed a silly bug.

Would you like to contribute a PR to fix it?

That would involve adding a failing test to https://github.com/sinonjs/sinon/blob/master/test/issues/issues-test.js and a test to https://github.com/sinonjs/sinon/blob/master/test/fake-test.js, and of course fixing the actual problem.

You might want to cast a glance at [`CONTRIBUTIN

[2019-02-28 19:49] mroderick commented on #1974
That's some very detailed analysis, thank you ❤️

I like the proposed solution that doesn't break existing assertions 👍

[2019-02-28 20:00] mroderick commented on #250
I can see how this would be useful. If anyone wants to dig deeper into this, that would be cool.

It might be that there are features or tests that depend on the name of the returned function. If that's the case, we should discuss how to get around it.

[2019-02-28 20:02] mroderick commented on #1964
That's a nice test ✨

Would you like to contribute a PR to fix it?

[2019-02-28 20:08] ljharb commented on #250
@mroderick when creating a spy with an original, `Object.defineProperty(spy, 'name', { configurable: true, value: spy.wrappedMethod.name })` should do it?

[2019-02-28 20:56] mgabeler-lee-6rs commented on #1964
I had started looking into that at first, but didn't understand sinon's internals well enough to do so.  If I have time to figure that out, I'd happily do so, but TBH I don't see that happening in the next couple weeks, so if someone else wants to go for it in the meantime, that's fine with me.  If not, I'll try to revisit this when I have time :)

[2019-02-28 22:40] mantoni commented on #250
I think this used to be a feature we had – naming the spy by giving the function a name – guess it got lost on the way. I’m fine with the proposal to allow naming it explicitly. But shouldn’t we also change the „proxy“ name? I feel like a spied function should look as close as possible like the original one. We ensure the correct arity, but we change the name now. Seems wrong.

[2019-03-01 05:12] BrandonE commented on #1974
@mantoni @mroderick [samsam](https://github.com/sinonjs/samsam/pull/64) and [formatio](https://github.com/sinonjs/formatio) pull requests for your consideration. Although I implemented the proposed solution and all existing unit tests pass, I still have concerns about the backwards compatibility of the samsam change, which I detail in the solution section.

[2019-03-01 08:18] fatso83 commented on #1965
We are trying to keep the GitHub issues list tidy and focused on bugs and feature discussions. This ticket looks like a usage question; please post it to [StackOverflow](https://stackoverflow.com/questions/tagged/sinon) and tag it with [`sinon`](https://stackoverflow.com/questions/tagged/sinon), so the bigger community can help answer your questions.

[2019-03-01 17:10] mantoni commented on #250
I just realized that we also have `spy.named(name)` in the API 😆 It sets a `displayName` property on the spy. It should also change the functions name, I think. Having a look at this now.

[2019-03-01 17:51] davidpaulhunt commented on #1986
@mroderick agreed, it is a silly bug, but one that is immediately obvious.

I've read through CONTRIBUTING.md and I'd be happy to work on a PR to fix it.

I'll take a crack at it, cheers.

[2019-03-01 23:00] #1986 closed

[2019-03-04 08:35] fatso83 commented on #1971
I'll handle this issue.

[2019-03-04 09:24] #1606 closed

[2019-03-04 10:05] #250 closed

[2019-03-04 10:21] mantoni commented on #250
The patch from #1987 was released in `v7.2.7`. Please let us known if this is satisfactory for everyone ❤️

[2019-03-07 19:20] BrandonE commented on #1974
Resolved by https://github.com/sinonjs/samsam/pull/64

[2019-03-07 19:20] #1974 closed

[2019-03-08 10:55] cichy380 commented on #1852
I am using **sinon 7.2.7** and when I try to use `sinon.useFakeTimers()` I got:
[code]

[2019-03-08 15:57] axelhunn commented on #1852
The same.
Could be Babel 7? https://github.com/babel/babel/issues/8363

[2019-03-09 13:33] fatso83 commented on #1852
@cichy380 and @axelhunn, please post an issue report. This issue is fixed.

[2019-03-10 11:53] adomas000 opened #1992 "wrapping winston.js with stub doesn't work"
#### Describe the bug

Stubbing winston or winston.createLogger method doesn't work( original function still gets called, because directories and files are created after a call)

#### How To Reproduce

[code]

#### Expected behavior
Should not call winston.createLogger original methods or sub-methods

**Context (please complete the following information):**

* Library version: ^7.2.7
* Environment

[2019-03-11 10:08] mroderick commented on #1992
That's interesting. Are you using ESM or CommonJS?

[2019-03-11 15:28] adomas000 commented on #1992
CommonJs

[2019-03-11 17:57] juan-carlos-correa opened #1993 "Sandbox stub variable withArgs don't match object key values"
**Describe the bug**
I want to test a property object as function passing a object param with diferent values, but the same key.

**To Reproduce**
This is the code, it is with ava as test runner.

[code]

Then:

[code]

Here is how i implement UserRegisterService:

`
const directories = await UserRegisterService.getDirectories({ apikey, phoneNumber })
`

And here is how getDirectories is defined:

[2019-03-11 18:14] juan-carlos-correa commented on #1993
If i remove the param as separated values, example:

`
UserRegisterServiceStub.getDirectories.withArgs(apiKey, phoneNumberMx).returns(Promise.resolve([{}]))
`

`
t.true(UserRegisterServiceStub.getDirectories.calledWith(apiKey, phoneNumberMx), 'UserRegisterServiceStub.getDirectories should be called with apiKey and phoneNumberMx')
`

it works :o

[2019-03-13 22:26] ankanlim opened #1996 "sinon.restore() causes sinon.reset() not reset the history"
**Describe the bug**
Call to sinon.restore() seems to be breaking the sinon.reset() behaviour. The stubs history is not being cleared once sinon.restore is called

**To Reproduce**
Steps to reproduce the behavior:

Call sinon.restore() after or before sinon.reset()
stub history is not cleared
if call to sinon.restore() is removed history is cleared correctly

[2019-03-13 23:19] fatso83 commented on #1996
Hi, @ankanlim. Thanks for reporting this issue.

I tried reproducing your issue, in order to understand it better. Once I managed to [reproduce it](https://runkit.com/fatso83/sinon-1996---repro), I could see why it happened, but more importantly, that this is the expected behaviour.

Click the link to run the example. The most important lines are these:
[code]

Check out the tests I wrote and see

[2019-03-13 23:19] #1996 closed

[2019-03-13 23:24] fatso83 commented on #1996
This is me playing in the REPL (`node`):

[code]

Maybe this makes some sense to you, as well.

[2019-03-19 04:09] theKashey commented on #1358
It's a bad idea to use `sinon` to `spy` or `stub` into a dependency, while all you need is to `mock` it.
`Proxyquire`, `jest.mock` or `rewiremock` would be the only right solutions for module-level dependency mocking.

[2019-03-19 08:09] mroderick commented on #1358
We even have a guide on [How to use Link Seams with CommonJS](https://sinonjs.org/how-to/link-seams-commonjs/).

[2019-03-19 11:47] asepdf opened #1998 "How to unit test SPFx promises with chained property and methods"
How can i do unit test on sample TypeScript function below:

[code]

[2019-03-19 12:33] fatso83 commented on #1998
We are trying to keep the GitHub issues list tidy and focused on bugs and feature discussions. This ticket looks like a usage question; please post it to [StackOverflow](https://stackoverflow.com/questions/tagged/sinon) and tag it with [`sinon`](https://stackoverflow.com/questions/tagged/sinon), so the bigger community can help answer your questions.

If you feel that your topic is an issue with S

[2019-03-19 12:33] #1998 closed

[2019-03-20 22:28] d2lam commented on #725
`rewire` works wonderfully! Thanks!

[2019-03-22 03:50] juan-carlos-correa commented on #1993
Hello?

[2019-03-22 14:32] fatso83 commented on #1993
Hi, Juan.
Sorry for leaving you hanging, but there are two issues which could answer why this was left unanswered:
1. I am not totally sure what is wrong in your issue, because it's a bit unclear. You talk about not expecting any errors, which implies there _are errors from Sinon_, but I don't see any errors anywhere in your issue.
2. The stuff I seem to understand seems like this is about a usage

[2019-03-22 14:32] #1993 closed

[2019-03-24 18:48] mroderick commented on #1651
This is my current favourite: https://www.11ty.io

[2019-03-26 01:00] 76784 opened #2000 "Example in Documentation for `fake` Doesn't work"
[See the last example for `fake` here](https://sinonjs.org/releases/v7.3.0/fakes/):

Here is the code to test:
`testrunner.html`:
[code]
`test-sinon.js`:
[code]
According to your documentation, the console should log `42`. But the console doesn't log anything.

Thanks.

[2019-03-27 13:19] fatso83 commented on #2000
Actually, the docs doesn't say it should log 42. It just shows an interactive session that _evaluates_ to 42, meaning the _return value_ changes to 42, not the actual logging. This is verified to be working, both in Chrome and in the Node REPL. Try running this example: https://runkit.com/fatso83/sinon-2000

[2019-03-27 13:19] #2000 closed

[2019-03-29 21:48] juan-carlos-correa commented on #1993
Yes, you are right, this should be in stackoverflow or something like that.

[2019-03-31 16:55] 76784 opened #2001 "`jQuery.ajax.restore();` doesn't work"
[On this documentaion page](https://sinonjs.org/#get-started) (see "Testing Ajax"), the following example is provided:

[code]

[code]
**When testing this using the following setup, `jQuery.ajax.restore();` returns "TypeError: jQuery.ajax.restore is not a function". Here is the setup:**
`package.json`
[code]
`testrunner.html`
[code]
`test.js`
[code]
run: `browserify test.js --outfile bundle.js`

[2019-03-31 17:36] 76784 commented on #2001
I just saw on another thread that `sinon.restore()` is deprecated. I'll edit the question to remove that.

[2019-03-31 18:45] 76784 opened #2002 "Fake XMLHttpRequest example contains `assert.equals` / `assert.match`, which error out"
See [https://sinonjs.org/#get-started](https://sinonjs.org/#get-started) (**Fake XMLHttpRequest** heading)

Example given:
[code]
What library are `assert.equals` and `assert.match` from? [Node.js](https://nodejs.org/docs/latest-v10.x/api/assert.html) uses `equal()` (singular), [as does Chaijs](https://www.chaijs.com/api/assert/#method_equal). [Chaijs does have](https://www.chaijs.com/api/assert/#

[2019-04-01 01:37] 76784 commented on #2001
So actually, I'm not sure where I saw the thread that said this, and I may be wrong, because I see `sinon.restore()` in the documentation. Whatever the case, I'll leave `sinon.restore()` to the side for the moment.

[2019-04-01 05:29] mantoni commented on #2001
To clarify: `sinon.restore()` used to have a different meaning, was deprecated and then removed. Since v5, the `sinon` object is a default sandbox instance, which comes with a `restore` function. Confusing history, I know.

[2019-04-01 05:32] mantoni commented on #2002
This example is using `@sinonjs/referee`. There could be a hint with a link in the docs. Would you like to contribute to improve the documentation?

[2019-04-01 13:57] fatso83 commented on #2001
Hi, this is a bug in the documentation. It has happened when someone updated the examples from using `sinon.stub()` to using the new fakes concept. Fakes do not have  a `restore` method, so you need to restore using the sandbox, which means instead of `ajax.restore()`, it should be `sinon.restore()`.

Would you like to do the update of the docs?

[2019-04-01 20:21] i474232898 commented on #1160
@mantoni yeah, but there is "assert(spy.calledWith(message));" at documentation [here](https://sinonjs.org/releases/latest/spies/)

[2019-04-01 20:41] mantoni commented on #1160
In this case `assert` refers to an assertion library function, not `Sinon.assert`. `spy.calledWith` returns a boolean. Most assertion libraries expose an assert function that throws if a falsy value is passed.

[2019-04-02 00:37] 76784 commented on #2001
Sure, I can update it. I just tried pushing but get a 403 error. Is there a way I can get permission? Do you need a feature branch for your pull requests?

[2019-04-02 03:29] 76784 commented on #2002
Can you show me how referre is assigned to the assert variable?

[2019-04-02 03:37] 76784 opened #2003 ""API Specification" Style Documentation"
I would love to see API Specification style documentation for Sinon, along the lines of what you see [in Java](https://docs.oracle.com/javase/10/docs/api/overview-summary.html) (the gold standard of documentation), or [jQuery](https://api.jquery.com/).

An A-Z alphabetical list of functionality, written in a non-conversational way (which is how the current documentation _is_ currently written) is

[2019-04-02 07:34] mroderick commented on #2001
You'll need to fork the repository, and make the pull request from your fork

[2019-04-02 07:45] mantoni commented on #2002
With node, browserify or webpack you would do `var assert = require('@sinonjs/referee').assert`. You can learn about the referee API on [the project documentation page](https://sinonjs.github.io/referee/).

[2019-04-02 09:37] fatso83 commented on #2001
https://help.github.com/en/articles/creating-a-pull-request

[2019-04-02 12:24] joepuzzo commented on #1762
Hey guys, So i have attempted to use the recommended plugin and I still get the error ` TypeError: Cannot redefine property:` Am I missing something? I simply called have the following in my webpack config:

[code]

[2019-04-02 12:58] Izhaki commented on #1762
This doesn't work with latest version of Webpack. Our's stuck on `"webpack": "4.8.1"` where it still works.

[2019-04-02 13:18] ilearnio commented on #1684
Had the same problem, the solution is to avoid using `function` and export `const` instead.
Like so:

[code]

The difference is that when you define `function myFunc () {}` it becomes an inner closure inside of module function (that wraps the module internally when using Node or after build using WebPack). But when you do `export const myFunc =` then you just add a property to a module object, whi

[2019-04-02 13:31] joepuzzo commented on #1762
It never ends lol. Well i guess its just time to start using jest or stop using webpack in my tests.

[2019-04-02 13:53] Izhaki commented on #1762
This issue is global - it is about adherence to the standard, and it no matter what you'll use you're going to hit the same issue. You cannot mock es modules.

[2019-04-02 19:35] fatso83 commented on #1762
That's somewhat debatable :-) Yes, indeed, if you are following the standards, this is absolutely not possible, since ES Modules per the standard does not allow for that, but you do have stuff like ESM breaking the rules :-) So, ignoring WebPack for a second, doing `mocha --register esm my-module-test.es6` would normally allow you to do so (as its `mutableNamespace` option is true by default).

No

[2019-04-03 00:05] 76784 commented on #2003
By the way, I'm not harping on the current documentation, which is valuable. I'm merely suggesting an additional, comprehensive thing.

[2019-04-03 09:02] mantoni commented on #2003
Java has automatic tools to generate JavaDocs without manual work. To achieve something like this in a JS library requires a ton of manual work. I'd love to see something like it, but I fear it would outdate pretty quickly.

We could bikeshed about code annotations and tooling a little. Maybe there are viable options.

[2019-04-03 09:04] mantoni commented on #2001
Addressed by #2004.

[2019-04-03 09:04] #2001 closed

[2019-04-03 23:04] jasbirsinghvig opened #2005 "SinonJS on ServiceNOW platform"
**Describe the bug**
Trying to load SinonJS fails with com.glide.script.RhinoEcmaError: Cannot set property "serverPrototype" of undefined to "[object Object]"

**To Reproduce**
Steps to reproduce the behavior:
1. Open <Scripts - Background> on a ServiceNOW instance (version Madrid)
2. copy paste SinonJS 7.3.1 and click "Run Script"
3. The Rhino engine complains about keywords being used as object

[2019-04-04 01:44] 76784 commented on #2003
I know it's been brought up on other threads, but I think, very simply, that the entire library should be documented with jsDoc. It is something of a defacto standard for JavaScript (or, at least, the strongest argument there is for one). We could just publish the api starting with mimimal documentation coverage, and put a big "in progress" sign on the wall, and build from there.

[2019-04-04 06:54] fatso83 commented on #2005
We support evergreen browsers, IE11 and the two last Node versions. Rhino is not on the table. Feel free to push a PR to remedy the situation, but we won't officially support it.

[2019-04-04 06:54] #2005 closed

[2019-04-04 06:55] fatso83 commented on #2005
@mroderick I could find nowhere we actually list this or a mention of our strategy. Omission?

[2019-04-04 11:13] i474232898 commented on #1160
Thanks for explanation @mantoni

[2019-04-04 16:18] Izhaki commented on #1762
I've replied in the original issue.

[2019-04-04 20:18] dpmott opened #2006 "Add Sinon.assert.calledOnceWithExactly"
**Is your feature request related to a problem? Please describe.**
Closely related to https://github.com/sinonjs/sinon/issues/1247, but in this case I'd like to be able to type `Sinon.assert.calledOnceWithExactly(stub, arg1, ... argN)`

**Describe the solution you'd like**
I believe that there just needs to be an entry in `assert.js` to facilitate this.  I'm not entirely sure what the failure mess

[2019-04-15 19:37] elliottregan commented on #562
@harryi3t That didn't work for me, using ES Modules.
Error: `can't redefine non-configurable property "default"`

[2019-04-16 13:18] fatso83 commented on #562
@elliottregan ES Modules are not stubbable per the STANDARD. We even have tests covering this behaviour. You can still do it, though, as [I discuss here](https://github.com/webpack/webpack/issues/6979#issuecomment-479161284).

A lot of people are not actually testing ES Modules, but transpiled ES Modules (using Webpack/Babel, etc). The resulting ES5 uses getters to emulate how ES Modules work. You

[2019-04-17 16:05] fatso83 commented on #1985
With lolex 4 out and included in the latest Sinon, this warning should not show itself, unless explicitly triggered by using queueMicrotask()

[2019-04-22 09:57] crycime opened #2008 "Why does the decoration @autobind method fail?"
![1555926798(1)](https://user-images.githubusercontent.com/36436659/56495321-00eadd00-6528-11e9-99a2-599d00fbbc3c.png)
![1555926859(1)](https://user-images.githubusercontent.com/36436659/56495331-0811eb00-6528-11e9-8f9b-ad233c9d6e4c.png)

[2019-04-22 13:23] fatso83 commented on #2008
This issue is lacking a reproducible test case. We cannot check the validity of the issue, nor does it use a standardized syntax that I know of. Decorators are AFAIK something just usable using Babel transforms for suggested syntax. Furthermore, this smells more of a usage question than anything else.

And we do have a bug template for a reason. Closing

[2019-04-22 13:23] #2008 closed

[2019-04-23 03:10] aladdin-add opened #2009 "broken link in docs"
![image](https://user-images.githubusercontent.com/13050025/56550403-20c9e180-65b8-11e9-80a1-a47dabab3bc7.png)

[2019-04-23 06:44] fatso83 commented on #2009
This bug is not reproducible in its current form. Apart from your outline in the screenshot and the title, I have nothing to go by in this bug report. We do have a template for a reason, please use it :smiley: We need this:

**What did you expect to happen?
What actually happens
How to reproduce**

When I go to sinonjs.org and press the Documentation link it takes me to https://sinonjs.org/release

[2019-04-23 08:12] aladdin-add commented on #2009
your link works for me. but it takes me to http://sinonjs.org/releases/v7.3.2/, and it shows:
![image](https://user-images.githubusercontent.com/13050025/56564934-ba59b900-65e1-11e9-8b38-1dd17c05a4eb.png)

seems the web does not support http?

[2019-04-23 21:22] fatso83 commented on #2009
The non-SSL version works for me as well. We have automated http:// -> https:// redirect, so anything else would be surprising.

Without anything else to go by I would simply point fingers at The Great Firewall of China, as the preliminary finding is that this only applies to China. Maybe it affects other GitHub based pages as well?

[2019-04-25 10:45] lucasfcosta commented on #1657
Hello @mroderick,

As I want to step back-in now that I've got time to contribute again, here's my 2 cents on this matter.

We've been using `semantic-release` in `chai` for quite a while, which has been very helpful especially considering the number of different packages that we maintain which form the main library.

That might not be the case here, but manual releases are still error-prone and t

[2019-04-26 04:59] 0xdevalias commented on #1741
Just wanted to throw in my /2c+1 on the 'unexpected effect of getters not being spies', would love to see this feature included, though @jshado1 's [workaround](https://github.com/sinonjs/sinon/issues/1741#issuecomment-385263021) is also how I was thinking of solving it in the interim.

[2019-04-26 06:31] 0xdevalias opened #2011 "Make working with raw objects easier"
**Is your feature request related to a problem? Please describe.**
It may just be my lack of knowledge/poor documentation, but currently it seems really hard to work with stubbing raw objects (not just keys on objects)

**Describe the solution you'd like**
I'd like to be able to do something like:
[code]

The difference in the API usage between `myStub.returns()`, `myStub.value()`, `myStub.get`, e

[2019-04-26 11:54] fatso83 commented on #1741
@0xdevalias Not trying to sell you short, but we are trying to keep the GitHub issues list tidy and focused on bugs and feature discussions, and your looks like a better fit for[StackOverflow](https://stackoverflow.com/questions/tagged/sinon), as there are people literally waiting for someone to tag it with [`sinon`](https://stackoverflow.com/questions/tagged/sinon), so that they can earn points.

[2019-04-26 12:09] 0xdevalias commented on #1741
If that’s not a feature request.. I don’t know what is..

[2019-04-29 20:02] c1moore commented on #1200
If ambiguity is the issue, what about something like

[code]

[code]

[2019-04-30 16:31] mgabeler-lee-6rs commented on #1964
Had some time to dig into this finally today, filed #2012 with a proposed fix

[2019-05-02 07:48] fatso83 commented on #1964
Very nice work <3

[2019-05-03 16:51] nikoremi97 commented on #1623
@sebakerckhof checkout this  https://github.com/sinonjs/sinon/issues/562#issuecomment-399090111

[2019-05-03 17:48] StuAtGit commented on #1538
Yet another person running into this.

Very true!! Javascript has a lot of quirks, and that would be hard task.

But irrelevant to this issue - it's about a quirk in *sinon* not javascript. Destructuring is not a "quirk" it's an established language feature in common use. (Still not sure whether I personally like it, but I have to live it!). The fact that sinon stubs of a method fail when one impo

[2019-05-04 04:41] thackerronak commented on #1956
@krychuq1 any update how resolved that?

[2019-05-05 16:35] aaronmiller opened #2013 "Broken Assertions Docs Link"
Hello,

I hope all is well. I was looking through the sinon docs and ran into a broken link while sifting through the sandbox portion of the site. The link for `sandbox.assert` is broken.

* Sinon version : v7.3.2
* Environment   : Happens on sinonjs.org
* Example URL   : https://sinonjs.org/releases/v7.3.2/sandbox/assertions
* Other libraries you are using:

**What did you expect to happen?**

**

[2019-05-07 07:57] fatso83 commented on #2013
Thank you. I verified this by going to https://sinonjs.org/releases/v7.3.2/sandbox/ and finding the sandbox.assert link.

Want to take a stab at fixing it? https://github.com/sinonjs/sinon/blob/master/docs/CONTRIBUTING.md

[2019-05-07 12:48] vinitshahdeo opened #2014 "Copyright Year in Footer (2010-2018)"
The copyright year in footer is `2010-2018`. But now it should be `2010-2019`.

<img width="444" alt="Screenshot 2019-05-07 at 6 15 00 PM" src="https://user-images.githubusercontent.com/20594326/57300423-688e5400-70f4-11e9-8053-60cbd9ad1508.png">

[2019-05-08 17:25] mcow opened #2016 "`sinon.resetHistory()` does not reset history"
Per the [docs](https://sinonjs.org/releases/v7.3.2/stubs/):

**To Reproduce**

[code]

[RunKit demo](https://runkit.com/fatso83/5cd3e47cdb83d1001a88c4c6)

**Actual results**

Second test fails:
""called on module: should clear \"called\" status on all stubs: ❌. [assert.isFalse] Expected true to be false""

**Expected results**

All tests pass

[2019-05-09 08:33] fatso83 commented on #2016
I updated the issue with the content of the zip file and also added it as a runnable [RunKit demo](https://runkit.com/fatso83/5cd3e47cdb83d1001a88c4c6), asserting that it works.

[2019-05-09 13:42] rpgeeganage commented on #2016
I would like to help on bug fixing

[2019-05-09 15:35] fatso83 commented on #2016
@rpgeeganage Please do! Here is our [getting starting guide](https://github.com/sinonjs/sinon/blob/master/CONTRIBUTING.md#contributing-to-the-code-base)

[2019-05-09 18:17] mcow commented on #2016
I realize this comment is more of a feature request, but it would be nice if the "stub instance" object had its own `resetHistory()` (and `resetBehavior()` and `reset()`) methods, without needing to hit the entire sandbox.

[2019-05-09 19:30] fatso83 commented on #2016
@mcow Stubs have [had those features since version 2 of Sinon](https://sinonjs.org/releases/v7.3.2/stubs/#stubreset). The sandbox additions are much more recent.

[2019-05-09 19:48] rpgeeganage commented on #2016
@fatso83 ,
Thanks a lot. I'll work on this.

[2019-05-09 21:03] troynguyen8 commented on #200
Is there any way to correctly check deep equality of dates in a call to `spy.calledWithExactly`?

[2019-05-09 23:19] mcow commented on #2016
@fatso83 Stub *methods* have that feature. *"Stub instance" objects*, the result of a `createStubInstance()` call (which lousy terminology is sinon's, don't blame me for the miscommunication) do not.

[2019-05-10 00:39] a11smiles opened #2017 "SyntaxError: Unexpected token '>'"
Running Karma + WebPack + Jasmine.

## karma.conf.js
[code]

## base.spec.ts
[code]

My TypeScript code compiles just fine.  However, when I reference sinon in my spec file using `import * as sinon from 'sinon';` I get the following error:

[code]

That line contains the first lambda function in that file.

It appears that Karma + WebPack isn't transpiling the code to ES5 and Phantom is not liking

[2019-05-10 01:26] a11smiles commented on #2017
got it working... for anyone else see the gist:

https://gist.github.com/a11smiles/2f3371b1f16696cad1685c284b281c82

[2019-05-10 01:26] #2017 closed

[2019-05-10 09:38] mantoni commented on #200
It should just work™️. If you have an issue with dates and `calledWithExactly`, please open a new issue with a description stating what you expect to happen and what actually happens. If you have a usage question, it's probably best to post your question on StackOverflow using the Sinon tag. Thanks.

[2019-05-10 13:12] TomVance opened #2018 "withArgs returns in an unexpected way with matchers"
**Describe the bug**
There appears to be an ordering / explicitly issue with withArgs when using sinon matchers.

When stubbing a function that takes a string argument, and choosing a return value based on it's arguments:

[code]
The issue here is that both stubs resolve with 'b'.

**To Reproduce**
[code]

outputs:
[code]

**Expected behavior**
I would expect the calls to return 'halp1' and 'halp

[2019-05-10 14:53] WaleedAshraf opened #2019 "calledWith not working as expected"
Sinon version: 7.3.2

spy.calledWith() not working as expected

[code]

screenshot:
![Screenshot 2019-05-10 at 4 51 31 PM](https://user-images.githubusercontent.com/8335457/57536156-e5633d00-7343-11e9-927c-471d9fdb47ea.png)

[2019-05-11 04:33] brewster1134 opened #2020 "stubbing require & returned mod (possible solution included)"
so i am writing a webserver framework, that compiled various webpack configurations based on cli/config options, and was having an issue trying to test methods that call the webpack method. i was playing with the concept of a `stubRequire`, that seems to be working, but am not very confident in it. i was hoping for a sanity check on the approach, and to maybe iron it out a bit more to become a fea

[2019-05-12 17:35] rpgeeganage commented on #2016
@fatso83,
I have looked into the implementation of `sinon.resetHistory` and `sinon.createStubInstance`.
What I notice is, `sinon.createStubInstance` does not use the implementation from `sandbox` but `sinon.resetHistory` uses the implementation from  `sandbox`. In `sinon.resetHistory` the `collection` is always empty. I'll dig deep.

[2019-05-13 13:47] fatso83 commented on #2019
Could you please use our issue template? I have no idea what the expected outcome vs actual outcome here is.

[2019-05-13 13:47] #2019 closed

[2019-05-14 08:41] fatso83 commented on #1992
verified

[2019-05-14 08:57] fatso83 commented on #2016
@mcow Aha, that explains things. I didn't notice the _instance_ bit :) Hopefully @rpgeeganage deep dive comes up with something fruitful.

[2019-05-19 20:54] brandonau24 commented on #2013
@fatso83 I can take a look at this, if that's okay with you.

[2019-05-20 08:37] #2013 closed

[2019-05-20 13:22] FRTNX opened #2024 "Syntax error in documentation (stub)"
Greetings. This is more of a documentation typo than an issue. My reporting it is mostly for the sake of those new to Javascript who may get stuck on it.

In the stubs documentation under `stub.throws()` there's a syntax error in `stub.throws("name"[, "optional message"]);`. Which should be `stub.throws("name", ["optional message"]);`.

[2019-05-21 10:57] fatso83 commented on #2024
I guess this is where using inline javascript mixed with conventions on documenting optional parameters goes wrong. Using `[, arg1[, arg2]]` is a standard way of documenting optional parameters.  In any case, doing `, ["optional message"]` would not be the right solution. If this should be runnable at all, the brackets could be dropped, although I am not sure what the "right" solution would be her

[2019-05-22 04:30] jrnail23 commented on #1572
@rgroothuijsen, It seems like `stub.withArgs()` is just generally broken -- the following is a failing test in v7.3.2, running on node v10.15.3 (LTS):

[code]

 I expect `service.find` to return `"HELLO"` when called with `"A"`, and to return `undefined` when called with `"B"`.  However, when called with `"B"`, it returns `"HELLO"`.

[2019-05-22 05:00] jrnail23 opened #2025 "stub.withArgs does not limit return value as expected"
**Describe the bug**
When I use `withArgs` on a stub, it always returns the `returns` value, even if the args don't match those specified in `withArgs`.

**To Reproduce**
Here is a [failing test](https://runkit.com/jrnail23/sinon-withargs-bug).
[code]

**Expected behavior**
According to the documentation, the `result` above should be `undefined`, but it is actually `"HELLO"`

**Context (please com

[2019-05-22 11:01] fatso83 commented on #2025
Cloned the repo and changed two lines:
[code]

You need to save assign the stub before instrumenting it ... This might be a doc issue, though, as it's been a problem since Sinon 1.x.

[2019-05-22 11:03] fatso83 commented on #2025
Hmm ... Actually, [the examples are correct](https://sinonjs.org/releases/latest/stubs/#stubwithargsarg1-arg2-), so unless you have a suggestion for improving it (PR welcome!), I'm closing this.

[2019-05-22 11:03] #2025 closed

[2019-05-22 11:08] fatso83 commented on #1572
@jrnail23 I've answered you in #2025. It's not broken and it's covered by tests. Please see the docs for correct usage of this method. The example (unfortunately) showcases the problems of chained interfaces.

See these related issues for background:
https://github.com/sinonjs/sinon/issues/1748#issuecomment-376861414, https://github.com/sinonjs/sinon/issues/1909#issuecomment-424321291, #1551

[2019-05-22 11:11] rluba commented on #1572
@fatso83 Why have you closed this issue? @jrnail23’s comment was incorrect, but the original issue still remains.

[2019-05-22 15:08] jrnail23 commented on #2025
@fatso83, It does indeed work the way you showed it, and I agree the docs might be be improved to better reflect the intended behavior.
I assumed that the behavior would be the same whether first assigning the stub or not (though I'm still not quite clear why that's not the case).
IMO, it would be a bit more friendly, ergonomically speaking, if they did work the same.
In any case, thanks for the q

[2019-05-22 15:20] benawhite opened #2026 "spy should support the same signature as stub for objects"
* Sinon version : v7.3.2
* Environment   : node
* Example URL   : n/a
* Other libraries you are using: n/a

**What did you expect to happen?**
I would expect that I could **spy** on all methods of an object without explicitly calling out each method by name... the same a **stub**

**What actually happens**
TypeError: Attempted to wrap undefined property undefined as function

**How to reproduce**

[2019-05-22 16:40] benawhite commented on #2026
I added a pull request to address this https://github.com/sinonjs/sinon/pull/2027

[2019-05-24 00:17] #1964 closed

[2019-05-24 00:20] fatso83 commented on #2025
No issues with that. It's just hard to implement, as far as I can remember ... feel free to take a stab at it, though, but I'd advice you to take a good look at the historic issues for context. I think there are good reasons this hasn't been changed in the last decade.

[2019-05-24 00:22] fatso83 commented on #1572
@rluba 💯 Thank you for noticing that! I tagged and closed the wrong issue. That's what you get with too many issues open ...

[2019-05-24 12:31] Amit-Modi opened #2029 "Separate stubs for class and its instance"
**Is your feature request related to a problem? Please describe.**
I want to be able to create separate stubs for a class and one of its instance.
Currently, when i try this i get `TypeError: Attempted to wrap get which is already wrapped` when i try to do this.

_**my-code**_
[code]
**_output I want_**
[code]
**_output I get**
[code]

**Describe the solution you'd like**
- Allow creating new stub

[2019-05-26 03:42] brandonau24 commented on #2006
@dpmott This is possible with a [spy](https://sinonjs.org/releases/latest/spies/) assuming you're on the latest version. The beginning of the page says, spies can record arguments which is what you seem to be looking for. [Stubs](https://sinonjs.org/releases/latest/stubs/) are only for pre-programming behavior like forcing a function to return a specific value. Hope this helps!

[2019-05-26 04:24] brandonau24 opened #2030 "Improve CONTRIBUTING.md to include forking the project"
In the CONTRIBUTING.md file, I think it would be good to include a step to fork the project under the "Contributing to code base" section or to link [GitHub's Forking Project Guide](https://guides.github.com/activities/forking/) to explain forking. Although new users should have read GitHub's guides before beginning a project, I think reminding the contributor to fork the project instead of clonin

[2019-05-27 09:10] fatso83 commented on #2030
That's a good idea. Want to submit a PR?

[2019-05-27 09:22] bingtimren opened #2031 "Confusing "fake.yields" in document"
**Describe the bug**
In "fakes" document at https://sinonjs.org/releases/v7.3.2/fakes/, there's a section about 'yields':

![image](https://user-images.githubusercontent.com/2824513/58409400-4e241680-80b3-11e9-9bf8-9aa12cca1bf9.png)

I find this very confusing. The signature says 'callback' should be the first argument, and a required one, followed by optional values. However, in the example, only

[2019-05-27 09:30] fatso83 commented on #1971
Both of these methods were added to the spy API last year in #1686. They have not been exposed on the separate assertion api, though.

[2019-05-27 09:30] #1971 closed

[2019-05-27 09:39] fatso83 commented on #1971
Unfortunately, their current behaviour is not at all what you wanted:

They will return `true` if the method was called once in total. And when that call was made using those args. I clarified this in 49c34be0e8bcdf526ffc8c5775106db0583313ce.

FYI, what you want is almost there already: The `calledWith*` methods. They will return `true` if _one or more_ of all the calls made were made using those

[2019-05-27 09:46] fatso83 commented on #2006
@brandonau24 I believe you are talking about something else. @dpmott is addressing the feature disparity between the assertions available on the spies and the standalone assertions that can be invoked on spies. Furthermore, everything a spy can do, a stub can do as well: a stub simply extends the spy api. So all the spy assertions are already available on a stub, so you can always use a stub in pl

[2019-05-27 10:11] fatso83 commented on #2031
You are right: it's super confusing and I don't understand it as it is, either. It also seems wrong, the callback is presented as the first argument, while the text says it's the last.

When I get lost, I usually just grep the tests for the term (here: yields) ...
https://github.com/sinonjs/sinon/blob/master/test/stub-test.js#L1511

This is me testing this out:
[code]

From this little test run it

[2019-05-27 22:39] brandonau24 commented on #2030
@fatso83 Sure thing!

[2019-05-28 12:32] slim-hmidi opened #2033 "Stub does not mock the original function when runinng the test"
**Describe the bug**
I want to mock a function using `stub`, but when I run the test, the app execute the original function and not the stub.

**Expected behavior**
The original function will be mocked when running the test.

app.js:

[code]
config.json:

[code]
utils/index.js:
[code]
test/index.js:
[code]

error:
[code]

* Library version: 7.3.2
* Environment: Ubuntu 18.04.2LTS
* Example URL:
* O

[2019-05-29 00:32] bingtimren commented on #2031
Then I don't understand the reason behind 'yields'. Why don't just invoke callback(arg1, arg2...) but first instantiate a fake, and call fake(callback) instead of callback(arg1, arg2...)? What's the use case?

[2019-05-29 06:38] mantoni commented on #2031
It's useful with callback invoking APIs, like all the node APIs. Here is an example:

[code]

[2019-05-30 12:55] bingtimren commented on #2031
Thanks, now I understand the usage and will make a pull request to fix the document. I will also have a look at yieldsSync.

[2019-05-30 14:29] pauloavelar commented on #1963
This is not a definitive solution, but I managed to fix this problem with the following function:

[code]

Obviously, this does **not** implement any private methods, and as such you cannot (and should not by design) call them. By using this wrapper function, you get code completion to all public functions/members in your class as well as sinon's stub helper functions, and StubbedClass<T> is a val

[2019-05-30 15:15] #2031 closed

[2019-05-31 09:08] aphofstede opened #2035 "useFakeTimers shows "TypeError: Cannot set property performance of #<Window> which has only a getter" since 6.0.0"
**Describe the bug**
Using `const clock = sinon.useFakeTimers()` throws an error since v6.0.0 when using mocha, webpack and jsdom:
[code]

**To Reproduce**
The test:
[code]

**Expected behavior**
The clock is mocked.

**Context (please complete the following information):**

* Library version: All versions >= 6.0.0
* Environment: mocha-webpack, jsdom

**Additional context**
**Workaround**: Since v

[2019-05-31 09:20] fatso83 commented on #2033
This isn't a bug in Sinon. It's basically a usage question and has to do with how Sinon works. I have explained how this works (more than once) on StackOverflow, so you could for instance [check this answer out](https://github.com/sinonjs/sinon/issues/2033) :-)

[2019-05-31 09:20] #2033 closed

[2019-05-31 09:25] fatso83 commented on #2035
Thank you. This needs to be solved by `lolex`, as it's basically sinonjs/lolex#243

[2019-05-31 09:25] #2035 closed

[2019-05-31 09:36] slim-hmidi commented on #2033
@fatso83 thanks for your answer. But the sinon documentation is so poor and everytime I faced a problem I passed many hours to check and look for an answer in different places to resolve my issue. I think it's the time to update the documentation and write as much examples as possible to manipulate the library easily.

[2019-05-31 10:05] fatso83 commented on #2003
@mantoni There are lots of tools for auto-generating JSDocs. I don't see a v1 of this to be an issue. You don't need to create `@typedef`s everywhere. Just having

[code]
would help quite a bit.

[2019-05-31 10:08] fatso83 commented on #2033
Don't know how I missed pasting the wrong link. Fixed it now, if you want to read it.

This is basically about about not understanding how Javascript works, not Sinon, so it doesn't belong in the API docs. _But_, although it has zero to do with Sinon _technically_, I totally agree that we could use more examples in the documentation! Both this and [lots of other use cases](https://github.com/sinon

[2019-06-01 21:57] brandonau24 commented on #2016
@fatso83, should this issue be closed since the changes for it are merged into master?

[2019-06-03 15:09] gremo opened #2037 "General test setup: spy show different behavior based on how many test I run"
**Describe the bug**
Test spy should be independent from each other test. It seems it's not. I'm following [the official guide](https://sinonjs.org/releases/v7.3.2/general-setup/).

**To Reproduce**

[code]
**Expected behavior**
Test should **be independent from each other**. In my example, both test pass if I run one and comment out the other, that is:

- if I skip the first one (`xit` vs `it`) *

[2019-06-03 21:06] rpgeeganage opened #2038 "async method from that stub when used as method.resolves(obj) cause update the obj passed as parameter"
**Describe the bug**
I'm not sure this is a bug or I'm missing something.

**To Reproduce**
See the code snippet.
[code]

**Expected behavior**
below test case should pass, but It fails.
[code]
**Screenshots**
If applicable, add screenshots to help explain your problem.

**Context (please complete the following information):**
The only workaround I found is as follows.
[code]
* Library version: si

[2019-06-03 21:06] mantoni commented on #2037
I believe that `dotenv.config` is called when you first call `require('../../src/loaders/simple-loader')`. When you have both tests enabled, it's called on the first `beforeEach` call, but since `require` calls are cached, it will not evaluate again on the second call. This is how node require works and has nothing to do with Sinon.

There is a good explanation [on stackoverflow](https://stackover

[2019-06-03 21:06] #2037 closed

[2019-06-03 21:55] fatso83 commented on #2016
TG for astute observers 😄

[2019-06-03 21:55] #2016 closed

[2019-06-03 22:31] fatso83 commented on #2038
I'm actually totally unsure what the problem is: the title is confusing and without a better description I am not totally sure how to read the code bits. I do understand what happens in the workaround ... that's about it.

It does have the smell of a usage question, though, so maybe our usual tip might be relevant?

---

We are trying to keep the GitHub issues list tidy and focused on bugs and fea

[2019-06-03 23:49] gremo commented on #2037
Thanks for the answer, however the call on dotenv is inside the load method of my test subject!

[2019-06-04 07:46] lucasfcosta commented on #2003
Hi @76784, that's great input! 😊

I have, however, a few considerations to make.

I quite like JSDoc. That's also what we use on `Chai.js` and it's worked pretty well so far due to being able to separate things into namespaces and always keep code in sync with docs since they're right next to each other.

However, I'd disagree that Java's documentation is the "gold standard". I find Java docs to b

[2019-06-04 12:45] fatso83 commented on #2037
This smells very much of a typical "dig into the code deeply to understand why some module loader thing is interfering with how stuff is supposed to work" and not so much an issue with Sinon in itself. We are quite time constrained, so I'd post it to [StackOverflow](https://stackoverflow.com/questions/tagged/sinon) and tag it with [`sinon`](https://stackoverflow.com/questions/tagged/sinon), so the

[2019-06-04 12:48] fatso83 commented on #2003
If @76784 would start a branch and flesh out some concepts, I think some people attracted to the idea could quickly latch onto it and help out. The API surface isn't _that_ big.

[2019-06-05 05:58] Simmyoungsub opened #2040 "Add a "PubSub" description to document"
For example, "spies" does not describe "PubSub" in document.
Please add a description

[2019-06-05 06:00] mroderick commented on #2040
Why?

[2019-06-05 07:38] fatso83 commented on #2040
Hmm ... Quite a bare issue report, but _I assume_ this is related [to the docs](https://sinonjs.org/releases/latest/spies/) for spies, where there is an example using a `PubSub` object.

@Simmyoungsub Please fill out the issue template the next time, so we don't have to guess.

@mroderick I can understand why he asks (assuming I'm right about the topic), as fresh programmrers don't necessarily kno

[2019-06-05 17:27] tatarin0 commented on #1572
So the issue exists in 4.2.2, the workaround if anyone needs is to use `.callsArgOn(index, context)` and chain for multiple:
[code]

[2019-06-05 21:28] anion155 opened #2041 "Support methods defined with getters"
**Describe the bug**
Methods defined with descriptor through `get` method returning method can not be stubbed.

**To Reproduce**
Some method-decorators using this approach to define method. Like autobind (#2008, [autobind-decorator#47](https://github.com/andreypopp/autobind-decorator/issues/47)) (not really using it, but this was the only similar issues). Version of bind decorator I made and used

[2019-06-05 23:49] fatso83 commented on #2041
I don't see you trying to demonstrate that this doesn't work. There is nothing special with functions as values, so doing it as in [the docs](https://sinonjs.org/releases/v7.3.2/stubs/#stubgetgetterfn) should work fine.

Here's a demo that demonstrates it working fine: https://runkit.com/fatso83/sinon-issue-2041-stubbing-method-getters

[2019-06-06 03:18] anion155 commented on #2041
Why should any one in this case want stub to getter function? Have to always pass some function to `.get` with stub, does not seems right for me. I can't do something like this at least: `sinon.stub(o, 'bar').get()` or `sinon.stub(o, 'bar').get().returns('stubbed bar')`.

[2019-06-06 03:32] anion155 commented on #2041
And using `stub.get` it self in this seems really strange. Why should anyone care to know how things like `autobind-decorator` works on the inside to test they are own code?

[2019-06-06 04:03] anion155 commented on #2041
Even if `sinon.stub(o, 'bar').get()` would work sometime later. This is not approach for methods, but for properties. I think the better approach here will be to define stub's methods to define if original is method or property, like `sinon.stub(o, 'bar').method()`. Or even better will be to move out property stubing to separate handler like `sinon.propStub`.

[2019-06-06 04:31] anion155 commented on #2041
The only workaround I found so far is:
[code]

[2019-06-06 07:44] fatso83 commented on #2041
@anon155 the main problem was that I didn't understand what you meant was wrong, since the description utilized some highly creative English syntax 😉 I have re-read both the description and the expected outcome, and I'm still not sure.

But by reading the last comment it seems that you somehow want access to the method driving the getter (synthetic property)? I don't know why you would want that,

[2019-06-06 08:43] anion155 commented on #2041
Yeah, sorry. I'm pretty bad at English ))

[2019-06-06 09:10] rpgeeganage commented on #2038
closing this since I need to reword the question properly.

[2019-06-06 09:10] #2038 closed

[2019-06-06 10:14] mroderick commented on #2040
Perhaps we can improve the documentation by using other examples?

[2019-06-06 10:39] anion155 commented on #2041
The main problem is with decorated methods, especially with `@bind` decorator. For the user of the decorator, they seems to be normal methods. But internally in most cases they are done with getter (because decorator used on prototype object and not class instance).

[2019-06-06 10:47] anion155 commented on #2041
It's not really a bug, because stub has logic to stub properties as well, I think it will conflict with this kind of methods.

[2019-06-07 13:36] fatso83 commented on #2041
Do you think you could describe a scenario with the hypothetical API you want? For instance, how would you at best want to test your id generator? That makes it easier to reason about a possible solution. And preferably in ES5: just forget decorators at the moment, as that kind of gets in the way of the discussion (still just a proposal).

---
This doesn't concern the feature you want, but general

[2019-06-07 13:40] fatso83 commented on #2040
I think we can keep it brief if we just embed the full picture as a runnable example for the user to play with: https://runkit.com/docs/embed

[2019-06-08 09:56] #2002 closed

[2019-06-08 17:21] anion155 commented on #2041
Made some changes. But I did not have time to make proper PR. Did not even tested it properly. Will do it a bit later. https://github.com/anion155/sinon

[2019-06-09 18:28] 76784 commented on #2003
@lucasfcosta

I don't disagree. I'm merely saying that the two things - documentation and tutorial - should be separate things. The dryness of javadocs is a plus. One is able to go there and find out, through this dry-language convention, _what_ the "thing" does. And of course, most importantly, it is comprehensive in nature. I don't want wordy sentence structure in my documentation - I want that

[2019-06-10 18:36] i0natan opened #2042 "Can Sinon stub a module that returns a function (if not, maybe a feature)?"
**Is your feature request related to a problem? Please describe.**

Not exactly a problem, rather a niche scenario that is maybe supported and if not - might be a feature

**Describe the solution you'd like**

Stubbing a module that returns a function, not an object - assuming we test A, and A calls B during execution, B file/module returns to A a function (not object) which A invokes:

[code]

We

[2019-06-10 20:46] mantoni commented on #2042
Everything you wrote is correct and you have the right understanding of how stubbing works with Sinon. Since there are good solutions for this problem, like the mentioned proxyquire, this is what we refer to when people ask about this feature. I‘d rather not extend Sinon in this direction.

You can find more articles and libraries on this topic on our how-to page: https://sinonjs.org/how-to/

[2019-06-10 20:46] #2042 closed

[2019-06-11 13:00] fgarcia opened #2044 "Set stub default response"
**Is your feature request related to a problem? Please describe.**
I can stub a whole object but I want a friendly way to notify the developer that he/she must define missing stubs (which tends to happen if code within a future)

For example:

[code]

Now weeks later the code is refactored, and myClone.foo(..) is called with new arguments. Currently it returns `undefined` by default.

**Describe t

[2019-06-11 14:23] mantoni commented on #2044
I just tried this and I think it does what you're asking for:

[code]

[2019-06-11 14:23] #2044 closed

[2019-06-11 19:31] brandonau24 commented on #2030
@fatso83 This ticket can now be closed.

[2019-06-11 19:31] #2030 closed

[2019-06-15 08:35] nathanlepori opened #2046 "Mock throws exception when called twice"
**Description**
Mock throws `ExpectationError: Anonymous mock already called once` when called twice, even with two preprogrammed returns()/resolves().

**To Reproduce**
[code]

**Expected behavior**
Mock should be able to be reusable, as far as I know. It would be useful in case the system under test calls the function multiple times. I know this works with stubs.

**Context**

* Library version:

[2019-06-16 18:04] rpgeeganage opened #2047 ".resolves(obj) returns modified obj for subsequent calls"
**Describe the bug**
`stubedMethod.resolves(obj)` returns the  same `obj` as a reference. In that case, the functionality which I want to test, modify the return value of `stubedMethod.resolves(obj)`,
next call for the `stubedMethod.resolves(obj)` returns the modified object. I think it should send a new and unmodified version of `obj`.

**To Reproduce**
Please execute the following code snippet.

[2019-06-17 21:16] mroderick commented on #2009
@aladdin-add are you still able to reproduce this?

[2019-06-19 11:29] aladdin-add commented on #2009
seems the link have been changed to https, and it's working for me, closing.

[2019-06-19 11:29] #2009 closed

[2019-06-22 10:56] mroderick commented on #2005
https://github.com/sinonjs/sinon/blob/master/CONTRIBUTING.md#compatibility

We could make that more prominent in the repository and on the website.

[2019-06-22 11:01] mroderick commented on #1657
That would be great! If it would be easier, feel free to try it out on one of the smaller libraries like `@sinonjs/samsam`, etc.

[2019-06-23 04:34] YegorZaremba opened #2050 "How to mock method which returns different values depending on the received arguments?"
Hi, thanks a lot for amazing Sinon library :)

I have a question (or maybe its a docs issue)

https://stackoverflow.com/questions/56721007/how-to-mock-method-which-returns-different-values-depending-on-the-received-argu

[2019-06-24 09:01] #2050 closed

[2019-06-24 09:01] fatso83 commented on #2050
We don't do support on the issue tracker, but you usually get an answer. I don't know the mocks API, unfortunately.

[2019-06-24 09:05] fatso83 commented on #2005
Yeah, that's essential info, which I think should be in the README and the website, not in the contriubution guidelines.

[2019-06-26 04:05] Jhoem commented on #2046
Perhaps you want to look into `Stubs` using `onCall`?

[2019-06-26 08:33] slim-hmidi commented on #2047
The `getAsyncStuff.setValue(asyncStuff)` will be called once :
[code]
And in your test you want it to be called 4 times:
[code]
So, it will be called once and it is the normal behavior.

[2019-06-26 10:16] rpgeeganage commented on #2047
@slim-hmidi ,
Thanks for the reply.
My problem is when we call
``
getAsyncStuffStub.getValue.resolves({
    value: 1
  });
``
it sends the updated object from 1st iteration. which is `value:2`
(I believe because of the object reference).
But I prefer to return same `value:1` because `getAsyncStuff.getValue()` function always resolves with a new object with value 1. (unmodifed object)
I'm sorry if

[2019-06-26 14:21] fatso83 commented on #2046
Not sure why anonymous mocks differ from the ones on objects, but adding `atLeast()` works:

https://runkit.com/fatso83/sinon-workbook/1.0.0

[2019-06-27 13:26] Sujimoshi commented on #562
Possible workaround
[code]

[2019-06-27 21:27] fatso83 commented on #562
@Sujimoshi Workaround for what exactly? It wouldn't help the original question and won't work for [ES Modules](https://www.ecma-international.org/ecma-262/9.0/#sec-modules). It might apply (depending on your toolchain) to code written using ES2015+ syntax which have been _transpiled_ into ES5, _emulating_ the immutability of ES Modules through non-configurable object descriptors.

What's the conte

[2019-06-27 22:44] fatso83 commented on #2014
Closed in 62937cc

[2019-06-27 22:44] #2014 closed

[2019-07-02 07:42] #2011 closed

[2019-07-10 08:01] bhalke opened #2056 "How are we solving polyfill methods ?"
I have method in file home.js

[code]

my sinon test case as below

[code]
[code]

[2019-07-10 12:31] fatso83 commented on #2056
We are trying to keep the GitHub issues list tidy and focused on bugs and feature discussions. This ticket looks like a usage question; please post it to [StackOverflow](https://stackoverflow.com/questions/tagged/sinon) and tag it with [`sinon`](https://stackoverflow.com/questions/tagged/sinon), so the bigger community can help answer your questions.

If you feel that your topic is an issue with S

[2019-07-10 12:31] #2056 closed

[2019-07-10 12:45] fatso83 commented on #2018
This is actually [documented in the stubs docs](https://sinonjs.org/releases/latest/stubs/#defining-stub-behavior-on-consecutive-calls). Feel free to add a how-to section or similar to our docs, or come up with a suggestion on how the docs could be improved to communicate this, as this is a recurring theme. You can see an example on the [onCall api docs](https://sinonjs.org/releases/latest/stubs#s

[2019-07-10 12:45] #2018 closed

[2019-07-14 19:23] fatso83 commented on #1951
People in this thread might be interested in knowing that @Feiyang1 implemented a fix for this by adding a `browser` field in `package.json`. See https://github.com/sinonjs/sinon/pull/2060#issuecomment-511099707

There should be no additional configuration needed for Webpack/Babel builds after this has shipped.

[2019-07-17 05:22] #2020 closed

[2019-07-17 10:39] fatso83 commented on #2020
@brewster1134 Just some thoughts on why this ended up dead in the water:
- **it has an unclear description**. you have to read quite a bit to see if this concerns an issue, a suggestion or as it actually seems: an initial draft at a _feature_ that could be added to Sinon
- **the code is not javascript**. I know the file names end in `.js`, but guessing from the pythonesque look I'm guessing that I

[2019-07-18 20:00] toymachiner62 opened #2061 "Migration guide from 6 -> 7?"
**Describe the bug**
Is there a migration guide to go from sinon version 6 -> 7? I see there are guides for all other versions. https://sinonjs.org/releases/v7.3.2/

**Screenshots**
If applicable, add screenshots to help explain your problem.
![image](https://user-images.githubusercontent.com/485782/61487958-b6350180-a96c-11e9-99d7-08e47ab4af08.png)

[2019-07-19 01:34] michaelisvy opened #2062 "Improve documentation on Stubs"
Hi,
first of all I'd like to thank you for the great work on Sinon. I've been using it for a few weeks and it helps us a lot having better tests.
I would be happy to work on this issue if you're interested.

**Is your feature request related to a problem? Please describe.**
I was discussing with my colleagues about the fact that the `sinon` documentation is often not enough and that we need to sea

[2019-07-19 05:39] fatso83 commented on #2061
Ah, well spotted. I checkd the [`semver:major`](https://github.com/sinonjs/sinon/issues?utf8=%E2%9C%93&q=label%3Asemver%3Amajor) and it seems #1926 (lolex upgrade) was the reason. Since Lolex 3 had a breaking API change (negative timers no longer possible), this validated a major release for Sinon as well.

You could also see it from the [Changelog](https://github.com/sinonjs/sinon/blob/master/CHA

[2019-07-19 05:53] fatso83 commented on #2062
Improvements to our docs are welcome. We have been discussing a different take on the API docs as well, more in line with how the Lodash docs work, but that's a huge undertaking not likely to happen anytime soon. Working beats perfect :-)

For extensive tutorial-like examples, we do have the [how-to section](https://sinonjs.org/how-to/), which have been in need of expansion for some time.

[2019-07-19 09:36] michaelisvy commented on #2062
thanks @fatso83 for the quick feedback. I see the example in the `How to Section` for stubs is pretty good. If that's ok for you, we will start by proposing a small contribution so we get used to the process (and you can see if that's suitable to your expectations).
I'll be working on it with my friend and colleague @lootster

[2019-07-22 23:33] archcorsair opened #2064 "Test unexpectedly failing after v7.2.0 release"
**Describe the bug**
Upgrading Sinon to latest v7 release causes some unexpected failures. The only relevant change I was able to identify was this PR: #1955 - Replacing `deep-equal.js` with `samsam.deepEqual`.
The tests pass on all versions up until 7.2.0, reverting to 7.1.1 (one release back) does not cause any issues and all tests pass.

**Error Observed:**
[code]
Test Producing Error:
[code]

[2019-07-23 07:42] Crowbrammer opened #2065 "sinon.restore() && sandbox.restore() not restoring fakes"
**Describe the bug**
Can't clear fakes `sinon.restore()` (nor `resetHistory`, `resetBehavior`, nor `reset`). I then tried creating a new sandbox, and clearing the sandbox. No dice. Is this intentional?

**To Reproduce**
[code]

**Expected behavior**
I expected `thing.lastArg` to be either `undefined` or `null`. It gives me `"Hi"`

**Screenshots**
N/a

**Context (please complete the following infor

[2019-07-23 07:42] PradeepSmg opened #2066 "Sinon.stub() not replacing the function"
Sinon.stub is not replacing the function instead calling the original function.

[https://stackoverflow.com/questions/57037277/sinon-stub-not-working-and-calling-the-original-function](url)

Actual output :

`
    at Client.connect (/Users/z003878/Network_API/NetworkApi/network-switch-configurations-v1-maccheckportbounce/node_modules/ssh2/lib/client.js:182:11)
    at Promise (/Users/z003878/Networ

[2019-07-23 10:54] fatso83 commented on #2064
Thank you for a generally great bug report. It has one major deficit, though: I cannot run your example for verification or tracking down the bug! It's not runnable on its own, and without a way of reproducing, it's hard to fix this.

Could you make a minimal candidate for reproduction? You don't have to replicate the entire original example, more like a simplification like `var myObject = { aMeth

[2019-07-23 10:59] fatso83 commented on #2065
As it is, it _looks like_ a bug, but to be honest, I am not totally sure about this. I remember a key point on fakes is that they were supposed to be immutable in some sense, but since they do have state (i.e. they know if they have been called), that immutability must be restricted to only the stubbing behavior, I assume.

@mroderick might be the right person to answer this ...

If this is the ri

[2019-07-23 10:59] fatso83 commented on #2066
We are trying to keep the GitHub issues list tidy and focused on bugs and feature discussions. This ticket looks like a usage question; please post it to [StackOverflow](https://stackoverflow.com/questions/tagged/sinon) and tag it with [`sinon`](https://stackoverflow.com/questions/tagged/sinon), so the bigger community can help answer your questions.

If you feel that your topic is an issue with S

[2019-07-23 10:59] #2066 closed

[2019-07-23 12:16] Crowbrammer commented on #2065
@fatso83 Much appreciated! The `.restore` docs mentioned fakes:

![image](https://user-images.githubusercontent.com/19522656/61707411-6f525d80-ad18-11e9-9f55-f999709f089d.png)

from [here](https://sinonjs.org/releases/v7.3.2/sandbox/). I look forward to learning how to implement this better, see the bug fixed, or see the docs changed.

[2019-07-23 13:22] geekyrajshri opened #2067 "Lodash security warning"
sinon is having vulneribility issue because of lodash vulnerability in its transitive dependencies.

<img width="651" alt="image" src="https://user-images.githubusercontent.com/8193580/61715532-f506f500-ad7a-11e9-884f-b1c415a0c1e2.png">

[2019-07-23 15:44] mantoni commented on #2067
Fixed in 67b8c0c085901b28e01bf9e007f95902cad3b614.

[2019-07-23 15:44] #2067 closed

[2019-07-23 17:23] archcorsair commented on #2064
@fatso83 Let me see how I can get an isolated, runnable example for reproduction

[2019-07-24 16:38] fatso83 commented on #2029
Hi, even this is a usage question, I looked into it now and there is a very easy fix. You are trying to stub an instance which has no property of its own with the keyname you are trying to stub out. Therefore, you can simply _assign_ the stub to the instance. Afterwards you don't need to clean it up, if you are no longer interested in the instance, but if you do find you need to you can just delet

[2019-07-24 16:38] #2029 closed

[2019-07-26 14:09] JamesIves opened #2069 "Unable to mock React useState"
**Describe the bug**
I'm unable to use Sinon to mock the React hook `useState`. I've tried multiple different ways but always end up with it not being mocked.

My code looks like this:

[code]

And using Sinon in my test I've tried to stub it like so:

[code]

Logging out `useState` in my function when my test runs seems to reveal that it never actually gets mocked by Sinon: `[Function: useState]`

[2019-07-26 23:11] dpmott commented on #2006
Thanks for the input. Will do.

[2019-07-26 23:49] fatso83 commented on #2069
We are trying to keep the GitHub issues list tidy and focused on bugs and feature discussions. This ticket looks like a usage question; please post it to [StackOverflow](https://stackoverflow.com/questions/tagged/sinon) and tag it with [`sinon`](https://stackoverflow.com/questions/tagged/sinon), so the bigger community can help answer your questions.

If you feel that your topic is an issue with S

[2019-07-26 23:49] #2069 closed

[2019-07-27 02:58] itmayziii opened #2070 "Documentation for Fakes seems lacking"
**Is your feature request related to a problem? Please describe.**
Reading through what a fake can and can not do is not clear from the documentation.

**Describe the solution you'd like**
Exact methods that are available to a Fake need to be documented.

First of all thank you for Sinon, I believe the library is powerful and has helped me write a lot of tests. What I'm requesting here is that Fak

[2019-07-27 12:01] #2024 closed

[2019-07-27 12:10] JamesIves commented on #2069
I did - but I don't understand how this doesn't fall under the guidelines for reporting issue?  From my understanding Sinon isn't working as intended in this use case based on the [stubbing documentation](https://sinonjs.org/releases/v7.3.2/stubs/) and previous cases where this same code works fine. If it's working as intended it's unclear as to why.

[2019-07-28 11:24] fatso83 commented on #2069
There is nothing that says Sinon is doing anything wrong here. And there are multiple ways the example could go wrong and they all relate to binding. Meaning that you probably bind the reference to useState in your client code before you stub out the export in the test.

This relates to module binding, probably using Babel and/or Webpack, which is not what this library is about.

We do have multip

[2019-07-28 11:25] fatso83 commented on #2069
P.S. Post a link to the stackoverflow question and I'll try to find time in making a runnable example project.

[2019-07-28 11:29] fatso83 commented on #2070
Fakes definitely need better docs. Maybe something to address in the proposed (still undecided, @mroderick?) October hackathon?

[2019-07-28 12:15] fatso83 commented on #2069
Here's a runnable demo how I stub out `useState` using only Sinon:
https://repl.it/@fatso83/React-library-stubbing-demo-sinon-only

I don't have access to a development environment on holiday, so I just coded it up in the browser using repl.it, and as I don't know how to configure it using Babel and all that jazz it is purely standard Ecmascript.

[2019-07-28 14:30] JamesIves commented on #2069
Really appreciate the example and the explanation!

[2019-07-28 15:42] fatso83 commented on #2069
No worries - at least now we can refer people to an example :)

BUT should it for some reason NOT work in your case, I assume it's due to some bundler/packer configuration issue, most probably Webpack. In that case, you might be interested in reading https://github.com/sinonjs/sinon/issues/1762 or the associated webpack thread https://github.com/webpack/webpack/issues/6979#issuecomment-479161284 t

[2019-07-28 18:19] #2026 closed

[2019-08-05 08:58] ffflorian opened #2071 "No release notes for 7.4.0"
Hi,
I don't know how this usually works with sinon releases but I was wondering why the latest release 7.4.0 doesn't have a release tag and no release notes. Is there a reason for this or am I just being too impatient? :smiley:

[2019-08-05 09:43] fatso83 commented on #2071
I might have forgot to push the tags after doing `npm publish` ...

[2019-08-05 11:43] hieuunguyeen commented on #2071
+1
Does 7.4.x have changes regarding `createStubInstance`? It's breaking our tests that were passing with 7.3.2

[2019-08-05 12:20] fatso83 commented on #2071
I'll try to revert @latest to 7.3.2, seeing that the release commits weren't pushed.

[2019-08-05 12:28] fatso83 commented on #2071
So 7.4.0 has been unpublished and 7.3.2 set as `latest`. But I might need to ping you again, @hieuunguyeen, as there were no intended breaking changes. The only reason for a version change, AFAIK, was that I bumped the Lolex and Nise version numbers, which added some API's.

Could you try to install the latest Sinon version from master by doing `npm install sinonjs/sinon` and try to run your tests

[2019-08-05 12:28] #2071 closed

[2019-08-05 15:25] simoneb commented on #2071
Not a good move to unpublish a version. You may know that there are lots of automated tools out there updating dependencies automatically. By unpublishing 7.4.0 you have broken our CI pipeline and probably quite a few others.

[2019-08-05 20:08] gajus commented on #2071
@fatso83 Can you please release version 7.4.0? Even if it is just re-releasing the current version. This broke our CI/CD pipeline for hundreds of packages.

[2019-08-06 09:13] fatso83 commented on #2071
Sorry about this noise. A bit rusty on the NPM intricasies. 7.4.1 has been released to remedy the situation.

@gajus It's not possible to reuse a version that has been unpublished, so 7.4.0 will stay gone.

[2019-08-07 00:51] michaelisvy commented on #2062
hi, apology on the delay. I was playing with Sinon and will try to propose some changes by Friday night.
Quick question: all the things I've tried with Sinon stubs work well, except in one case:
When using Sinon together with Jasmine, I understand that `sinon.restore()` should always be called before the `expect()` methods. Otherwise a failure to meet the `expect()` close will cause the next tests

[2019-08-07 12:59] fatso83 commented on #2064
Any updates?

[2019-08-07 13:13] fatso83 opened #2072 "Failing chromium test on updating deps"
* Sinon version : `master` (before updating) or branch `bug-updating-deps`
* Environment   : Chromium

**What did you expect to happen?**
All tests pass in all environments.

**What actually happens**
One test fails.

[code]

**How to reproduce**

Check out `master` (c8ff2b8f). Run `npm update && npm test`.

[2019-08-07 13:13] fatso83 opened #2085 "Upgrade of Browserify fails tests"
* Sinon version : `master` (before updating) or branch `bug-updating-deps`
* Environment   : Chromium

**What did you expect to happen?**
All tests pass in all environments.

**What actually happens**
One test fails.

[code]

**How to reproduce**

Check out `master` (671330ce). Run `npm update && npm test`.

Also pushed the updates: https://github.com/sinonjs/sinon/commit/c8ff2b8f6f438ccac7c5c3abd

[2019-08-07 13:44] fatso83 commented on #2072
Tried to manually revert one package at a time (tried browserify, rollup, ++), without seeing a difference.

Now trying the reverse using a script by just installing and testing one package at a time.

[2019-08-07 13:45] fatso83 commented on #2072
Success. `browserify@16.3.0` does something different.

[code]

[2019-08-07 13:50] fatso83 commented on #2072
I can't find anything suspicious in the diff: https://github.com/browserify/browserify/compare/v16.2.3...v16.3.0?

[2019-08-07 14:01] fatso83 commented on #2072
Wondering if this could be related (mentions sinon and lolex fake timers):
https://github.com/calvinmetcalf/process-nextick-args/commit/108596de940c73e78e0378a4084ab73ac846aed0

[2019-08-07 23:14] clemmy opened #2073 "sinon.stub().resolves(...) returns undefined when used with createStubInstance"
**Describe the bug**
This was working in 7.3.2, but broke in 7.4.1.
Basically, when calling `sinon.stub().resolves(...)` as part of the second argument of `sinon.createStubInstance()`, I get `undefined`. It works as a standalone, however.

**To Reproduce**
Steps to reproduce the behavior:
Run the following test:
[code]

**Expected behavior**
I would expect the `console.log(thing.test())` to output

[2019-08-08 01:18] michaelisvy commented on #2062
hi @fatso83, I was looking at the code samples in the documentation. I realise that the code samples in the `howto` section are much better than the ones in the `stubs` documentation (that is, the `stubs` link in the documentation section).
However, the `howto` section is harder to find. Would it make sense to refactor the `stubs` documentation using some examples inspired from the `howto` section

[2019-08-08 09:46] Zaky7 commented on #2061
Hi, I can help in this. if someone point me in right Direction. After googling I came to know after upgrading the _lolex in sinon_, we cannot **use negative timers**. So we need to avoid that. So how can I help you with the migration guide from sinon6 to sinon7 . Anything else I am missing. Or anyone else is creating a migration guide?. Please provide the link

[2019-08-08 10:56] fatso83 commented on #2061
@Zaky7 Please do, that would be great!

Add a file like the others here: https://github.com/sinonjs/sinon/tree/master/docs/guides
Contributing to docs: https://github.com/sinonjs/sinon/blob/master/docs/CONTRIBUTING.md

[2019-08-08 14:40] fatso83 commented on #2073
Not sure what could cause this in the changelog ... If you could run a `git bisect` run to find out which commit introduced this you can use this template: https://github.com/fatso83/git-bisect-scripts/blob/master/full-template.sh

[2019-08-09 05:44] mroderick commented on #2003
I’ve pinned this issue, so it doesn’t get closed by Stale bot

[2019-08-09 07:09] Zaky7 commented on #2061
I have created PR please Review.. Thanks

[2019-08-12 21:13] mroderick commented on #2003
If we do decide to go down this road, then I think we should use something like https://github.com/gajus/eslint-plugin-jsdoc ... the rules should probably go into `eslint-config-sinon`.

[2019-08-13 19:42] rgroothuijsen commented on #2073
`git bisect` reveals that `createStubInstance` was removed from the `sinon` API in [this commit](https://github.com/sinonjs/sinon/commit/ff505fc5d070f06d9ba3893cc86c9b3c09cc627b).

[2019-08-13 22:36] joebowbeer commented on #2073
I can verify that it was broken in 7.4.0 as well

[2019-08-14 16:18] kevinbosman commented on #2073
Also related to this, due to `createStubInstance` now using the (different) `Sandbox` implementation, it can no longer be called without explicitly specifying the `Sandbox` object binding.

So the following Typescript import no longer works (it worked in 7.3.2):
[code]
which results in `TypeError: Cannot read property 'stub' of undefined`

This could be resolved by replacing `this.stub` with `sand

[2019-08-15 17:02] fatso83 commented on #2073
This issue, and some others, has revealed to me that, while we have great unit test coverage, some integration tests for the API is missing. We should have a little test suite that just tests for and executes a base test for all of the exposed API methods. Then stuff like this wouldn't happen nilly-willy.

[2019-08-15 17:02] fatso83 commented on #2073
PS. Great work on digging into this guys!

[2019-08-17 01:46] 76784 commented on #2003
Sorry to dive in and out of this - it's really driven by some work priorities. And I don't know if this is the right thread, but just to offer some more feedback on the existing documentation...

As I look at something like spies: https://sinonjs.org/releases/v7.4.1/spies/

I happen to be working with Mocha, which has a different syntax from what is shown in the first chunk.

[code]
The fact that

[2019-08-18 00:18] fatso83 commented on #2003
Actually that test IS using Mocha's syntax, you're just using the more standard BDD style (of the two) :-) It's also shared by some other libraries, such as Buster JS, which Sinon's original creator also (co-)created. Anyway, it would probably make sense for someone to update all the examples to the most common style in use :-)

As to the other points, these are quite valid, and something we have

[2019-08-18 02:42] 76784 commented on #2003
What?? Now I'm going to have to go rant about the Mocha documentation.  :-)

[2019-08-21 09:22] itsmichaelwang opened #2077 "Sinon calledWith fails comparing ImmutableJS arguments that it deems equal"
**Describe the bug**
Sinon maintains that an ImmutableJS list generated two different ways are equal, but then when comparing arguments in a spy it maintains that they are not equal.

[code]

Maps and fromJS do not suffer from this issue.

[code]

Additionally, we get a really confusing stack trace:

[code]

Because both variables are serialized in the same way, it adds an additional layer of conf

[2019-08-21 11:06] fatso83 commented on #2077
Good bug report. I assume finding out what the root cause is would require digging into the details of assertion and what constitutes equality for different types of objects.

With regards to the stack trace I don't think we can do much about that. That probably reliance on some basic tostring representation of each object. We don't make special customizations for specific libraries. That would be

[2019-08-21 13:56] mroderick commented on #2077
What is the expectation library that you're using?

I suspect that the root cause of the problem comparing the values are in https://github.com/sinonjs/samsam/blob/master/lib/deep-equal.js somewhere

[2019-08-21 14:22] mroderick commented on #2072
It looks like a bug in `process-nextick-args` was fixed. Do you want to try again?

[2019-08-21 15:54] fatso83 commented on #2072
Nothing has happened in that project for more than a year, so it should still fail. We could update all other packages, but this would remain a blocker for updating browserify.

[2019-08-21 15:56] fatso83 commented on #2077
Does the explanation at https://github.com/sinonjs/samsam/blob/master/lib/deep-equal.js#L31 make sense to you, Michael?

[2019-08-21 18:38] itsmichaelwang commented on #2077
@mroderick The assertion library I was using above was sinon assertions, but I also got it to fail using `sinon-chai@3.2.2`:

[code]

[2019-08-21 18:53] itsmichaelwang commented on #2077
I can take a look at this after work. Does `.eq` and the matcher for `calledWith` not use the same equality comparator? I also tried doing `.eql` and it also says that they are equivalent, so I'm not sure if that means there's a third logic branch that's being used for argument comparison? I'll have to take a peek later.

[2019-08-21 21:00] fatso83 commented on #2077
We meant what assertion library were you using (not the sinon assert) to write `.eq(obj2)`, but since you mentioned sinon-chai, I deduce that you use `chai` :-)

The reason we have to ask is that we have no way of knowing how the eq method works in some external library works without checking its docs, and you certainly cannot assume it's equal to the one in Sinon's assertion. You have strict equa

[2019-08-21 23:20] fatso83 commented on #2077
I just tried verifiying your example, and it seems your description is incorrect, as it doesn't pass where your comments says it does. See https://runkit.com/fatso83/sinon-issue-2077

This fails:
[code]

which means it never gets to the sinon assertion.

The diff when run on the console is:
[code]

So basically, because `immutable1._tail.ownerID !== immutable2._tail.ownerID`, they are not deeply e

[2019-08-21 23:20] #2077 closed

[2019-08-23 10:53] #2041 closed

[2019-08-25 18:52] fatso83 commented on #2047
I never understood exactly what this issue was about until now, but now I see:
- you want stub#resolves(obj) to always return a superficially similar object in structure and content

That's up to you as a client to decide how you want to do, because choosing how to do that is likely to fail someones expectations, as it means you have to choose between:
- returning an immutable representation of th

[2019-08-25 18:52] #2047 closed

[2019-08-26 18:36] mroderick commented on #2046
This looks like it need a bit more investigation

[2019-08-27 06:16] mroderick commented on #2061
This has been resolved with #2074

[2019-08-27 06:16] #2061 closed

[2019-08-27 06:35] mroderick commented on #2003
I've tried to start this effort in https://github.com/sinonjs/samsam/pull/82. Your comments welcome, please post them on that PR.

[2019-08-29 00:27] michaelisvy commented on #2062
hi, I was just wondering if you had any feedback and if you're interested for me to work on a pull request :)

[2019-08-29 13:07] MichaelBlockchain commented on #1992
I am also experiencing this.

[2019-08-29 18:27] fatso83 commented on #2062
Sure ... I'm a bit swamped with a new family situation and such, so I can't go into specifics on this, but I think there should be room for a kind of introduction to Sinon through various use cases, as you mentioned. But that already exists in many places, and we have linked to several, I believe. You can rip of the best parts and distill it into a PR.

[2019-08-30 11:27] ivan-zakharchuk commented on #1683
Encountered the same issue, is there any plans on fixing this?

[2019-08-30 11:59] fatso83 commented on #1683
@ivan-zakharchuk If no-one is volunteering, there are no plans, no. If you want it fixed, there's a natural next step that could be taken ;-)

This is the offending commit: https://github.com/sinonjs/sinon/issues/1683#issuecomment-364794930

[2019-09-02 09:19] fatso83 commented on #2065
Was just bit by this bug myself, so this would be nice to get fixed.

[2019-09-02 09:20] mroderick commented on #2065
If no one else makes a PR for it in the next few days, I can see if I can find the time to fix it

[2019-09-02 09:43] fatso83 commented on #2065
I looked into this now and the docs are a bit misleading, as is the test above. It actually seems to do (almost) what it says, but let's just define some terms first:

**restore** - restoring a sandbox means restoring all stubbed functions to their original state
**reset** - means resetting the state of each of the created fakes (doesn't mean they are removed from the objects where they have repla

[2019-09-02 10:02] fatso83 commented on #2065
Closing this as not reproducible, but opening a new issue on the `fake.lastArg` bug.

To verify: https://runkit.com/fatso83/sinon-issue-2065

[2019-09-02 10:02] #2065 closed

[2019-09-02 10:04] fatso83 opened #2081 "fake.lastArg is not being cleared on reset"
**Describe the bug**
When using fakes (`sinon.fake()`), the `lastArg` state is not being cleared on `sandbox.reset`. This was found when researching #2065

**To Reproduce**
Run https://runkit.com/fatso83/sinon-issue-2065

**Expected behavior**
The test case should pass. Instead it fails on the `lastArg` test.

**Context (please complete the following information):**

* Library version: 7.4.1
* Env

[2019-09-02 11:48] mroderick commented on #2073
This has been fixed with #2073 and released as `sinon@7.4.2` 🚀

[2019-09-02 11:48] #2073 closed

[2019-09-05 16:16] AcehilmAbegrr commented on #1992
Although it isn't stubbing the logger, if you want to not have the logger showing up when you srun your tests you can exclude them from your tests in your script text command in package.json with -x + path like this:
[code]

[2019-09-05 18:08] alelavoie commented on #1739
After struggling with this all morning for a similar problem, I found a dirty workaround that works when async calls are stubbed.

The solution is to simply call await in the test context to give a chance to promises to resolve. Technically, you would need to call await once for every level in your promise chain.

Here is a version of your code that should work:

[code]

Note that I'm not "happy"

[2019-09-10 21:18] LuisRizo commented on #1889
To other people finding this issue, I believe I spotted the reason why sinon was not working when I encountered this same issue (stubs not working at all) and came up with the following steps when using sinon for testing an express server + chai:

1.  Always clean up app imports first: `decache('../../path/to/express/index.js');`
2. Create your stubs `functionStub = sinon.stub(someImport, 'someFun

[2019-09-11 16:12] jjoekoullas opened #2082 "FakeServer - mock fetch responses in addition to xhr"
**Is your feature request related to a problem? Please describe.**
A request can be made to an external resource via either the xhr or fetch apis.  Refactoring an application to use the fetch over xhr is rather simple, however if sinon is used as the mocking library this requires updating mocks used in tests for this purpose.  This leads to duplicated code, especially if an application intelligent

[2019-09-11 16:13] jjoekoullas commented on #2082
I'd be happy to work on a PR if this is something the maintainers would like to add.

[2019-09-13 06:50] WonJaesub opened #2083 "Stub S3 method doesn't work"
I try to write unit test with S3, but it was failed with error.
I typed typescript.

my test method
[code]

and my test file
[code]

and it is error message
`Argument of type '(operation: any, params: any, callback: any) => any' is not assignable to parameter of type '(operation: string, params: any) => string'.ts(2345)`

S3 has two of methods that are
[code]

Why can't the first method stub?

[2019-09-13 10:03] fatso83 commented on #2083
This is not a Sinon issue. The error you get is from the TypeScript system you are employing, and is not something we are involved in.

---
We are trying to keep the GitHub issues list tidy and focused on bugs and feature discussions. This ticket looks like a usage question; please post it to [StackOverflow](https://stackoverflow.com/questions/tagged/sinon) and tag it with [`sinon`](https://stacko

[2019-09-13 10:03] #2083 closed

[2019-09-15 17:04] rgroothuijsen commented on #2046
For anonymous mocks, `mock` delegates most of its behavior to `stub` (including `returns`) while maintaining its own `minCalls` and `maxCalls` counters that never get updated after calling `returns`. As noted, these counters can be updated by explicitly calling `atLeast` and `atMost`.

[2019-09-18 16:47] mantoni commented on #2082
Thank you for bringing this up. You're absolutely welcome to work on a PR for this 👍

It would indeed be nice to be able to use the same Sinon API for both, XHR and fetch. You would have to work on [nise](https://github.com/sinonjs/nise) which is bundled with Sinon. I'll close this issue because further discussions should happen on that repository, either in your PR, or should any questions pop up

[2019-09-18 16:47] #2082 closed

[2019-09-19 22:31] rensbaardman opened #2084 "error message for assert.calledWith breaks when representations are equal"
**Describe the bug**
When the (string) representations of the expected outcome and the actual outcome of e.g. `assert.calledWith()` are equal, the resulting error message is very confusing and hinting at a bug in the display logic. Instead of `<red>actual</red> <green>expected</green>` (with `<color>...</color>` my attempt at showing the expected terminal output color), it displays `<black>actual<

[2019-09-23 14:37] fatso83 commented on #2006
Closed by #2080 !

[2019-09-23 14:37] #2006 closed

[2019-09-23 14:55] #2081 closed

[2019-09-23 15:21] fatso83 commented on #1992
I don't know what I did when trying to reproce this, but I am not able to now. I am guessing I did something wrong, which is why it's important to document this using reproducible examples ...

This seems to work fine: https://runkit.com/fatso83/5d88e1f94606ec0013e12874

[2019-09-23 15:21] #1992 closed

[2019-09-23 21:41] fatso83 commented on #2085
As this bug manifested itself in the fake timers code, I assumed the bug was in Lolex, but alas, it turns out adding the same tests to lolex and upgrading Browserify (=>Chokidar=>fsevents=>process-nextick-args)  does _not_ manifest the bug. The same process-nextick-args version (2.0.0) was there (in Lolex), as well. Which points to this being the little code that is specific to Sinon's own `fake-t

[2019-09-24 06:41] fatso83 commented on #2085
Updating to Browserify 16.3 is not needed. It suffices to just do `npm install browserify@16.2` and it will update all the deps for that version, and that shows the same bug.

This is the diff in package-lock.json

<details>

[code]

</details>

Maybe it could be used to find the guilty suspect in `node_modules`:

<details>

[code]

</details>

[2019-09-24 08:04] mantoni commented on #2085
I've invested half an hour in diggin into this. While I can't explain why this happend, I came to the conclusion that Sinon does (and most probably always has been doing) the wrong thing regarding `setImmedate`.

Without upgrading anything, on the current master branch, create `issue.js` with this content:

[code]

Running it with `node_modules/.bin/mochify issue.js` prints

[code]

As you can see

[2019-09-24 08:32] mantoni commented on #2085
I have created a pull request with failing test cases demonstrating the issue. Unfortunately, I won't have time to continue to work on it today.

[2019-09-24 10:30] fatso83 commented on #2085
That's a pragmatic approach: just try and see if making Sinon not install the setTimeout makes the bug go away. I guess the actual fix might need to be done in Lolex.

[2019-09-25 02:07] jiayiming001 commented on #2083
good

[2019-09-25 13:54] fearphage opened #2087 "UX: Easy way to restore after spying on all methods of an object"
In #2027 we gained the ability to spy on all methods of an object. However the only way to restore the object is to use a sandbox or visit every method of the object. It would be a convenient and a better user experience if `spyOnEntireObj` returned a way to revert everything back to normal.

[2019-09-25 19:33] fatso83 commented on #2087
Are not these concerns also equally valid for `stubEntireObj`?

[2019-09-26 15:06] mroderick commented on #2087
Something like this?

[code]

or perhaps even

[code]

[2019-09-26 15:17] fearphage commented on #2087
I like `.restoreObject()`. It's more explicit about its intent and it won't be confused with normal `spy/stub.restore()`.

[2019-09-27 02:31] fearphage opened #2089 "Document sinon.restoreObject()"
This was added recently (#2088). It needs to be documented. We could use your help.

[2019-09-28 10:15] mantoni opened #2090 "Make spying, stubbing and restoring entire objects more strict"
As discussed in #2088, spying and stubbing entire objects should be more strict. The motivation is to fail early with meaningful exceptions to highlight superfluous or unintended invocations.

These cases should throw exceptions:

- falsy values being passed, currently ignored
- spying and stubbing should fail if there are no functions to replace on the object
- `sinon.restoreObject` should fail i

[2019-09-28 20:24] #2087 closed

[2019-10-01 11:54] franck-romano commented on #2089
Hi,

It will be a pleasure to contribute but I need a little help to know where to add the doc part.
Should it be located in `utils.md` ? :)

Thanks

[2019-10-01 13:32] fatso83 commented on #2089
That seems like the right place, yes. I would also link to it from the spies and stubs sections.

If you haven't seen it, here's where to start: https://github.com/sinonjs/sinon/blob/master/docs/CONTRIBUTING.md

[2019-10-01 15:41] peterjgrainger commented on #2070
@fatso83 I would like to have a go at this.

Would I be updating the file https://github.com/sinonjs/sinon/blob/master/docs/release-source/release/fakes.md ?

Also is the scope of this issue to define which functions are available on a mock object, maybe linking to the spy and stub documentation?

[2019-10-02 12:35] fatso83 commented on #2070
@peterjgrainger That's great! The scope and that approach seems reasonable ...

[2019-10-03 08:19] peterjgrainger commented on #2070
Looking at the code fakes seem to have the same API as a SinonSpy and only uses two functions from SinonStub 👇
[code]

I'll update the documentation to say that Fakes have all the functionality of Spies (with a link to the spy docs) plus the methods ☝️ from stubs (linking to the docs for those specific functions)

Shout 😮  if that doesn't look correct.

[2019-10-03 15:47] golergka commented on #1136
Does it mean that for very arrow method my class has, I have to write additional line like this:

[code]

Is there any way to stub all the arrow functions automatically when I create the stub for the class?

[2019-10-04 06:27] adhyapranata commented on #2040
Hi @fatso83 , is this good enough as a runnable example?

[https://runkit.com/adhyapranata/sinon-runkit-spy-demo](https://runkit.com/adhyapranata/sinon-runkit-spy-demo)

[2019-10-04 11:01] fatso83 commented on #2040
@adhyapranata That's great! But we can do even better, by actually putting it in a test harness that people are used to, so I forked it: https://runkit.com/fatso83/sinon-runkit-spy-demo
It's using a minimal implementation of the Mocha API to make it look familiar.

It would be cool if you could make a test on how this embeddding would look in our docs. To replace our current static examples, you c

[2019-10-04 11:49] adhyapranata commented on #2040
@fatso83 It would look like this (see image below). I use atom-dark for the theme and set the font-size to the same one as the static code example. What do you think?

![Spies - Sinon JS](https://user-images.githubusercontent.com/5564120/66205182-f340a280-e6d6-11e9-977c-a5c6825567ff.jpg)

[2019-10-04 15:20] fatso83 commented on #2040
@adhyapranata Wow, that looks awesome! It actually looks better than I would expect, so a good thing to style it inline with what we have.

I think a mix of [Jekyll relative Includes](https://jekyllrb.com/docs/includes/) (like `{% include_relative examples/some.file %}`) and using page attributes that [one can loop through](https://dmitryrogozhny.com/blog/how-to-add-custom-script-to-single-post-in

[2019-10-04 19:07] adhyapranata commented on #2040
@fatso83 That's just simply magnificent! Thank you for your detail guidance. I have updated the PR based on this. Please kindly have a look.

[2019-10-06 07:31] fatso83 commented on #2085
I tested this out in lolex later on. Not reproducible there, so we just need to add a check in the Sinon install code for timers.

[2019-10-06 18:38] fatso83 commented on #2064
@mantoni Didn't you report experiencing something like this happening in one of your projects?

[2019-10-06 18:53] archcorsair commented on #2064
Sorry for the lack of updates, I am no longer associated with the project that contained the issue. If anyone else can is experiencing the same issue, it would be great if they could provide an example for repro

[2019-10-07 00:31] #2090 closed

[2019-10-07 00:31] mantoni commented on #2064
@fatso83 I don‘t recall running into the same issue. I have upgraded to latest Sinon in a few projects without any issues.

[2019-10-07 00:32] #2040 closed

[2019-10-07 00:55] #2089 closed

[2019-10-07 01:00] fatso83 commented on #2064
Closing as cannot reproduce

[2019-10-07 01:08] fatso83 opened #2132 "restoreObject doesn't work on IE11 after stricter iteration"
**Describe the bug**
The tests fail when run using IE11 in Sauce Labs. This happened when merging the code to be more strict on object iteration. see https://circleci.com/gh/sinonjs/sinon/2203

**To Reproduce**
Steps to reproduce the behavior:
1. Set the sauce labs credentials.
2. `npm run test-cloud` and wait

**Expected behavior**
No fails

**Dump of errors**
<details>

[code]

</details>

[2019-10-07 02:11] fatso83 commented on #2085
I found the sinner after seeing the suggested fix (sinonjs/lolex#268 and sinonjs/lolex#269) did _not_ fix the issue. It seems it's a browserify transform that does this: https://github.com/browserify/insert-module-globals/releases/tag/v7.1.0

I found out by just running `mochify` on a single test in `test/util/fake-timers-test.js`. If I commented out the line that created the clock, `setImmediate`

[2019-10-07 02:15] fatso83 commented on #2085
Just to be clear:
the issue in this case is that something (Browserify) adds `setImmediate` to the global scope _after_ our detection code has already run, meaning that a lot of assumptions break. `setImmediate` starts out undefined and we expect it to be undefined at the end as well, but it has been set somewhere in the meantime.

[2019-10-07 07:27] mroderick commented on #2085
Thank you for investigating this 💯

[2019-10-07 09:52] fatso83 commented on #2085
I had to be part of the hackathon weekend, in some way, even if it was a bit async 😛 Nice to finally get to the nitty-gritty of this.

[2019-10-07 10:08] fatso83 commented on #2085
I think [I know the basic fix here](https://github.com/browserify/insert-module-globals/issues/79#issuecomment-389877565) (define `opts.insertGlobalVars`), but @mantoni needs to help me out a bit with the `mochify` bit.

I don't see any way of passing Browserify flags on the `mochify` command line. What I do see from the mochify docs is this:

I take it that means we need to replace our current CL

[2019-10-07 12:29] mshaaban0 commented on #2070
@peterjgrainger Thanks for looking into this. I can see similarities from `spy`, and `stub` e.g. `fakes.throws()` is same as `stub().throws()`

[2019-10-07 15:02] peterjgrainger commented on #2070
@mshaaban0 thanks for the input. I'll take a closer look

[2019-10-08 06:58] mantoni commented on #2085
@fatso83 I‘m happy to add more Browserify options to Mochify :)

Anyway, I think the issue lies within `brout`, a very old part of Mochify. It shims the `process` object for mocha and redirects `write` calls on stdout/stderr. This means that browserify detects the `process` object is being used and adds the global shim for it. It might be a good idea to run the internal browserify pipeline in Moch

[2019-10-08 17:52] fatso83 commented on #2085
Eh, I'd love to provide a PR, but I wouldn't know what I would be doing, so ...

[2019-10-08 17:53] fatso83 commented on #2070
You're not the only one to misunderstand the scope. Glad you cleared it up for us 😄

[2019-10-08 18:24] mantoni commented on #2085
No worries. I‘ll fix it, and will try to come up with a solution that is easier to understand than the current one. But it will take a few days until I find the time.

[2019-10-09 04:59] #2085 closed

[2019-10-09 11:55] mroderick opened #2134 "master fails in IE11"
**Describe the bug**

We cannot currently do a release of `master`, because tests fail in IE11.

Using `git bisect` and `npm ci && npm run test-cloud`, I have arrived at:

[code]

**To Reproduce**

1. Check out `master`
1. `npm ci`
1. `npm run test-cloud`

[code]

**Expected behavior**

No failed tests in browsers

[2019-10-09 13:42] fatso83 commented on #2134
@fearphage I assigned this to you, but that's only because you probably know the details best on what caused IE11 to crash on these changes. Feel free (as always, of course) to unassign yourself 🙋‍♂️

[2019-10-09 13:58] fatso83 commented on #2046
I think this should be closed or changed to update the docs. I guess it's not stated explicitly.

Also, we talked about removing mocks for Sinon 2, seeing that none of the maintainers care about them or use them, and seeing we really don't know enough about how they work these days, maybe it's time to revisit that idea 😄

[2019-10-09 14:21] WORMSS opened #2135 "Tag v7.5.0 is missing in the repo"
Change log and npm say we are on 7.5.0, but I can't find the tag and unsure which commit should have this tag.

[2019-10-09 15:26] fatso83 commented on #2135
Thanks. Fixed.

[2019-10-09 15:26] #2135 closed

[2019-10-10 09:33] kchanna opened #2138 "Issue with "mock.verify()" when called from within a Promise callback."
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**

`it("test case 100", () => {
        return getPromiseA()
            .then((A1) => {
                const mock1 = sinon.mock(MyObject);
                mock1.expects("someMethod").twice();
                A1.getPromiseB("1234").then((response) => {
                    mock1.restore();

[2019-10-10 10:31] carolstran opened #2139 "More inclusive language in the docs"
:wave: Sorry I know I'm ignoring all of your well-thought out templates, but I wasn't sure where this would land! Here me out...

I noticed that there are many instances of the word "simply" in your documentation. Unfortunately, words like this can make people feel frustrated and isolated while reading (myself included, hence the issue) - especially if they are facing issues.

If it's alright with

[2019-10-10 10:58] mroderick commented on #2139
Improving the language of the documentation would be most welcome! 👏

[2019-10-10 11:23] carolstran commented on #2139
Yay! I'm on it 🚀

And @mroderick, SAME 🙈 I've always been pretty careful about simply, but "just" has recently come to my attention especially because I tend to use it when explaining things out loud 😬

[2019-10-10 11:32] mroderick commented on #2139
"Can't we just ...?" 😱

[2019-10-10 18:40] fatso83 commented on #2139
I have a branch lying somewhere where I trimmed the docs to a single release for each major (basically the latest version for each major). I guess I should finish that ... :)

[2019-10-14 03:42] kchanna commented on #2138
This has been answered here: https://stackoverflow.com/questions/58325428/mock-verify-doesnt-fail-the-test-if-called-from-promise-callback/58369779#58369779

`it("test case 100", () => {
    let mock1 = null;
    return getPromiseA().then((A1) => {
        mock1 = sinon.mock(MyObject);
        mock1.expects("someMethod").twice();
        return A1.getPromiseB("1234");
    }).then(() => {
        /

[2019-10-14 03:42] #2138 closed

[2019-10-14 05:19] kchanna opened #2142 "Issue with stubbing a method of an ES6 class"
**Describe the bug**
I'm having trouble mocking an ES6 class at a prototype/class level.

I searched quite a bit and couldn't get a proper answer. Hence asking again.
I can stub an object easily, but not able to stub a prototype/class.

Is it even possible to stub a class method in Sinon?

**To Reproduce**
[code]
Tests
[code]

**Expected behavior**
I should be able to stub a class at a prototype/c

[2019-10-14 08:44] fatso83 commented on #2142
See meta-issue #1121  and the headline "Cannot stub arrow function in a class #1136".

You are able to do that. But your methods are not there. They are _instance_ properties of the object, not its prototype, so this has nothing to do with the prototype at all, which is why your tests fail. You need to revisit _what an arrow function does_ and _where_ your functions are actually created. Try using

[2019-10-14 08:44] #2142 closed

[2019-10-14 08:46] #2134 closed

[2019-10-14 09:09] mroderick commented on #2134
I've verified using `npm run test-cloud` that `master` now passes in all the tested runtimes!

[2019-10-14 09:12] kchanna commented on #2142
Aaarrgghhh.. Arrow functions... I keep forgetting that I've used "Arrow functions".
It has caused much heartache, before also.
Arrow functions can seriously lead you to look in another directions, if there's an issue.

It worked for me now. Thank you so much. The new code:

`/*
 * TestJSClass class
 */
export default class TestJSClass {
    methodE(a) {
        console.log("Called methodA with par

[2019-10-14 09:30] mroderick commented on #2138
Edited https://github.com/sinonjs/sinon/issues/2138#issuecomment-541493990 to add syntax highlighting

[2019-10-15 01:34] fearphage commented on #2132
Fixed by #2136

[2019-10-15 01:34] #2132 closed

[2019-10-15 07:42] cionnescu opened #2143 "How to spy/stub a class constructor?"
It seems that I can't spy/stub a class constructor and I need it to be able to write unit tests for a class.

* Sinon version : 7.5.0
* Environment   : NodeJS v10.16.3 / TypeScript 3.6.4

I would expect to be able to spy/stub a class constructor.

Sinon can't find the constructor. None of the following is working:
sinon.spy(Class);
sinon.spy(Class.prototype, 'constructor');
sinon.spy(Class, 'const

[2019-10-15 08:33] mantoni commented on #2143
We are trying to keep the GitHub issues list tidy and focused on bugs and feature discussions. This ticket looks like a usage question, please post it to the [`sinon` tag on Stack Overflow](https://stackoverflow.com/questions/tagged/sinon), so the bigger community can help answer your questions.

E.g. https://stackoverflow.com/questions/40271140/es2016-class-sinon-stub-constructor

If the class co

[2019-10-15 08:33] #2143 closed

[2019-10-17 17:19] mantoni commented on #2065
@oscarr-reyes Can you check if https://github.com/sinonjs/sinon/commit/54df7f7000a9db2dd05319daa49518f3cd5a5dd7 fixes it for you? I think it didn't make it into a new release yet.

[2019-10-17 19:57] fatso83 commented on #2065
@oscarr-reyes Are you able to make a reproducible example? We have not yet actually seen this bug. If you look at the thread above, and my explanation, you'll see the only bug we found was a single flag hadn't been cleared. Everything else works. So unless we actually see some proof, there is no bug (apart from the lastArg flag).

[2019-10-18 10:41] mantoni opened #2145 "Extract sandbox and fake into separate modules"
I'd like to propose a way how we can make sinon more modular and allow to compose a version that only has the `fake` API and no `spy`, `stub`, `mock` and ideally also has optional `lolex` and `nise`.

# Why?

The API surface of Sinon is too large and removing APIs is really difficult and a long process. Therefore, we might just keep it the way it is, have Sinon integrate all the features that we o

[2019-10-18 22:43] fatso83 commented on #2145
I like it. There are large swaths of the API I never use and I find needlessly complex. Having a minimal package would be nice, but I'm not all that confident anyone will use it, beside us 😅

If you can get away with just importing Sinon, instead of having to import 2-3 packages in ever test (yes, you could make a local module that you import instead), then I don't see it as likely it being used .

[2019-10-19 08:19] mroderick commented on #2145
All I would need from a package would be `sandbox` and `fake`.

[2019-10-19 09:10] mantoni commented on #2145
I thought about it some more. I think it would make sense to bundle `sandbox`, `fake` and `lolex`. Everything can be done with those 3 cross platform. `nise` is a browser library and doesn't make sense on Node, so it should be an add-on.

[2019-10-19 13:32] fearphage commented on #2145
For me, `spy` and `stub` are what make sinon. Why are we keeping `fake` and `sandbox`? Are they special? Do we just want to move everything out and make this a meta package?

[2019-10-20 11:58] mantoni commented on #2145
@fearphage `sandbox` is implicitly used all the time since `sinon` itself is a default sandbox. While `spy` and `stub` are the oldest parts of the API, the `fake`s where introduced later as a unified alternative to `spy` and `stub`. One of the key features of the `fake` API is that all instances have immutable behaviour. Tests that are written with the `fake` API only tend to be much cleaner. You

[2019-10-21 19:04] fearphage commented on #2145
Do we have any data about what people actually use in sinon stub/spy vs fake? Obscuring or moving out the thing that people use most frequently in sinon would be a decrease in developer experience.

I feels like there's more to this statement. What do you believe is difficult now? I've taught sinon to many individually and in classes. The concepts are pretty straight-forward. Do you want people to

[2019-10-21 23:07] mantoni commented on #2145
I think there is a missunderstanding here. I don't plan to remove any functionality from Sinon. I want to extract pieces into separate libraries that would still be part of Sinon, just like [we separated `lolex` and `nise`](https://github.com/sinonjs/sinon/issues/1453).

My personal preference is with the `fake` API and they concur with `spy` and `stub` because they solve the same problem (see [re

[2019-10-22 09:17] mroderick commented on #2145
That is very valuable! Please keep doing that!

[2019-10-24 03:04] fearphage commented on #2145
You're right. I didn't understand the intent. I'm totally on board with what you're proposing.

[2019-10-25 16:19] rodrigo-garcia-leon commented on #1429
Hi, is this issue still relevant? and if so can I work on it? 🧐

[2019-10-26 08:48] fatso83 commented on #1429
I think so. And if not, it would be useful to know so that we can close this. That's also helping :-)

[2019-10-27 09:22] steve-taylor commented on #1762
Speaking for myself, I test front-end code in the browser. It gives me an environment in which I can actually inspect the UI that I'm testing.

[2019-10-28 08:54] fatso83 commented on #1762
@steve-taylor I used to use Karma to achieve that earlier. Webpack in itself does no such thing; it just creates a bunde that can be used in your tests. Is there a specific loader/plugin you use to achieve running your tests in the browser?

[2019-10-29 00:34] michaelisvy commented on #2062
hello, we are preparing a pull request. Thanks!

On Tue, 29 Oct 2019 at 02:43, stale[bot] <notifications@github.com> wrote:

[2019-10-29 00:34] michaelisvy commented on #2062
hello, we are preparing a pull request, thanks!

[2019-10-29 15:06] rodrigo-garcia-leon commented on #1429
Hi @fatso83,

I checked the current version of the master branch (7.5.0) to understand how the sandbox functionality works.

Then I went through the list of issues you mentioned, and I noted the following:

1. Incorrect default config
This is now explained more in detail in the docs.

2. References removed fields
I found that `defaultConfig` is exported in`lib/sinon.js`.

3. Incomplete list of pro

[2019-10-29 15:11] fatso83 commented on #1429
See `docs/CONTRIBUTING.md` for details on how to contribute to the docs :-)

To address your question, update `docs/release-source/release/sandbox.md`. Everything under `docs/_releases` is in the past, so to say.

[2019-11-02 18:59] #1429 closed

[2019-11-07 21:18] AyanamiSan opened #2155 "fake timers don't work with vue (sinon 7.5.0, @vue/cli 3.12.0)"
**Describe the bug**
sinon.useFakeTimers does not affect new Date() when used with vue-cli webpack setup.

**To Reproduce**
* checkout https://github.com/AyanamiSan/sinon-fake-timers-test-vuecli
* `npm run test:unit`

first commit is clean vue cli setup, second is my minimal reproducer.

**Expected behavior**
Test passes - no matter how much real time passes, `new Date().getTime()` always returns

[2019-11-07 22:46] fatso83 commented on #2155
Of course, Sinon works fine. It's your setup that doesn't. Now I took 20 minutes to dig into this for you, as I assume there are plenty of people with some combination of JSDOM and Webpack issues that will stumble upon this.

Your setup has a lot of "magic", using a lot of implicit dependencies. The first thing I was thinking about was that you probably had some kind of DOM-thing going on that wou

[2019-11-07 22:46] #2155 closed

[2019-11-09 13:13] lukaswilkeer opened #2157 "Stubs donesn't work on specifics tests when existis multiple test cases"
**Describe the bug**
Same as #1119

**To Reproduce**
Wrote a pseudocode to reproduce the beheavior.
[code]

**Expected behavior**
Sinon to restore each stub after done was called when this doens't occur. In some test cases the stub doens't apply and the db ins invoked.

**Screenshots**
![error](https://user-images.githubusercontent.com/1809628/68529063-3cd56c00-02d9-11ea-8051-2094a7a3b723.png)

**

[2019-11-11 10:27] fatso83 commented on #2157
Hi, thank you for the issue. Are you able to to make a reproducible example? We cannot use this to debug the issue (which we have yet to see). And it's not really a duplicate, seeing the issue you linked to is fixed in v2+.

[2019-11-14 03:17] jjoekoullas commented on #2082
The more I've thought about this, the more it seems unfeasible without an API change.  I don't have interest in that level of change.  Sorry, I won't be sending that PR.

[2019-11-15 20:33] jlurena commented on #1572
The same issue occurs when stubbing across different contexts ('describe').

[code]

[2019-11-19 05:07] mrdulin commented on #1711
I am facing the same issue.
`a.ts`:
[code]
`funB.ts`:

[code]

`funcB.test.ts`:
[code]

Unit test result:

[code]

[2019-11-20 11:34] fatso83 commented on #1711
@mrdulin This is a closed issue, meaning it has been resolved. It is also unclear _what_ you are also seeing, explicitly, as it's not clear which environment you are running the code in (pure Node, Babel transforms, Webpack, ... etc).

 If you need some assistance in getting things working, please post it to [StackOverflow](https://stackoverflow.com/questions/tagged/sinon) and tag it with [`sinon`